{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}


{% block body %}
<main>
  <section>

<h4 id="title" class="mdc-typography--title bold">{% trans 'All Scores for ' %} {{ question.title|safe }}</h4>

<div class="admin-link">
  <a href="{% url 'research-discipline-question-index' discipline_title=discipline_title %}#{{ question.pk }}">{% trans 'Back to Question List' %}</a>
  <span style="padding-left:0.3em;padding-right:0.5em;">|</span><a href="{% url 'browse-database' %}">{% trans 'Back to Browse' %}</a>
</div>

Rationale<br>
score1, score2, etc...<br>

(Hover on a score to see the username of annotator)

  <ul>
    {% for a in annotations %}
      <li>{{ a.answer.rationale }}:
        <table>
        <tr>
          {% for s in a.scores %}
          <td title="{{ s.annotator__username }}">{{ s.score }} </td>
          {% endfor %}
        </tr>
        </table>

      </li>
    {% endfor %}
  </ul>

  </section>
  </main>
{% endblock %}
