{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}


{% block body %}
<main>
  <section>

<h4 id="title" class="mdc-typography--title bold">{% trans 'All Scores for ' %} {{ question.title|safe }}</h4>

<div class="admin-link">
  <a href="{% url 'research-index' %}">{% trans 'Back to List of Disciplines' %}</a>
  <span style="padding-left:0.3em;padding-right:0.5em;">|</span><a href="{% url 'browse-database' %}">{% trans 'Back to Browse' %}</a>
</div>

  <ul>
    {% for a in annotations %}
      <li>{{ a.answer.first_answer_choice_label }},{{ a.score }},{{ a.annotator.username }},{{ a.answer.rationale }}</li>
    {% endfor %}
  </ul>

  </section>
  </main>
{% endblock %}
