{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}

{% block stylesheets %}
<style nonce="{{ request.csp_nonce }}">
  td {
    border: 1px solid rgb(190,190,190);
    padding: 10px;
  }
</style>
{% endblock %}
{% block body %}
<main>
  <section>

<h4 id="title" class="mdc-typography--title bold">{% trans 'All Scores for ' %} {{ question.title|safe }}</h4>

<div class="admin-link">
    {% if discipline_title %}
      <a href="{% url 'research-discipline-question-index-by-discipline' discipline_title=discipline_title %}#{{ question.pk }}">{% trans 'Back to Question List' %}</a>
    {% elif assignment_id %}
      <a href="{% url 'research-assignment-question-index-by-assignment' assignment_id=assignment_id%}#{{ question.pk }}">{% trans 'Back to Question List' %}</a>
      <span class="admin-link--padded">|</span><a href="{% url 'question-list' assignment_id=assignment_id %}">{% trans 'Back to Assignment' %}</a>
    {% endif %}
</div>

ID - Rationale<br>
score1, score2, etc...<br>

(Hover on a score to see the username of annotator)

<ul>
{% for answerchoice_data in all_annotations %}
<li>{{ answerchoice_data.answerchoice }}</li>
<li>
    <ul>
      {% for a in answerchoice_data.annotations %}
        <li title="times shown: {{ a.times_shown }}, times chosen: {{ a.times_chosen }}">{{ a.answer.pk}} : {{ a.answer.rationale }}:
          <table>
          <tr>
            {% for s in a.scores %}
            <td title="{{ s.annotator__username }}">{{ s.score }} </td>
            {% endfor %}
          </tr>
          </table>

        </li>
      {% endfor %}
    </ul>
</li>
{% endfor %}
</ul>

  </section>
  </main>
{% endblock %}
