{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}

{% block stylesheets %}
{{ block.super }}
<style nonce="{{ request.csp_nonce }}">
  .sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
  }
  .padded-bottom {
    margin-bottom: 20px;
  }
  td {
    border: 1px solid rgb(190,190,190);
    padding: 10px;
  }
  .meta-data {
    color: gray;
    font-size: 9pt;
    margin-top: 10pt;
  }
</style>
{% endblock %}

{% block body %}
<main>
  <section>

    <div class="sticky-header mdc-theme--background">
      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Question' %}: {{ question.title|safe }}</h2>

      <div class="admin-link">
        {% if discipline_title %}
            <a href="{% url 'research-discipline-question-index-by-discipline' discipline_title=discipline_title %}#{{ question.pk }}">{% trans 'Back to Question List' %}</a>
        {% elif assignment_id %}
            <a href="{% url 'research-assignment-question-index-by-assignment' assignment_id=assignment_id %}#{{ question.pk }}">{% trans 'Back to Question List' %}</a>
            <span class="links-divider">|</span><a href="{% url 'question-list' assignment_id=assignment_id %}">{% trans 'Back to Assignment' %}</a>
        {% endif %}
        <span class="links-divider">|</span>{% blocktrans with count=formset.total_form_count %}Answers to score: {{count}}{% endblocktrans %}
        <span class="links-divider">|</span>{% blocktrans %}Total rationales scored for this answer choice by {{ annotator }}: {{ annotations_count }}{% endblocktrans %}
      </div>

      <aside id="dialog"
        class="mdc-dialog"
        role="alertdialog"
        aria-labelledby="assignment-parameters-label"
        aria-describedby="assignment-parameters-description">
        <div class="mdc-dialog__surface">
          <header class="mdc-dialog__header">
            <h2 id="assignment-parameters-label" class="mdc-dialog__header__title">
              {% trans 'Scoring Rationales' %}
            </h2>
          </header>
          <section id="assignment-parameters-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
            <p class="mdc-typography--body1">
              {% blocktrans %}Please use the table below to score the rationales for this answer choice to this question.<br><br>
              These rationales will be shown to students (hover on the text to see how many times they have already been shown).<br><br>
              The goal here is to score based on how <em>convincing</em> the rationale is, <em>even if it is for the wrong answer!</em><br><br>
              As a subject matter expert, your scores will help determine what rationales get shown to future students.<br><br>
              Thank you for your contribution in helping maintain the database!<br><br>
              - The SALTISE/S4 Team{% endblocktrans %}
            </p>
          </section>
          <footer class="mdc-dialog__footer">
            <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
          </footer>
        </div>
        <div class="mdc-dialog__backdrop"></div>
      </aside>

      <input form="annotate-form" type="submit" class="mdc-button mdc-button--raised padded-bottom" value="Update Scores">

      <i class="mdc-icon-toggle material-icons mdc-theme--primary icon-list"
          id="hide"
          role="button"
          title="{% trans 'Show/Hide' %}"
          aria-label="{% trans 'Show/Hide' %}" tabindex="0"
          aria-pressed="false"
          data-toggle-on='{"label": "{% trans 'Show' %}", "content": "unfold_more"}'
          data-toggle-off='{"label": "{% trans 'Hide' %}", "content": "unfold_less"}'>
          unfold_less
      </i>

      <i id="activate-dialog" class="mdc-theme--primary material-icons md-24 mdc-ripple-surface icon-list">help</i>

      {% if message %}
      <div class="message-box">
        <div class="message">{{ message }}</div>
        <i id="clear" class="clear mdc-theme--secondary material-icons md-24 mdc-ripple-surface icon-list">
            clear
        </i>
      </div>
      {% endif %}

      <div class="mdc-card">
        <div class="mdc-typography--body1">
          {{question.text|safe}}
        </div>

        <div class="hidable">
          {% if question.image %}
          <img class="question-image" src="{{ question.image.url }}" height="{{ question.image.height }}"
               width="{{ question.image.width }}" alt="question.image_alt_text">
          {% endif %}
          {% if question.video_url %}
          <div id="question-video">
            <object class="question-image" width="640" height="390" data="{{ question.video_url }}"></object>
          </div>
          {% endif %}

          <ul id="answer-choices">
            {% for label, choice in question.get_choices %}
              <li class="dense-list">{{ label }}. {{ choice|safe }}
              {% for c in question.answerchoice_set.all %}
                {% if forloop.counter == forloop.parentloop.counter %}
                  {% if c.correct %}
                    <i id="check" class="material-icons check-12">check</i>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

    </div>

    <div class="content">
      <form action="" method="post" id="annotate-form">
      {% csrf_token %}

      {{ formset.management_form }}

        <table>
          <thead>
            <tr>
              <td>Answer</td>
              <td>Score</td>
              <td>Rationale</td>
            </tr>
          </thead>

          <tbody>
            {% for form in formset %}
            {{ form.id }}
              <tr>
                <td>{{ form.instance.answer.first_answer_choice_label }}</td>
                <td>{{ form.score }}</td>
                <td title="ID: {{ form.instance.answer.pk }}">
                  {{ form.instance.answer.rationale }}
                  <p class='meta-data'>
                    {% trans 'Times shown: ' %}{{ form.instance.times_shown }}{% comment %}; {% trans 'Times chosen: '%}{{ form.instance.answer.answer_set.count }}{% endcomment %}
                  </p>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>

  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  var show = localStorage.getItem('collapse') === 'true';
  $('.hidable').toggle(show);
  $(".mdc-icon-toggle").each(function() {
    var el = bundle.iconToggle.MDCIconToggle.attachTo(this);
    el.on = !show;
  });
  bundle.addDialog();
  document.getElementById("hide").addEventListener("click", function() {
    $('.hidable').toggle();
    localStorage.setItem('collapse', $('.hidable').css('display')=='none' ? false : true);
  })
  document.getElementById("clear").addEventListener("click", function() {
    $(this).parent().remove();
  })
</script>
{% endblock %}
