{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}


{% block body %}
<main>
  <section>
<h4 id="title" class="mdc-typography--title bold">{% trans 'Disciplines' %}</h4>

<div class="admin-link">
  <a href="{% url 'browse-database' %}">{% trans 'Back to Browse' %}</a>
</div>
  <ul>
    {% for d in data|dictsortreversed:"num_questions" %}
      <li>
        <a href = "{% url 'research-discipline-question-index-by-discipline' discipline_title=d.discipline.title %}">{{ d.discipline.title }}</a> ({{ d.num_questions }} questions)
        <ul>
          {% for m in d.questions_by_type|dictsortreversed:"key" %}
          <li> <a href="{% url 'research-discipline-question-index-by-discipline-difficulty' discipline_title=d.discipline.title difficulty=m.key%}">{{ m.key }}</a> : {{ m.value }}</li>
          {% endfor %}
        </ul>
      </li>
    {% endfor %}
  </ul>
</section>
</main>

{% endblock %}
