{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}

{% block body %}
<main>
  <section>

    <h4 id="title" class="mdc-typography--title bold">{% trans 'Questions in ' %}
        {% if discipline_title %}{{ discipline_title|safe }}{% elif assignment_id %}{{ assignment_id }}{% endif %}</h4>

    <div class="admin-link">
      <a href="{% url 'research-index' %}">{% trans 'Back to List of Disciplines' %}</a>
      {% if assignment_id %}<span class="links-divider">|</span><a href="{% url 'question-list' assignment_id=assignment_id %}">{% trans 'Back to Assignment' %}</a>{% endif %}
      <span class="links-divider">|</span>{% blocktrans %}Number of rationales scored by {{ annotator }}: {{ annotations_count }}{% endblocktrans %}
    </div>

    <p>
      {% trans 'Below is a list of questions and their answer choices. The numbers in the brackets are meant to give you an idea of the state of the database as it stands right now.  The numbers are, in order:' %}
    </p>

    <ul>
      <li>Total number of rationales that have been scored by you for this question</li>
      <li>Total number of rationales that have been scored by all teachers, including yourself</li>
      <li>Total number of rationales that there are for this question</li>
    </ul>

    <p>
      {% trans 'These numbers are then broken down by answer choice below the Question ID. Click on the Answer Choice to add or update your scoring of the rationales.' %}
    </p>

    <ul>
      {% for item in questions %}
        <li id="{{ item.question.pk }}">({{ item.total_annotations_by_user }}/{{ item.total_annotations }}/{{ item.question.answer_set.count }}) - {{ item.question.title }}
        {% if discipline_title %}
            <a href="{% url 'research-all-annotations-for-question-by-discipline' discipline_title=discipline_title question_pk=item.question.pk %}"><i class="material-icons md-24 mdc-ripple-surface icon-list" title="see all scores">group</i></a>
            <a href="{% url 'research-flag-question-by-discipline' discipline_title=discipline_title question_pk=item.question.pk %}"><i class="material-icons md-24 mdc-ripple-surface icon-list" title="flag question as problematic">report</i></a>
        {% elif assignment_id %}
            <a href="{% url 'research-all-annotations-for-question-by-assignment' assignment_id=assignment_id question_pk=item.question.pk %}"><i class="material-icons md-24 mdc-ripple-surface icon-list" title="see all scores">group</i></a>
            <a href="{% url 'research-flag-question-by-assignment' assignment_id=assignment_id question_pk=item.question.pk %}"><i class="material-icons md-24 mdc-ripple-surface icon-list" title="flag question as problematic">report</i></a>
        {% endif %}
          <i id="activate-dialog-expert-{{ item.question.pk }}" class="material-icons md-24 mdc-ripple-surface icon-list" title="{{ item.question_expert_answers|length }} Expert answers">check_circle_outline</i>
          <aside id="dialog-expert-{{ item.question.pk }}"
          class="mdc-dialog"
          role="alertdialog"
          aria-labelledby="label"
          aria-describedby="description">
          <div class="mdc-dialog__surface">
            <header class="mdc-dialog__header">
              <h2 id="label" class="mdc-dialog__header__title">
              {% trans 'Expert Rationales' %}
              </h2>
            </header>
            <section id="description" class="mdc-dialog__body mdc-dialog__body--scrollable">
                <ul>
                  {% for a in item.question_expert_answers %}
                    <li name="expert" class="items-for-question">{{a.first_answer_choice_label}} : {{ a.rationale|safe|striptags }}</li>
                  {% endfor %}
                </ul>
            </section>
            <footer class="mdc-dialog__footer">
              <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
            </footer>
          </div>
          <div class="mdc-dialog__backdrop"></div>

          </aside>
          <a href="{% url 'research-fix-expert-rationale' question_id=item.question.pk %}"><i class="material-icons md-24 mdc-ripple-surface icon-list" title="{{ item.question_expert_answers|length }} Expert answers">add_comment</i></a>

          <ul>
            <li>
              <ul>
                {% for answerchoice in item.answerchoices|dictsort:"answer_label" %}
                  {% if discipline_title %}
                    <li><a href="{% url 'research-question-answer-list-by-discipline' discipline_title=discipline_title question_pk=item.question.pk answerchoice_value=answerchoice.answer_label|make_list|first %}">({{ answerchoice.annotation_count_by_user }}/{{ answerchoice.annotation_count }}/{{ answerchoice.frequency }}) - {{ answerchoice.answer_label|safe }}</a></li>
                  {% elif assignment_id %}
                    <li><a href="{% url 'research-question-answer-list-by-assignment' assignment_id=assignment_id question_pk=item.question.pk answerchoice_value=answerchoice.answer_label|make_list|first %}">({{ answerchoice.annotation_count_by_user }}/{{ answerchoice.annotation_count }}/{{ answerchoice.frequency }}) - {{ answerchoice.answer_label|safe }}</a></li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul>

  </section>
</main>
{% endblock %}
{% block scripts %}
<script>
  bundle.addDialog();
</script>
{% endblock %}
