{% extends 'students/email_base.html' %}

{% load i18n %}

{% block body %}

<h1>{% trans 'Sign in to your myDALITE account' %}</h1>

<h2>{% trans "Go to any of your assignments by clicking the links below:" %}</h2>

{% for group in groups %}

<h3>{{ group.title }}</h3>

{% for assignment in group.assignments %}

<a class="email-btn" href="{{ protocol }}://{{ host }}{{ assignment.link }}" target="_blank">{{ assignment.title }}</a>
  
{% endfor %}

{% endfor %}

<div class="backup-link">
  <p>
    {% trans "If the buttons above don't work, paste these links into your web browser:" %}
  </p>

  {% for group in groups %}

  <p>
    {{ group.title }}
    {% for assignment in group.assignments %}
    <br/>
    {{ assignment.title }}: <a href="{{ protocol }}://{{ host }}{{ assignment.link }}" target="_blank">{{ protocol }}://{{ host }}{{ assignment.link }}</a>
    {% endfor %}
  </p>

  {% endfor %}
</div>

{% endblock %}
