<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300">
  <style>
  body {
    background-color: #f4f4f4;
    padding: 10 20pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 11pt;
    color: #004266;
  }
  h1 {
    font-size:3.5rem;
    letter-spacing: -0.02em;
    color: #54c0db;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .email-btn {
    color: white;
    background-color: #54c0db;
    padding: 20px 25px;
    border-radius: 5px;
  }
  </style>
</head>

<body>
  {% block body %}{% endblock %}
</body>
