{% extends 'students/email_base.html' %}

{% load i18n %}

{% block body %}

<h1>{% trans 'New Assignment' %}</h1>

<p>{% trans "Clicking the button below will take you directly to the new assignment and log you in." %}</p>

<p style="text-align: center; margin: 50px 0;">
  <a class="email-btn" href="{{ protocol }}://{{ host }}{{ link }}" target="_blank">{% trans 'Go to assignment' %}</a>
</p>

<p>
  {% trans "If the button above doesn't work, paste this link into your web browser:" %}
</p>
<p>
  <a href="{{ protocol }}://{{ host }}{{ link }}" target="_blank">{{ protocol }}://{{ host }}{{ link }}</a>
</p>

{% endblock %}
