{
  "presets": [
    [
      "env", {
      "targets": {
        "browsers": ["last 4 versions", "iOS>=8"]
      },
      "debug": true,
      "modules": false
      }

    ]
  ],
  "plugins": [
    "external-helpers"
  ]
}
