{
  "presets": [
    [
      "env", {
      "targets": {
        "browsers": ["last 3 versions", "iOS>=8", "ie 11", "Safari 9.1", "not dead"]
      },
      "debug": true,
      "modules": false
      }

    ]
  ],
  "plugins": [
    "external-helpers",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
}
