[flake8]
ignore = D100 \  # missing docstring in module
         D101 \  # missing docstring in class
         D102 \  # missing docstring in method
         D103 \  # missing docstring in function
         E203 \  # whitespace before ':'
         F811 \  # redefining unused variable (thrown with pytest)
         W503 \  # linebreak before binary operator
         W504    # linebreak after binary operator
         F841 \  # local variable 'instances' is assigned to but never used
