*.ipynb
*.ipynb_checkpoints/
*.log
*.map
*.mypy_cache/
*.py[cdo]
*.rdb
*.tar.gz
.*requirements-timestamp
.DS_Store
.coverage
.data/
.pytest_cache/
.tern-port
.venv
/CACHE
/dalite/local_settings.py
/htmlcov
/log
/media
/node_modules
/redis*
/sent_emails
/src
/static
/venv/
celerybeat.pid
locust*
mysql_scripts/
partner*.png
pytest-logs.txt
scripts/
tags
yarn.lock
