*.py[cdo]
.coverage
.*requirements-timestamp
/dalite/local_settings.py
/log
/media
/static
src
locust*
/sent_emails
*.log
/node_modules
/CACHE
partner*.png
.pytest_cache/
.venv
tags
*.mypy_cache/
/htmlcov
/media
pytest-logs.txt
*.ipynb_checkpoints/
*.ipynb
scripts/
mysql_scripts/
.tern-port
.data/
/redis*
