language: python
python:
  - "3.8"
env:
  - DALITE_DB_NAME: dalite_ng
  - DALITE_DB_USER: dalite
  - DALITE_DB_PASSWORD: test key
  - DALITE_DB_HOST: 127.0.0.1
  - DALITE_DB_PORT: 3306
addons:
  mariadb: "10.4"
before_install:
  - mysql -e "create database if not exists test_$DALITE_DB_NAME"
install:
  - pip install -r requirements/dev-requirements.txt
  - |
    tools/gen_secret_key.py > dalite/local_settings.py
    echo 'PIWIK_DOMAIN_PATH = "matomo.mydalite.org"' >> dalite/local_settings.py
    echo 'PIWIK_SITE_ID = "1"' >> dalite/local_settings.py
    echo 'PASSWORD_GENERATOR_NONCE = "secret key"' >> dalite/local_settings.py
    echo 'import os' >> dalite/local_settings.py

    echo 'BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))' >> dalite/local_settings.py
    echo 'EMAIL_SUBJECT_PREFIX = "SALTISE/S4 @ Dawson College: "' >> dalite/local_settings.py
    echo 'DEFAULT_FROM_EMAIL = "no-reply-SALTISES4@dawsoncollege.qc.ca"' >> dalite/local_settings.py
    echo 'EMAIL_BACKEND = "django.core.mail.backends.console.EmailBackend"' >> dalite/local_settings.py
jobs:
  include:
    - stage: static code analysis
      name: safety
      script: safety check
    - stage: tests
      name: pytest
      script: pytest --cov --create-db --reruns 3
