@import "../variables";

#flagged-rationales {

  & #flagged-rationales__table {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: minmax(50px, max-content);

    & .header {
      align-items: center;
      background: rgba($mdc-theme-primary, 0.5);
      display: flex;
      font-size: 1.2rem;
      font-weight: bold;
      grid-row: 1;
      height: 100%;
      justify-content: center;
      width: 100%;
    }

    & .item {
      align-items: center;
      background: rgba($mdc-theme-primary, 0.2);
      display: flex;
      justify-content: center;
      padding: 10px 20px;

      &.rationale {
        justify-content: start;
      }

      &.item--pair {
        background: rgba($mdc-theme-primary, 0.1);
      }

      & svg {
        fill: none;
        height: 30px;
        width: 30px;

        &.show {
          fill: $error;
        }
      }

    }

  }

}
