{% extends 'peerinst/base.html' %}

{% load staticfiles i18n compress %}

{% block stylesheets %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'tos/css/styles.min.css' %}"></link>
    <style>
    .footnote {
      margin-top:15px;
      line-height: 1.1;
      font-style: italic;
      font-size: 10px;
    }
    </style>
  {% endcompress %}
{% endblock %}

{% block body %}
  <main>
    <section class='mdc-typography'>
      <h1 class="mdc-typography--display3">{% trans 'Email settings' %}
        <svg class="underline" width=150 height=4></svg>
      </h1>

      <form id="email-settings-form" action="{% url 'tos:email_update' role %}" method="post">
        {% csrf_token %}

        {% for email_type in email_types %}
        <div class="email-consent">
          <h2>{{ email_type.title }}</h2>
          <p>{{ email_type.description }}</p>
          {% if email_type.type == 'all' %}
          <div id="btn-toggle-all" class="btn-toggle">
          {% elif all_accepted %}
          <div class="btn-toggle">
          {% else %}
          <div class="btn-toggle btn-toggle--disabled">
          {% endif %}
            {% if email_type.accepted %}
            <input type="checkbox" name="{{ email_type.type }}-consent" checked></input>
            <div class="btn-toggle--selected">{% trans 'On' %}</div>
            <div >{% trans 'Off' %}</div>
            {% else %}
            <input type="checkbox" name="{{ email_type.type }}-consent"></input>
            <div>{% trans 'On' %}</div>
            <div class="btn-toggle--selected">{% trans 'Off' %}</div>
            {% endif %}
          </div>
        </div>
        {% endfor %}
        <input id="email-settings-save" type="submit" class="mdc-button mdc-button--unelevated" value='{% trans 'Save' %}'></input>
      </form>

    </section>
  </main>
{% endblock %}

{% block scripts %}
  <script src="{% static 'tos/js/email.min.js' %}" type="text/javascript"></script>
{% endblock %}
