{% extends 'peerinst/base.html' %}

{% load staticfiles i18n %}

{% block stylesheets %}
  {% if user.student %}
  <link href="{% static 'peerinst/css/student.min.css' %}" rel="stylesheet">
  {% endif %}
{% endblock %}

{% block body %}
  <main>
    <section class='mdc-typography'>
      <h1 class="mdc-typography--display3">{% trans 'Terms of Service' %}
        <svg class="underline" width=150 height=4></svg>
      </h1>

      <h2 class='mdc-typography--display1'>{% trans 'Sharing required' %}</h2>

      <p>
        {% blocktrans %}
        You must agree to share created content in the Terms of Service (accessible from your account) in order to access this page.
        {% endblocktrans %}
      </p>
    </section>
  </main>
{% endblock %}

{% block scripts %}
  {% if user.student %}
  <script src="{% static 'peerinst/js/student.min.js' %}"></script>
  <script nonce="{{ request.csp_nonce }}">
    window.addEventListener("load", function() {
      student.initStudentHeader(
        "{% url 'student-get-notifications' %}"
      )
    });
  </script>
  {% endif %}
{% endblock %}
