{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}
{% block body %}
<main>
  <section>
    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'New Collection of Assignments' %}</h2>

    <aside id="dialog"
      class="mdc-dialog"
      role="alertdialog"
      aria-labelledby="assignment-parameters-label"
      aria-describedby="assignment-parameters-description">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 id="assignment-parameters-label" class="mdc-dialog__header__title">
            {% trans 'Create a new Collection of Assignments' %}
          </h2>
        </header>
        <section id="assignment-parameters-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
          <p class="mdc-typography--body1">
            {% blocktrans %}
            Please use this page to make a collection of assignments. Please provide what discipline this collection would be most pertinent for,
            as well as a description which would help your colleagues understand how best to incorporate it into their pedagogy.
            <br><br>
            - The SALTISE/S4 Team{% endblocktrans %}
          </p>
        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
    <i id="activate-dialog" class="mdc-theme--primary material-icons md-24 mdc-ripple-surface icon-list">help</i>

<form action="" method="post">
  {% csrf_token %}
  {{ form.as_p }}
      <input type="submit" value="Save">
      <input type="hidden" name="owner" value="">
</form>

</section>
</main>
{% endblock %}
{% block scripts %}
<script nonce="{{ request.csp_nonce }}">
  bundle.addDialog();
</script>
{% endblock %}
