{% extends 'peerinst/base.html' %}

{% load staticfiles compress i18n %}

{% block stylesheets %}
{% compress css %}
<link href="{% static 'peerinst/css/collection.min.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}
{% block body %}
<main>
<section>
<h1 class="mdc-typography--display3">{% trans 'Browse Collections' %}
  <svg class="underline" width=150 height=4></svg>
</h1>

  {% if user.is_staff %}
    <div class="admin-link"><a href="{% url 'admin_index_wrapper' %}">Click here to access admin</a></div>
  {% endif %}

<div class="search">
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    <label class="mdc-floating-label" for="search-bar">{% trans 'Search' %}</label>
    <input class="mdc-text-field__input" id="search-bar" oninput="search()">
    <div class="mdc-notched-outline">
      <svg>
      <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
    {% trans 'The collection list will be filtered for titles that contain the above string.' %}
  </p>
</div>

<ul>

{% for obj in object_list %}
<li class="dense-list searchable">
<div class="mdc-card" id="card-{{ obj.id }}" {% if obj.featured == True %}
     style="background-color:powderblue;"  {% endif %}>
  <div class="mdc-typography--title bold">
    {{ obj.title }}
  </div>

  <div class="mdc-typography--caption">
    {% trans 'Created by' %} {{ obj.owner.user.username }}
  </div>

  <div class="mdc-typography--body1" style="margin-top:5px;">
    {{ obj.description }}
  </div>

  <div class="mdc-card__actions">

    <div class="mdc-card__action-buttons" style="color:grey;">
      <div class="mdc-typography--caption">
        <div>
          {% trans 'Discipline' %}: {{ obj.discipline }}
        </div>
        <div>
          {% trans 'Followers' %}: {{ obj.followers.count }}
        </div>
        <div>
          {% trans 'Published on' %} {{obj.created_on}}
        </div>
      </div>
    </div>

  <div class="mdc-card__action-icons">


    <i class="mdc-icon-toggle material-icons mdc-theme--primary follower-button"
        role="button"
        aria-pressed="false"
        aria-label="Add to favorites" tabindex="0"
        {% if teacher in obj.followers.all %}
        data-toggle-off='{"label": "Remove from favourites", "content": "favorite"}'
        data-toggle-on='{"label": "Add to favourites", "content": "favorite_border"}'
        {% else %}
        data-toggle-on='{"label": "Remove from favourites", "content": "favorite"}'
        data-toggle-off='{"label": "Add to favourites", "content": "favorite_border"}'
        {% endif %}
        data-collection-pk="{{obj.pk}}"
        onclick="toggleFollower({{ obj.pk }})">
        favorite_border
    </i>

  </div>
</div>
</div>

  </li>
{% empty %}
  <li>{% trans 'No collections available.' %}</li>
{% endfor %}
</ul>


</section>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'peerinst/js/search.min.js' %}"></script>
<script src="{% static 'peerinst/js/collection.min.js' %}"></script>
{% compress js inline %}
<script nonce="{{ request.csp_nonce }}">

collection.init("{% url 'teacher-toggle-follower' %}");

function changeURL() {
  window.location.assign = "www.google.com";
}
</script>
{% endcompress %}
{% endblock %}
