{% extends 'peerinst/base.html' %}

{% load compress staticfiles add_class i18n %}
{% block stylesheets %}

<script src="{% static 'peerinst/js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<style nonce="{{ request.csp_nonce }}">
.spinning {
  opacity: 0;
  vertical-align: sub;
  animation: 1s ease-in-out infinite spin;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-180deg); }
}
.mdc-chip__icon--trailing {
  pointer-events: none;
}
.image-field {
  padding-top:6px;
  padding-bottom: 6px;
  padding-left: 16px;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
.mdc-text-field__input {
    width:100%;
}
:not(.mdc-list--non-interactive)>.mdc-list-item::before, :not(.mdc-list--non-interactive)>.mdc-list-item::after{
  background-color: #F4F4F4;
}

</style>
{% endblock %}
{% block body %}
<main>
  <section>
    <div>
    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Update Your Collection of Assignments' %}</h2>

        <div class='field-container'>
          <div class='number-box'><span class='number'>?</span></div>
          <div class='field'>
            <p><small>
              {% blocktrans %}
              Please use this page to edit your collection of assignments. Please provide what discipline this collection would be most pertinent for,
              as well as a description which would help your colleagues understand how best to incorporate it into their pedagogy.
              {% endblocktrans %}
            </small></p>
          </div>
        </div>


<form id="collection-update-form" enctype="multipart/form-data" method="post">
    {% csrf_token %}


  <div class='field-container'>
    <div class='number-box flush-to-textbox'><span class='number'></span></div>
    <div class='field'>
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
        {{ form.title|add_class:"mdc-text-field__input" }}
        {{ form.title.label_tag|add_class:"mdc-floating-label"|cut:":" }}
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
        {{ form.title.help_text|safe }}
      </p>
      {{ form.title.errors }}
    </div>
  </div>

  <div class='field-container'>
    <div class='number-box flush-to-textbox'><span class='number'></span></div>
    <div class="field">
              <div class="mdc-text-field mdc-text-field--textarea mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
                {{ form.description|add_class:"mdc-text-field__input" }}
                {{ form.description.label_tag|add_class:"mdc-floating-label"|cut:":" }}
              </div>
              <p style="margin-left:16px;margin-right:16px;" class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
                {% trans 'Enter the description text.'  %}
              </p>

            </div>
  </div>


  <div class='field-container'>
    <div class='number-box'><span class='number'></span></div>
    <div class='field'>
      <div id='discipline_form'>
        <div class='mdc-form-field'>
          <label for='id_discipline'>{{ form.discipline.label }}:</label>
          <div class='mdc-select'>
            {{ form.discipline|add_class:"mdc-select__native-control" }}
            <div class="mdc-select__bottom-line"></div>
          </div>

        </div>

      </div>
      <p class="form-helper-text" aria-hidden="true">
        {{ form.discipline.help_text|safe }}
      </p>
      {{ form.discipline.errors }}
    </div>
  </div>

  <div class='field-container'>
    <div class='number-box'><span class='number'></span></div>
    <div class='field'>
      <div class='mdc-form-field' style="display:block;">
        <label for='id_image'>{{ form.image.label }}</label>
      </div>
      <div class='image-field'>
        {{form.image}}
        <span class='mdc-typography--body1 bold' id='warning' style='display:none;color:red;'>{% trans 'Max file size 1MB' %}</span>
      </div>
      <p class="form-helper-text" aria-hidden="true">
        {{ form.image.help_text|safe }}
      </p>
      {{ form.image.errors }}
    </div>
    </div>

<div class='field-container'>
  <div class='number-box'><span class='number'></span></div>
  <div class='field'>
    <div class='mdc-form-field'>
      <label for="private">{{ form.private.label }}</label>
      <div class="mdc-checkbox">
        {{ form.private|add_class:'mdc-checkbox__native-control'}}
        <div class="mdc-checkbox__background">
          <svg class="mdc-checkbox__checkmark"
               viewBox="0 0 24 24">
            <path class="mdc-checkbox__checkmark-path"
                  fill="none"
                  stroke="white"
                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
          <div class="mdc-checkbox__mixedmark"></div>
        </div>
      </div>
    </div>
    <p class="form-helper-text" aria-hidden="true">
      {{ form.private.help_text|safe }}
    </p>
    {{ form.private.errors }}
  </div>
  </div>
<div>
      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Your assignments' %}</h2>

      <p>{% trans 'These are the assignments for which you are an author, and have editing rights.' %}</p>

      {% if not owned_assignments %}
        <p>{% blocktrans %} You currently do not have editing rights on any assignments. Make a new assignment of your own with the form above to be able to modify it.{% endblocktrans %}</p>
      {% endif %}

      <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
        {% for a in owned_assignments %}
        <li role="separator" class="mdc-list-divider"></li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__graphic mdc-theme--primary">
              <a class="translate-4" href="{% url 'question-list' a.pk %}">
                <i class="mdc-theme--primary material-icons md-48">assignment</i>
              </a>
          </span>
          <span class="mdc-list-item__text mdc-theme--secondary bold">
            {{ a.identifier }}
            <span class="mdc-list-item__secondary-text">
              {{ a.questions.count }} {% trans "questions" %}
            </span>
          </span>
          <span class="mdc-list-item__meta">
            <i class="mdc-icon-toggle material-icons mdc-theme--primary follower-btn"
                role="button"
                aria-pressed="false"
                aria-label="Add to favorites" tabindex="0"
                {% if g in object.assignments.all %}
                data-toggle-off='{"label": "Remove from favourites", "content": "favorite"}'
                data-toggle-on='{"label": "Add to favourites", "content": "favorite_border"}'
                {% else %}
                data-toggle-on='{"label": "Remove from favourites", "content": "favorite"}'
                data-toggle-off='{"label": "Add to favourites", "content": "favorite_border"}'
                {% endif %}
                pk="{{ a.pk }}"
                ppk="{{ object.pk }}">
                favorite_border
            </i>
          </span>
        </li>
        {% endfor %}
        <li role="separator" class="mdc-list-divider"></li>
      </ul>




      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Followed Assignments' %}</h2>

      <p>{% blocktrans %} These are the assignments you are following, and for which reports will be available (based on your selected groups).{% endblocktrans %}</p>

      {% if not teacher.assignments.all %}
      <p>{% blocktrans %} You do not have any assignments. {% endblocktrans %}</p>
      {% endif %}

      <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
        {% for g in teacher.assignments.all %}
        <li role="separator" class="mdc-list-divider"></li>
        <li class="mdc-list-item">
          <span class="mdc-list-item__graphic mdc-theme--primary">
              <a class="translate-4" href="{% url 'question-list' g.pk %}">
                <i class="mdc-theme--primary material-icons md-48">assignment</i>
              </a>
          </span>
          <span class="mdc-list-item__text mdc-theme--secondary bold">
            {{ g.identifier }}
            <span class="mdc-list-item__secondary-text">
              {{ g.questions.count }} {% trans "questions" %}
            </span>
          </span>
          <span class="mdc-list-item__meta">


            <i class="mdc-icon-toggle material-icons mdc-theme--primary follower-btn"
                role="button"
                aria-pressed="false"
                aria-label="Add to favorites" tabindex="0"
                {% if g in object.assignments.all %}
                data-toggle-off='{"label": "Remove from favourites", "content": "favorite"}'
                data-toggle-on='{"label": "Add to favourites", "content": "favorite_border"}'
                {% else %}
                data-toggle-on='{"label": "Remove from favourites", "content": "favorite"}'
                data-toggle-off='{"label": "Add to favourites", "content": "favorite_border"}'
                {% endif %}
                pk="{{ g.pk }}"
                ppk="{{ object.pk }}">
                favorite_border
            </i>

          </span>
        </li>
        {% endfor %}
        <li role="separator" class="mdc-list-divider"></li>
      </ul>
      </div>



      <input class="mdc-button mdc-button--raised padded-top" type="submit" value="Update" />

      <input type="hidden" name="owner" value="">
</form>

</div>

</section>
</main>
{% endblock %}
{% block scripts %}

  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script nonce="{{ request.csp_nonce }}">

    [].forEach.call(document.querySelectorAll(".mdc-icon-toggle"), el => {
      bundle.iconToggle.MDCIconToggle.attachTo(el);
    });

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
            }
        }
    });


    function toggleAssignment(pk, ppk) {
      var posting = $.post("{% url 'collection-toggle-assignment' %}", {pk: pk, ppk: ppk});
      posting.done(function(data) {
        console.info(data);
      })
    }


    [].forEach.call(document.querySelectorAll(".follower-btn"), el => {
      el.addEventListener("click", () => {
        toggleAssignment(el.getAttribute('pk'), el.getAttribute('ppk'));
      });
    });


    function limitFileSize() {
      var imageForm = document.getElementById('id_image');
      var warning = document.getElementById('warning');
      imageForm.setAttribute('accept', '.png, .jpg, .jpeg, .gif');
      imageForm.onchange = function() {
        var fileSize = imageForm.files[0].size;
        if (fileSize > 1000000) {
          window.alert('File too big: '+fileSize/1000+'kB');
          warning.style.display = 'inline';
          $('.mdc-button').each(function() {
            $(this).attr('disabled',true);
          });
        }
        else {
          warning.style.display = 'none';
          $('.mdc-button').each(function() {
            $(this).attr('disabled',false);
          });
        }
        return;
      }
    }

    limitFileSize();

  bundle.addDialog();
  bundle.bindCheckbox();
  function enumerate(){
    var counter = 1;
    $('.number-box:visible').each(function() {
      var el = $(this).children('.number')[0];
      if (el.innerHTML == "") {
        el.innerHTML = counter;
        counter++;
      }
      return;
    });
  }
  enumerate();
</script>
{% endblock %}
