{% extends 'peerinst/base.html' %}

{% load static compress i18n %}

{% block stylesheets %}
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display2">
      {% trans 'Assignment' %}
      <i>{{ assignment.assignment.title }}</i>
      <br/>
      {% trans 'for group' %}
      <i>{{ assignment.group.name }}</i>
    </h1>
    <div class="admin-link">
      <a href="{% url 'group-details' group_hash %}">{% trans 'Back to group' %}</a>
    </div>
    <div id="assignment-due-date">
      <div>{% trans 'Due date' %}:</div>
      <div>{{ assignment.due_date }}</div>
      <div>
          <i onclick="scripts.editDueDateField()" title="Edit" class="material-icons md-24 mdc-ripple-surface icon-list">edit</i>
      </div>
    </div>
    <div id="question-list">
      
    </div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{% compress js inline %}
  <script src="{% static 'peerinst/js/group.min.js' %}"></script>
{% endcompress %}
{% endblock %}
