{% extends 'peerinst/group/base.html' %}

{% load i18n %}

{% block body %}
<main>
  <section>

    <h1 class="mdc-typography--display3">{% trans 'Group Details' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' teacher.id %}">{% trans 'Back to My Account' %}</a>
    </div>

    <div class="foldable foldable__unfolded">
      <h2 class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Characteristics' %}
      </h2>
      <div class="foldable--body">

        <div data-update-url="{% url 'group-details-update' group.hash %}">

          <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">info</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Name' %}
                <span name="name" class="mdc-list-item__secondary-text">
                  {{ group.name }}
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <i title="Edit" class="material-icons md-24 mdc-ripple-surface icon-list edit-btn">edit</i>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">title</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Title' %}
                <span name="title" class="mdc-list-item__secondary-text">
                  {{ group.title }}
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <i title="Edit" class="material-icons md-24 mdc-ripple-surface icon-list edit-btn">edit</i>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">calendar_today</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Created on' %}
                <span class="mdc-list-item__secondary-text">
                  {{ group.creation_date }}
                </span>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">share</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold no-icon">
                {% trans 'Signup link' %}
                <span class="mdc-list-item__secondary-text no-icon">
                {{ request.get_host }}{% url 'signup-through-link' group_hash=group.hash %}
                </span>
                <span class="mdc-list-item__secondary-text no-icon">
                {{ group.student_set.count }} {% trans 'students registered' %}
                </span>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">
                  account_balance
                </i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold no-icon">
                {% trans 'University ID needed' %}
                <span class="mdc-list-item__secondary-text no-icon">
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <div class="switch-button">
                  {% if group.student_id_needed %}
                  <input type="checkbox"
                         class="switch-button__input toggle-id-btn"
                         checked>
                  {% else %}
                  <input type="checkbox"
                         class="switch-button__input toggle-id-btn">
                  {% endif %}
                  <div class="switch-button__background"></div>
                  <div class="switch-button__button"></div>
                </div>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item verified_user">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">verified_user</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Teachers with access' %}
                <div name="teacher" class="mdc-list-item__secondary-text">
                  <ul>
                    {% for t in group.teacher.all %}
                    <li class="mdc-list-item__secondary-text">
                      {{ t.user.username }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </span>
              <span class="mdc-list-item__meta">
                <i title="Add" class="material-icons md-24 mdc-ripple-surface icon-list edit-btn">add</i>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>
            <li class="mdc-list-item"
                title="{% trans 'Quality evaluation for allowing rationale submission' %}">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">
                  assistant
                </i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Submission quality' %}
                <div class="mdc-list-item__secondary-text">
                  {% if group.quality %}
                  <ul class="p-left-0">
                    {% for criterion in assignment.quality.criterions.all %}
                    <li class="mdc-list-item__secondary-text">
                      {{ criterion.name }} v{{ criterion.version }}
                    </li>
                    {% endfor %}
                  </ul>
                  {% endif %}
                </div>
              </span>
              <span class="mdc-list-item__meta">
                <a href="{% url 'quality:edit' %}?type=validation&group={{ group.pk }}&next={{ request.path }}">
                  <i class="material-icons md-24 mdc-ripple-surface icon-list">
                    edit
                  </i>
                </a>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="foldable">
      <h2 class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Assignments' %}
      </h2>
      <div class="foldable--body">
        <ul id="assignment-list" class="mdc-list mdc-list--two-line">

          {% for a in assignments %}

          <li class="mdc-list-divider" role="separator"></li>
          <li class="mdc-list-item pointer assignment-link">
            <span class="mdc-list-item__graphic mdc-theme--primary">
              <i class="mdc-theme--primary material-icons md-48">work</i>
            </span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {{ a.assignment.title }}
              <span class="mdc-list-item__secondary-text">
                {% trans "Distributed: " %}{{ a.distribution_date }}
              </span>
              <span class="mdc-list-item__secondary-text">
                {% trans "Due date: " %}{{ a.due_date }}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <i class="delete-btn">delete</i>
              <a href="{% url 'group-assignment' a.hash %}">
              <i class="material-icons md-24 mdc-ripple-surface icon-list">edit</i>
              </a>
              <button class="gradebook-button"
                      data-group="{{ group.pk }}"
                      data-assignment="{{ a.pk }}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">
                  bar_chart
                </i>
              </button>
            </span>
          </li>
          {% empty %}

          <p class='mdc-typography--body1'> {% trans "There aren't any assignments for this group yet." %}</p>
          <p class='mdc-typography--body1'>
            {% trans 'If you are using myDALITE via LTI (e.g. through Moodle, or edX), and would like to get your teacher reports, you will need to generate a' %}
             <a href="{% url 'report_selector' %}">{% trans 'Custom Report' %}</a>.
          </p>

          {% endfor %}
          <li class="mdc-list-divider" role="separator"></li>

        </ul>
      </div>
    </div>

    <div class="foldable">
      <h2 class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Student list' %}
      </h2>
      <div class="foldable--body">
        <ul id="student-list" class="mdc-list mdc-list--two-line mdc-list--non-interactive">

          {% for student in group.students %}

          <li class="mdc-list-item">
            <span class="mdc-list-item__graphic mdc-theme--primary">
              <i class="mdc-theme--primary material-icons md-48">person</i>
            </span>
            <span class="mdc-list-item__text mdc-theme--secondary">
              {% if student.student.email %}
              {{ student.student.email }}
              {% else %}
              {{ student.student.username }}
              {% endif %}
              <span class="mdc-list-item__secondary-text">
                {% trans "Last login: " %}{{ student.student.last_login }}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <span class="bold f-size-20">{{ forloop.counter }}</span>
              </a>
            </span>
          </li>

          {% empty %}

          <p class='mdc-typography--body1'>{% trans 'No student has signed up yet' %}</p>

          {% endfor %}

        </ul>

      </div>
    </div>

  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    document.querySelectorAll(".edit-btn").forEach(btn => {
      btn.addEventListener("click", event => {
        group.editField(event, 'text', 'mdc-list-item__secondary-text')       
      })
    })
    document.querySelectorAll(".toggle-id-btn").forEach(btn => {
      btn.addEventListener("click", event => {
        group.toggleStudentIdNeeded(event, '{% url 'group-details-update' group.hash %}')
      })
    })
    const links = document.getElementsByClassName("assignment-link")
    const btns = document.getElementsByClassName("delete-btn")
    {% for a in assignments %}
    links[{{ forloop.counter0 }}].addEventListener("click", () => {
      window.location.href='{% url 'group-assignment' a.hash %}'
    })
    btns[{{ forloop.counter0 }}].addEventListener("click", event => {
      group.removeAssignment(event, '{% url 'group-assignment' a.hash %}')
    })
    {% endfor %}
  })
</script>
{% endblock %}
