{% extends 'peerinst/group/base.html' %}

{% load i18n %}

{% block stylesheets %}
{{ block.super }}
<!--
DataTables
https://datatables.net/extensions/buttons/examples/styling/jqueryui.html
-->
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.5.2/css/buttons.jqueryui.min.css">

<style nonce="{{ request.csp_nonce }}">
  .dataTables_wrapper {
    font-size: smaller;
  }
  .dt-button {
    font-family: inherit;
  }
  .small {
    font-size: smaller;
  }
  ul {
    padding-left:0px;
  }
</style>
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'Group Details' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' teacher.id %}">{% trans 'Back to My Account' %}</a>
    </div>

    <div class="foldable foldable__unfolded">
      <h2 class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Characteristics' %}
      </h2>
      <div class="foldable--body">

        <div data-update-url="{% url 'group-details-update' group.hash %}">

          <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">info</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Name' %}
                <span name="name" class="mdc-list-item__secondary-text">
                  {{ group.name }}
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <i title="Edit" class="material-icons md-24 mdc-ripple-surface icon-list edit-btn">edit</i>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">title</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Title' %}
                <span name="title" class="mdc-list-item__secondary-text">
                  {{ group.title }}
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <i title="Edit" class="material-icons md-24 mdc-ripple-surface icon-list edit-btn">edit</i>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">calendar_today</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Created on' %}
                <span class="mdc-list-item__secondary-text">
                  {{ group.creation_date }}
                </span>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">share</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold no-icon">
                {% trans 'Signup link' %}
                <span class="mdc-list-item__secondary-text no-icon">
                  {{ request.scheme }}&colon;//{{ request.get_host }}{% url 'signup-through-link' group_hash=group.hash %}
                </span>
                <span class="mdc-list-item__secondary-text no-icon">
                {{ group.student_set.count }} {% trans 'students registered' %}
                </span>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">
                  account_balance
                </i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold no-icon">
                {% trans 'University ID needed' %}
                <span class="mdc-list-item__secondary-text no-icon">
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <div class="switch-button">
                  {% if group.student_id_needed %}
                  <input type="checkbox"
                         id="toggle-id-btn"
                         class="switch-button__input"
                         checked>
                  {% else %}
                  <input type="checkbox"
                         id="toggle-id-btn"
                         class="switch-button__input">
                  {% endif %}
                  <div class="switch-button__background"></div>
                  <div class="switch-button__button"></div>
                </div>
              </span>
            </li>
            <li class="mdc-list-divider" role="separator"></li>

            <li class="mdc-list-item verified_user">
              <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">verified_user</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {% trans 'Teachers with access' %}
                <div name="teacher" class="mdc-list-item__secondary-text">
                  <ul id="teachers-with-access-list">
                    {% for t in group.teacher.all %}
                    <li class="mdc-list-item__secondary-text">
                      {{ t.user.username }}
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </span>
              <span class="mdc-list-item__meta">
                <i title="Add" class="material-icons md-24 mdc-ripple-surface icon-list edit-btn">add</i>
              </span>
            </li>
            {% comment %} <li class="mdc-list-divider" role="separator"></li> {% endcomment %}
            {% comment %} <li class="mdc-list-item" {% endcomment %}
                {% comment %} title="{% trans 'Quality evaluation for allowing rationale submission' %}"> {% endcomment %}
              {% comment %} <span class="mdc-list-item__graphic mdc-theme--primary"> {% endcomment %}
                {% comment %} <i class="mdc-theme--primary material-icons md-48"> {% endcomment %}
                  {% comment %} assistant {% endcomment %}
                {% comment %} </i> {% endcomment %}
              {% comment %} </span> {% endcomment %}
              {% comment %} <span class="mdc-list-item__text mdc-theme--secondary bold"> {% endcomment %}
                {% comment %} {% trans 'Submission quality' %} {% endcomment %}
                {% comment %} <div class="mdc-list-item__secondary-text"> {% endcomment %}
                  {% comment %} {% if group.quality %} {% endcomment %}
                  {% comment %} <ul class="p-left-0"> {% endcomment %}
                    {% comment %} {% for criterion in assignment.quality.criterions.all %} {% endcomment %}
                    {% comment %} <li class="mdc-list-item__secondary-text"> {% endcomment %}
                      {% comment %} {{ criterion.name }} v{{ criterion.version }} {% endcomment %}
                    {% comment %} </li> {% endcomment %}
                    {% comment %} {% endfor %} {% endcomment %}
                  {% comment %} </ul> {% endcomment %}
                  {% comment %} {% endif %} {% endcomment %}
                {% comment %} </div> {% endcomment %}
              {% comment %} </span> {% endcomment %}
              {% comment %} <span class="mdc-list-item__meta"> {% endcomment %}
                {% comment %} <a href="{% url 'quality:edit' %}?type=validation&group={{ group.pk }}&next={{ request.path }}"> {% endcomment %}
                  {% comment %} <i class="material-icons md-24 mdc-ripple-surface icon-list"> {% endcomment %}
                    {% comment %} edit {% endcomment %}
                  {% comment %} </i> {% endcomment %}
                {% comment %} </a> {% endcomment %}
              {% comment %} </span> {% endcomment %}
            {% comment %} </li> {% endcomment %}
            <li class="mdc-list-divider" role="separator"></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="foldable">

      <h2 id="assignments-title" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Assignments' %}
      <span>

      </span>
      </h2>
      <div class="foldable--body">
        <div id="collection-select"
                class="admin-link clickable"
                data-pk="{{ group.pk|safe }}">
                {% trans 'Add to Collection' %}
        </div>
        <div id="activate-dialog-1"
            class="admin-link clickable"
            data-pk="{{ group.pk|safe }}">
            {% trans 'Link a Course' %}
        </div>

        <aside id="dialog-1"
          class="mdc-dialog"
          role="alertdialog"
          aria-labelledby="assignment-parameters-label"
          aria-describedby="assignment-parameters-description">
          <div class="mdc-dialog__surface">
            <header class="mdc-dialog__header">
              <h2 id="assignment-parameters-label" class="mdc-dialog__header__title">
                {% trans 'Link Course' %}
              </h2>
            </header>
            <section id="assignment-parameters-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
              {% if is_connected_to_course %}
              <li role="separator" class="mdc-list-divider"></li>
              <li class="mdc-list-item" id="course-{{ connected_course.pk }}">
                <span class="mdc-list-item__graphic mdc-theme--primary">
                  <i class="clickable mdc-theme--primary material-icons md-48 course-icon"
                     data-course-pk="{{ connected_course.pk|safe }}">dns</i>
                </span>
                <span class="mdc-list-item__text mdc-theme--secondary bold">
                  <a class="mdc-theme--secondary course-title">
                    {{ connected_course.title|safe }}
                  </a>
                  <span class="mdc-list-item__secondary-text course-date">
                    {% trans "Created: " %} {{ connected_course.created_on }}
                  </span>
                </span>
                <span class="mdc-list-item__meta">
                  <button class="mdc-button mdc-button--raised course-toggle-link linked"
                          data-group-pk="{{ group.pk|safe }}"
                          data-course-pk="{{ connected_course.pk|safe }}"
                          data-name="{{ connected_course.title|safe }}">
                          {% trans 'Unlink' %}
                  </button>
                </span>
              </li>
              {% endif %}
              {% for course in owned_courses %}
              <li role="separator" class="mdc-list-divider"></li>
              <li class="mdc-list-item" id="course-{{ course.pk }}">
                <span class="mdc-list-item__graphic mdc-theme--primary">
                  <i class="clickable mdc-theme--primary material-icons md-48 course-icon"
                     data-course-pk="{{ course.pk|safe }}">dns</i>
                </span>
                <span class="mdc-list-item__text mdc-theme--secondary bold">
                  <a class="mdc-theme--secondary course-title">
                    {{ course.title|safe }}
                  </a>
                  <span class="mdc-list-item__secondary-text course-date">
                    {% trans "Created: " %} {{ course.created_on }}
                  </span>
                </span>
                <span class="mdc-list-item__meta">
                  <button class="mdc-button mdc-button--raised course-toggle-link unlinked"{% if is_connected_to_course %} disabled{% endif %}
                          data-group-pk="{{ group.pk|safe }}"
                          data-course-pk="{{ course.pk|safe }}"
                          data-name="{{ course.title|safe }}">
                          {% trans 'Link' %}
                  </button>
                </span>
              </li>
              {% endfor %}
            </section>
            <footer class="mdc-dialog__footer">
              <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Done</button>
            </footer>
          </div>
          <div class="mdc-dialog__backdrop"></div>
        </aside>

        <ul id="assignment-list" class="mdc-list mdc-list--two-line">
          {% for a in assignments %}
          <li class="mdc-list-divider" role="separator"></li>
          <li class="mdc-list-item pointer assignment-link">
            <span class="mdc-list-item__graphic mdc-theme--primary">
              <i class="mdc-theme--primary material-icons md-48">work</i>
            </span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {{ a.assignment.title }}
              <span class="mdc-list-item__secondary-text">
                {% trans "Distributed: " %}{{ a.distribution_date }}
              </span>
              <span class="mdc-list-item__secondary-text">
                {% trans "Due date: " %}{{ a.due_date }}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <i class="material-icons md-24 mdc-ripple-surface icon-list delete-btn">
                delete
              </i>
              <a href="{% url 'group-assignment' a.hash %}">
              <i class="material-icons md-24 mdc-ripple-surface icon-list">edit</i>
              </a>
              <button class="gradebook-button"
                      data-group="{{ group.pk }}"
                      data-assignment="{{ a.pk }}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">
                  bar_chart
                </i>
              </button>
            </span>
          </li>
          {% empty %}

          <p class='mdc-typography--body1'> {% trans "There aren't any assignments for this group yet." %}</p>
          <p class='mdc-typography--body1'>
            {% trans 'If you are using myDALITE via LTI (e.g. through Moodle, or edX), and would like to get your teacher reports, you will need to generate a' %}
             <a href="{% url 'report_selector' %}">{% trans 'Custom Report' %}</a>.
          </p>

          {% endfor %}
          <li class="mdc-list-divider" role="separator"></li>
        </ul>
      </div>
    </div>

    <div class="foldable">
      <h2 class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Student list' %}
      </h2>

      <div class="foldable--body">

    <table id='student-reputation-table' class="display">
      <thead>
        <tr>
          <th>{% trans 'Email' %}</th>
          <th>{% trans 'Last Login' %}</th>
          {% for criterion in student_reputation_criteria %}
            <th name="{{ criterion.name }}"
                title="{{ criterion.description }}">
              <svg fill="{{ criterion.colour }}">
                <use xlink:href="#{{ criterion.icon }}"></use>
              </svg>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
<div class="mdc-snackbar mdc-snackbar--align-start"
     aria-live="assertive"
     aria-atomic="true"
     aria-hidden="true">
  <div class="mdc-snackbar__text bold"></div>
  <div class="mdc-snackbar__action-wrapper" hidden>
    <button type="button" class="mdc-snackbar__action-button"></button>
  </div>
</div>
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.jqueryui.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"></script>

<script nonce="{{ request.csp_nonce }}">

  bundle.addDialog();

  $(document).ready( function () {
    $('table.display').each(function() {
      var table = $(this).DataTable({
        pageLength: 50,
        dom: '<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-tl ui-corner-tr"Bf>t<"fg-toolbar ui-toolbar ui-widget-header ui-helper-clearfix ui-corner-bl ui-corner-br"ip>',
        buttons: ['csv', 'colvis']
      });
    });
  });

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
          }
      }
  });

  $("#collection-select").one("click",
    () => {;
      group.createCollection(
        $("#collection-select").attr('data-pk'),
        "{% url 'collection-add-assignment' %}",
        "{% url 'collection-update' 0 %}"
      );
      return;
  });

async function courseLinking(
      linkUrl,
      unlinkUrl,
      linkTrans,
      unlinkTrans,
      linkedTo,
      unlinkedFrom,
      error,
      courseUrl,
    ) {

      //console.log(group);
      //const snackbar = await group.getSnack;

      function clickLink(el) {
        const posting = $.post(linkUrl, {
          group_pk: el.getAttribute("data-group-pk"),
          course_pk: el.getAttribute("data-course-pk"),
        });
        posting.done(function(data) {
          console.info(data);
          Array.from(document.getElementsByClassName("unlinked")).forEach((el) => {
            el.disabled = true;
          });
          const listElement = document.getElementById("course-"+el.getAttribute("data-course-pk"));
          const cloneListElement = listElement.cloneNode(true);
          listElement.parentNode.prepend(cloneListElement);
          const cloneButton = cloneListElement.getElementsByTagName("button")[0];
          const cloneLink = cloneListElement.getElementsByTagName("i")[0];
          cloneLink.setAttribute("data-course-pk",data.linked_course_pk);
          cloneLink.addEventListener("click", () => {
            window.location.assign(courseUrl.replace("0", el.getAttribute("data-course-pk")));
          });
          cloneListElement.setAttribute("id","course-"+data.linked_course_pk);
          cloneButton.setAttribute("data-course-pk",data.linked_course_pk);
          cloneButton.disabled = false;
          cloneButton.classList.remove("unlinked");
          cloneButton.classList.add("linked");
          cloneButton.innerHTML = "{% trans 'Unlink' %}";
          cloneListElement.getElementsByClassName("course-title")[0].innerHTML = data.linked_course_title;
          cloneListElement.getElementsByClassName("course-date")[0].innerHTML = "Created: " + data.linked_course_created_date;
          cloneButton.addEventListener("click", () => {
            clickUnlink(cloneButton);
          });
          const dataObjAssigned = {
            message: linkedTo + el.getAttribute("data-name"),
          };
          //snackbar.show(dataObjAssigned);
        });
        posting.fail(function(data) {
          console.info(data);
          const err = {
            message: error,
          };
          //snackbar.show(err);
        });
      }

      function clickUnlink(el) {
        const posting = $.post(unlinkUrl, {
          course_pk: el.getAttribute("data-course-pk"),
        });
        posting.done(function(data) {
          console.info(data);
          Array.from(document.getElementsByClassName("unlinked")).forEach((el) => {
            el.removeAttribute("disabled");
          });
          const listElement = document.getElementById("course-"+el.getAttribute("data-course-pk"));
          listElement.remove();
          const dataObjUnassigned = {
            message: unlinkedFrom + el.getAttribute("data-name"),
          };
          //snackbar.show(dataObjUnassigned);
        });
        posting.fail(function(data) {
          console.info(data);
          const err = {
            message: error,
          };
          //snackbar.show(err);
        });
      }

      [].forEach.call(document.querySelectorAll(".course-toggle-link"), el => {
        el.addEventListener("click", () => {
          if (el.classList.contains("unlinked")) {
            clickLink(el);
          } else {
            clickUnlink(el);
          }
        });
      });

      [].forEach.call(document.querySelectorAll(".course-icon"), el => {
        el.addEventListener("click", () => {
          window.location.assign(courseUrl.replace("0", el.getAttribute("data-course-pk")));
        });
      });

    }


  window.addEventListener("load", () => {
    group.initDetails({{ data|safe }});
    courseLinking(
      "{% url 'connect-group-course' %}",
      "{% url 'disconnect-group-course' %}",
      "{% trans 'Link' %}",
      "{% trans 'Unlink' %}",
      "{% trans 'Linked to ' %}",
      "{% trans 'Unlinked from ' %}",
      "{% trans 'Unable to contact server' %}",
      "{% url 'course_flow:course-detail-view' pk=0 %}",
    );
  })

</script>
{% endblock %}
