{% extends 'peerinst/base.html' %}

{% load i18n %}

{% block stylesheets %}
<style>
.credits {
  font-size: 9pt;
  color: darkgray;
}
.mdc-list-item__text {
  max-width: 100%;
}
.mdc-text-field__input {
  width: 100%;
}
.mdc-card .mdc-typography--body1 {
  font-size: small;
  line-height: 1.1rem;
}
.mdc-card__actions {
  padding: 0px;
  min-height: 0px;
}
.mdc-typography--caption {
  color: gray;
}
main {
  margin-bottom: 20px;
}
.centered {
  width: fit-content;
  margin: auto;
}
#break {
  color: lightgray;
  border-style: solid;
  border-width: 0.5px;
  margin-top:10px;
  margin-bottom:10px;
}
.external-content {
  background-color: white;
  margin: auto;
  margin-top:20px;
  width:fit-content;
}
.file-upload {
  border-left-style: solid;
  border-left-color: lightgray;
  border-left-width: 1px;
  padding-left: 14px;
  margin-top: 16px;
  margin-bottom: 4px;
}
.file-upload-label {
  font-size: 13px;
}
.mdc-button.delete {
  background-color: red !important;
  margin-left: 20px;
}
.with-follow {
  width: calc(100% - 48px);
}
.follow {
  position: absolute;
  right: 48px;
}
</style>
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">
      {% block heading %}{% endblock %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'pinax_forums:thread_updates' %}">{% trans 'Follows' %}</a>
      <span class="links-divider">|</span><a href="{% url 'teacher' request.user.teacher.id %}">{% trans 'Back to My Account' %}</a>
      {% block breadcrumbs %}{% endblock %}
    </div>

    {% block content %}{% endblock %}
  </section>
</main>
{% endblock %}

{% block scripts %}
{% block extrascripts %}{% endblock %}
{% endblock %}
