{% extends 'pinax/forums/base.html' %}

{% load i18n add_class %}

{% block heading %}
{% trans 'Edit Reply' %}
{% endblock %}

{% block breadcrumbs %}
<span class="links-divider">|</span><a href="{% url 'pinax_forums:thread' object.thread.id %}">{% trans 'Back to Post' %}</a>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {{ form.errors }}
  <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
    {{ form.content|add_class:"mdc-text-field__input" }}
    <label for="id_content" class="mdc-floating-label">{% trans 'Edit' %}</label>
  </div>
  {% if post.reply %}
  <input type="hidden" name="reply" value="{{post.reply.id}}"/>
  {% endif %}
  <input type="submit" class="mdc-button mdc-button--raised padded-top" value="{% trans 'Update' %}"/>
  <a class="mdc-button mdc-button--raised delete padded-top" href="{% url 'pinax_forums:post_delete_reply' post.pk %}">{% trans 'Delete' %}</a>
</form>
{% endblock %}
