{% extends 'pinax/forums/base.html' %}

{% load add_class compress i18n static %}

{% block heading %}
{% trans 'Create a New Post' %}
{% endblock %}

{% block breadcrumbs %}
  <span class="links-divider">|</span><a href="{% url 'pinax_forums:forums' %}">{% trans 'Back to Forums' %}</a>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}

  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.title|add_class:"mdc-text-field__input" }}
    {{ form.title.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  {{ form.title.errors }}

  <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
    {{ form.content|add_class:"mdc-text-field__input" }}
    <label for="id_content" class="mdc-floating-label">{% trans 'Content' %}</label>
  </div>
  {{ form.content.errors }}

  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.url|add_class:"mdc-text-field__input" }}
    {{ form.url.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  {{ form.url.errors }}

  <div class='file-upload'>
    {{ form.pdf.errors }}
    <p class="file-upload-label">{% trans 'Upload a pdf (max 2 MB)' %}</p>
    {{ form.pdf }}<span class='mdc-typography--body1 bold error-span' id='warning'>{% trans 'Max file size exceeded.' %}</span>
    <p class="mdc-typography--caption">{% trans 'You are responsible for content you post to the site.  <strong>Do not upload copyrighted materials.</strong>' %}</p>
  </div>

  <input type="submit" class="padded-top mdc-button mdc-button--raised" value="{% trans 'Create' %}"/>
</form>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js file forums__upload_limit %}
<script src="{% static 'pinax/forums/js/limit.min.js' %}"></script>
{% endcompress %}
{% endblock %}
