{% extends './base.html' %}

{% load i18n add_class %}

{% block heading %}
{% trans 'Create a New Post' %}
{% endblock %}

{% block breadcrumbs %}
  <span class="links-divider">|</span><a href="{% url 'pinax_forums:forums' %}">{% trans 'Back to Forums' %}</a>
{% endblock %}

{% block content %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.title|add_class:"mdc-text-field__input" }}
    {{ form.title.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
    {{ form.content|add_class:"mdc-text-field__input" }}
    <label for="id_content" class="mdc-floating-label">{% trans 'Content' %}</label>
  </div>
  <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
    {{ form.url|add_class:"mdc-text-field__input" }}
    {{ form.url.label_tag|add_class:"mdc-floating-label"|cut:":" }}
    <div class="mdc-notched-outline">
      <svg>
        <path class="mdc-notched-outline__path"/>
      </svg>
    </div>
    <div class="mdc-notched-outline__idle"></div>
  </div>
  {{ form.pdf.errors }}
  <div>
  {{ form.pdf }}
  </div>
  <input type="submit" class="padded-top mdc-button mdc-button--raised" value="{% trans 'Create' %}"/>
</form>
{% endblock %}
