{% extends 'pinax/forums/base.html' %}

{% load add_class compress i18n static %}

{% block heading %}
{{ thread.forum }}
{% endblock %}

{% block breadcrumbs %}
<span class="links-divider">|</span><a href="{% url 'pinax_forums:forum' thread.forum.pk %}">{% trans 'Back to Forum' %}</a>
{% endblock %}

{% block content %}
{% now "d M" as right_now %}

<div>
  <h2 class="mdc-typography--display1 mdc-theme--secondary with-follow">{{ thread.title }}
    <i class="mdc-icon-toggle material-icons mdc-theme--primary follow"
       role="button"
       aria-label="{% trans 'Follow' %}" tabindex="0"
       data-toggle-on='{"label": "{% trans 'Unfollow' %}", "content": "favorite"}'
       data-toggle-off='{"label": "{% trans 'Follow' %}", "content": "favorite_border"}'
       {% if subscribed %}
       aria-pressed="true"
       {% else %}
       aria-pressed="false"
       {% endif %}>
        favorite_border
    </i>
  </h2>
</div>

<p>{{ thread.content }}</p>
{% if thread.url %}
<div class="external-content">
  <object class="embedded-object" width="640" height="390" data="{{ thread.url }}"></object>
</div>
{% endif %}

{% if thread.pdf %}
<div class="external-content">
  <object class="embedded-object" type="application/pdf" data="{{ thread.pdf.url }}" width="700" height="905" typemustmatch></object>
</div>
{% endif %}

<div>
  <p class="mdc-typography--caption">{{ thread.author }} &middot; {{ thread.created }}</p>

  {% if request.user == thread.author and thread.editable %}
  <a class="mdc-typography--caption" href="{% url 'pinax_forums:post_edit_thread' thread.pk %}">{% trans 'Edit' %}</a>
  {% endif %}
</div>

<hr class='break'>

{% for p in posts %}
{% if not p.reply %}
<div class="mdc-card reply">

  <div class="mdc-typography--body1" >
    {{p.content|safe}}
  </div>

  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <div class="mdc-typography--caption">
        {% if p.created|date:"d M" != right_now %}
          {{ p.author }} &middot; {{ p.created|date:"SHORT_DATE_FORMAT" }}
        {% else %}
          {{ p.author }} &middot; {{ p.created|timesince }}
        {% endif %}
      </div>
    </div>

    <div class="mdc-card__action-icons">
      {% if can_create_reply %}
        <i data-post="{{p.id}}" class="material-icons md-18 icon-list mdc-ripple-surface mdc-theme--primary reply-btn">reply</i>
      {% endif %}
      {% if request.user == p.author and p.editable %}
        <a class="mdc-theme--primary" href="{% url 'pinax_forums:post_edit_reply' p.pk %}"><i class="material-icons md-18 icon-list mdc-ripple-surface mdc-theme--primary">mode_edit</i></a>
      {% endif %}
    </div>
  </div>
</div>

{% for r in p.reply_replies.all %}
<div class="mdc-card reply-to-reply">

  <div class="mdc-typography--body1">
    {{r.content|safe}}
  </div>

  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
        <div class="mdc-typography--caption white">
        {% if r.created|date:"d M" != right_now %}
          {{ r.author }} &middot; {{ r.created|date:"SHORT_DATE_FORMAT" }}
        {% else %}
          {{ r.author }} &middot; {{ r.created|timesince }}
        {% endif %}
      </div>
    </div>

    <div class="mdc-card__action-icons">
      {% if request.user == r.author and r.editable %}
        <a class="mdc-theme--primary" href="{% url 'pinax_forums:post_edit_reply' r.pk %}"><i class="material-icons md-18 icon-list mdc-ripple-surface white">mode_edit</i></a>
      {% endif %}
    </div>
  </div>

</div>
{% endfor %}

<div class="reply-form" id="reply-{{p.id}}">
  {% if can_create_reply %}
  <form method="post">
    {% csrf_token %}
    {{ reply_form.errors }}
    <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
      {{ reply_form.content|add_class:"mdc-text-field__input" }}
      <label for="id_content" class="mdc-floating-label">{% trans 'Reply' %}</label>
    </div>
    <input type="hidden" name="reply" value="{{p.id}}"/>
    <input type="submit" class="mdc-button mdc-button--raised" value="{% trans 'Reply' %}"/>
  </form>
  {% endif %}
</div>

<hr class='break'>
{% endif %}
{% endfor %}

{% if can_create_reply %}
<div class="post-form">
  <form method="post">
    {% csrf_token %}
    {{ reply_form.errors }}
    <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
      {{ reply_form.content|add_class:"mdc-text-field__input" }}
      <label for="id_content" class="mdc-floating-label">{% trans 'Post' %}</label>
    </div>
    <input type="submit" class="mdc-button mdc-button--raised padded-top" value="{% trans 'Post' %}"/>
  </form>
</div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js file forums__thread %}
<script src="{% static 'pinax/forums/js/thread.min.js' %}"></script>
{% endcompress %}

<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    document.getElementsByClassName("follow")[0].addEventListener("click", function() {
      thread.toggleFollow(this, "{% url 'pinax_forums:subscribe' thread.id %}", "{% url 'pinax_forums:unsubscribe' thread.id %}");
    })

    const replyButtons = document.getElementsByClassName("reply-btn");
    [].forEach.call(replyButtons, function(el) {
      el.addEventListener("click", function() {
        thread.showReplyForm('reply-'+el.getAttribute('data-post'));
      });
    });
  })
</script>
{% endblock %}
