{% extends './base.html' %}

{% load i18n add_class %}

{% block heading %}
{{ thread.forum }}
{% endblock %}

{% block breadcrumbs %}
<span class="links-divider">|</span><a href="{% url 'pinax_forums:forum' thread.forum.pk %}">{% trans 'Back to forum' %}</a>
{% endblock %}

{% block content %}
{% now "d M" as right_now %}

<h2 class="mdc-typography--display1 mdc-theme--secondary">{{ thread.title }}</h2>

<p>{{ thread.content }}</p>
{% if thread.url %}
<div class="external-content">
  <object class="embedded-object" width="640" height="390" data="{{ thread.url }}"></object>
</div>
{% endif %}

{% if thread.pdf %}
<div class="external-content">
  <object class="embedded-object" type="application/pdf" data="{{ thread.pdf.url }}" width="700" height="905" typemustmatch></object>
</div>
{% endif %}

<div>
  <p class="mdc-typography--caption">{{ thread.author }} &middot; {{ thread.created }}</p>

  {% if request.user == thread.author and thread.editable %}
  <a class="mdc-typography--caption" href="{% url 'pinax_forums:post_edit_thread' thread.pk %}">{% trans 'Edit' %}</a>
  {% endif %}
</div>

<hr id='break'>

{% for p in posts %}
<div class="mdc-card">

  <div class="mdc-typography--body1" >
    {{p.content|safe}}
  </div>

  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <div class="mdc-typography--caption">
        {% if p.created|date:"d M" != right_now %}
          {{ p.author }} &middot; {{ p.created|date:"SHORT_DATE_FORMAT" }}
        {% else %}
          {{ p.author }} &middot; {{ p.created|timesince }}
        {% endif %}
      </div>
    </div>

    <div class="mdc-card__action-icons">
      {% if request.user == p.author and p.editable %}
        <a class="mdc-theme--primary" href="{% url 'pinax_forums:post_edit_reply' p.pk %}"><i class="material-icons md-18 mdc-ripple-surface mdc-theme--primary">mode_edit</i></a>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% if can_create_reply %}
<form method="post">
  {% csrf_token %}
  {{ reply_form.errors }}
  <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
    {{ reply_form.content|add_class:"mdc-text-field__input" }}
    <label for="id_content" class="mdc-floating-label">{% trans 'Reply' %}</label>
  </div>
  <input type="submit" class="mdc-button mdc-button--raised" value="{% trans 'Post' %}"/>
</form>
{% endif %}

<!--
<div class="centered">
{% if subscribed %}
<form id="follow" action="{% url 'pinax_forums:unsubscribe' thread.pk %}" method="post">
  {% csrf_token %}
  <button form="follow" type="submit" class="padded-top mdc-button mdc-button--raised">{% trans 'Unfollow' %}</button>
</form>
{% else %}
<form id="follow" action="{% url 'pinax_forums:subscribe' thread.pk %}" method="post">
  {% csrf_token %}
  <button form="follow" type="submit" class="padded-top mdc-button mdc-button--raised">{% trans 'Follow' %}</button>
</form>
{% endif %}
</div>
-->

{% endblock %}

{% block extrascripts %}
<script>
function sizeEmbeddedContent() {
  document.querySelectorAll('.embedded-object').forEach(function(el) {
    var aspectRatio = +el.getAttribute('width') / +el.getAttribute('height');
    var w = Math.min(700,document.querySelector("section").offsetWidth-30);
    el.setAttribute("width", w);
    el.setAttribute("height", w/aspectRatio);
  });
}

sizeEmbeddedContent();

window.addEventListener("resize", sizeEmbeddedContent);
</script>
{% endblock %}
