{% extends './base.html' %}

{% load i18n %}

{% block heading %}
{{ thread.forum }}
{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'pinax_forums:forum' thread.forum.pk %}">{% trans 'Back to forum' %}</a>
{% endblock %}

{% block content %}
<h2>{{ thread.title }}</h2>
<a href="{% url 'pinax_forums:post_edit_thread' thread.pk %}">{% trans 'Edit' %}</a>

{% if subscribed %}
<form action="{% url 'pinax_forums:unsubscribe' thread.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="{% trans 'Unfollow' %}"/>
</form>
{% else %}
<form action="{% url 'pinax_forums:subscribe' thread.pk %}" method="post">
  {% csrf_token %}
  <input type="submit" value="{% trans 'Follow' %}"/>
</form>
{% endif %}

<p>{{ thread.content }}</p>
<span>{{ thread.author }}</span> <span>{{ thread.created }}</span>

<h3>{% trans 'Replies' %}</h3>

{% for p in posts %}
  <p>{{ p.content }}</p>
  <span>{{ p.author }}</span>
  <span>{{ p.created }}</span>
  <a href="{% url 'pinax_forums:post_edit_reply' thread.pk %}">{% trans 'Edit' %}</a>
{% endfor %}

{% if can_create_reply %}
<form method="post">
  {% csrf_token %}
  {{ reply_form.errors }}
  <div>
    {{ reply_form.content }}
  </div>
  <input type="submit"/>
</form>
{% endif %}
{% endblock %}
