@import "../../../../../peerinst/static/peerinst/css/variables";

.student-reputation-icon {
  & .reputation-icon__list {
    grid-template-columns: minmax(125px, max-content) 1fr;
    width: 400px;

    & .student-badge {
      height: 100%;
      width: 100%;
      & svg {
        height: 100%;
        width: 100%;
      }

      & .student-badge__reputation {
        user-select: none;
      }
    }
  }
}
