/* Load common sass variables */
@import 'variables';


/* Load packages */
@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/dialog/mdc-dialog';
@import '@material/elevation/mdc-elevation';
@import '@material/floating-label/mdc-floating-label';
@import '@material/form-field/mdc-form-field';
@import '@material/icon-toggle/mdc-icon-toggle';
@import '@material/image-list/mdc-image-list';
@import '@material/layout-grid/mdc-layout-grid';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/list/mdc-list';
@import '@material/notched-outline/mdc-notched-outline';
@import '@material/radio/mdc-radio';
@import '@material/ripple/mdc-ripple';
@import '@material/select/mdc-select';
@import '@material/textfield/mdc-text-field';
@import '@material/theme/mdc-theme';
@import '@material/toolbar/mdc-toolbar';
@import '@material/typography/mdc-typography';


/* Load other files */
@import 'utils';


/* Stylesheet */
/* - Layout */
main {
  display: block;
  max-width: 800px;
  margin: auto;
}
section {
  padding-left: 5px;
  padding-right: 20px;
}
.site-content {
  margin: 20pt;
}
p {
  margin: 0.25em 0;
}
.admin-link {
  margin-top: 10pt;
  margin-bottom: 12pt;
  font-size: 9pt;
}
h2 ~.admin-link {
  margin-top: -25px;
  margin-bottom: 12pt;
  font-size: 9pt;
}
h4 ~.admin-link {
  margin-top: -20px;
  margin-bottom: 12pt;
  font-size: 9pt;
}
.foldable--body > .admin-link {
  margin-top: 0px;
  margin-left: 50px;
  margin-bottom: 12pt;
  font-size: 9pt;
}


/* - Theming */
.fill-primary {
  fill: $mdc-theme-primary;
}
.fill-secondary {
  fill: $mdc-theme-secondary;
}
.bold {
  font-weight: bold;
}
body {
  background-color: $mdc-theme-background;
  color: $mdc-theme-secondary;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  margin: 0pt;
}
header {
  background-image: linear-gradient(
    90deg,
    $mdc-theme-primary 0%,
    $mdc-theme-secondary 100%
  );
  color: white;
  padding: 4pt;
  font-size: 18pt;
}
header a {
  color: white;
}
header .icon {
  font-size: 28px;
  margin-right: 10px;
}
footer {
  background-image: linear-gradient(
    0deg,
    $mdc-theme-secondary 0%,
    $mdc-theme-secondary 90%,
    $mdc-theme-primary 90%
  );
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}
footer a {
  color: white;
  padding-left: 10px;
}
h1 {
  color: $mdc-theme-primary;
}

/* - MDC icons */
.material-icons {
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';
}
.material-icons.md-15 {
  font-size: 15px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-42 {
  font-size: 42px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-60 {
  font-size: 60px;
}
.material-icons.md-96 {
  font-size: 96px;
}




.mdc-card {
  @include mdc-card-corner-radius($radius);
}

.ripple-icon {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-unbounded;
  @include mdc-states($mdc-theme-primary);
}

.mdc-text-field--textarea .mdc-floating-label {
  background-color: $mdc-theme-background;
}

.partner-list {
  @include mdc-image-list-standard-columns(3);
}

@media (max-width: 800px) {
  .partner-list {
    @include mdc-image-list-standard-columns(2);
  }
}

@media (max-width: 600px) {
  .partner-list {
    @include mdc-image-list-standard-columns(1);
  }
}




.corner {
  position: fixed;
  bottom: 0%;
  right: 0%;
  cursor: pointer;
}




a {
  color: $hint;
  text-decoration: none;
}
img {
  max-width: 80%;
  max-height: 300px;
  width: auto;
  height: auto;
}
dt {
  clear: left;
  float: left;
}
dd {
  clear: right;
}
blockquote,
.rationale-text {
  color: #525252;
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  padding: 1em;
}
div.action {
  height: 40px;
  vertical-align: middle;
  font-weight: 600;
}
ul {
  list-style: none;
}
ul#id_first_answer_choice {
  margin-top: 0;
  margin-bottom: 2em;
}
form ul {
  padding-left: 5px;
}
.rationales {
  display: table;
  border-collapse: collapse;
  margin-left: 40px;
  margin-right: 40px;
}
.rationale {
  display: table-row;
}
.rationale-choice {
  white-space: nowrap;
  /* Keeps things looking sane if there are no example rationales. */
  padding-bottom: 1em;
}
.rationale-text-container {
  display: table-cell;
}
.rationale-choice input {
  display: none;
}
.rationale li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.rationale:not(:first-child) {
  border-top: 1px solid lightgray;
}
.errorlist,
ul li.error {
  display: block;
  box-shadow: 0 -1px 2px 0 #f3d9db inset;
  border-bottom: 3px solid #a0050e;
  background: none repeat scroll 0 0 #fbf2f3;
  box-sizing: border-box;
  margin: 0 0 20px;
  padding: 20px;
  font-size: 15px;
  color: #3c3c3c;
  line-height: 1.41575em;
}
li.error h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0 !important;
  color: #a0050e;
  margin: 0;
}
li.first-choice {
  font-weight: bold;
}
li.second-choice {
  font-style: italic;
}
input[type='submit'].thumbs-button {
  font-size: 0; /* Make text invisible */
  width: 80px;
  height: 40px;
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
input[type='submit'].thumbs-up {
  background-image: url('/static/peerinst/img/thumbs-up.svg');
}
input[type='submit'].thumbs-down {
  background-image: url('/static/peerinst/img/thumbs-down.svg');
}
.votable-rationale q {
  font-style: italic;
}
.share-question-answers-summary label {
  font-weight: bold;
}
.share-question-answers-summary textarea {
  width: 50%;
  height: 100px;
}
.wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  align-items: center;
}
.header-right {
  text-align: right;
  font-size: 10pt;
  line-height: 1.2;
}

.helptext {
  font-size: 9pt;
  opacity: 0.8;
  padding-left: 15pt;
}
.dense-list {
  margin-bottom: 4px;
}

.question-image {
  display: block;
  margin: auto;
  padding-top: 10pt;
  padding-bottom: 10pt;
}
.search {
  display: inline;
  vertical-align: middle;
  padding-top: 4pt;
}
.stats {
  font-size: 8pt;
}
.items-for-question {
  margin-left: 30pt;
  margin-right: 20pt;
  margin-top: 4pt;
  margin-bottom: 6pt;
  line-height: 1.2;
  list-style: circle outside;
}
.blink_labels {
  font-size: 10pt;
  fill: white;
}
.blink_rect {
  fill: gray;
}
.axis {
  font-size: 10pt;
  opacity: 0.6;
}
.note {
  font-size: 10pt;
  margin-bottom: 20px;
}
.underline {
  overflow: visible;
  position: absolute;
  left: 0px;
  bottom: -3px;
}
.analytics-tags {
  cursor: pointer;
  font-size: 20px;
  transform: translateY(4px);
  opacity: 0.8;
}
.small-button {
  padding-left: 0pt;
  padding-right: 0pt;
  min-width: 20pt;
  height: 20pt;
  margin: 4pt;
}
.padded-top {
  margin-top: 20px;
}
.icon-list {
  margin-left: 20px;
  cursor: pointer;
  overflow: visible;
}
.fake-link {
  color: $hint;
  cursor: default;
}
.clickable {
  cursor: pointer;
}
.input-ripple-wrapper {
  margin-right: 6px;
  float: left;
  overflow: visible;
  width: 25px;
  max-height: 25px;
  cursor: pointer;
}
.mdc-typography--display3 {
  position: relative;
  position: sticky;
  margin-bottom: 0px;
}
.mdc-list-item__meta i {
  vertical-align: middle;
  color: $hint;
}
.mdc-list {
  max-width: 600px;
}
.mdc-text-field__input {
  width: 250px;
}
.mdc-typography--body1 {
  font-size: 16px;
  letter-spacing: 0em;
}
.mdc-form-field > label {
  padding-left: 2px;
}
.mdc-dialog__body--scrollable {
  max-height: 450px;
}
.mdc-card {
  padding: 20px 20px 12px;
  margin-bottom: 10px;
  background-color: white;
}

#logo {
  width: 40px;
  vertical-align: middle;
  padding-right: 4pt;
}
#id_rationale {
  width: 100%;
}
#id_text {
  width: 100%;
}
.mdc-list-item__text {
  max-width: 300px;
}
.mdc-list-item__text.no-icon {
  max-width: 100%;
}
#check {
  color: $mdc-theme-primary;
}
.blink_rect {
  fill: $mdc-theme-primary;
}
#timer-bg {
  fill: $mdc-theme-primary;
}
.mdc-button {
  color: white !important;
  font-weight: bold;
}

div.input-ripple-wrapper input {
  color: grey !important;
}

.inline {
  vertical-align: middle;
}
.iconify {
  position: relative;
  background-color: $mdc-theme-primary;
  border: hidden;
  border-radius: 50%;
  min-width: 48px;
  min-height: 48px;
}
.text-on-div-icon {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.link {
  transform: rotate(-45deg);
}

.nav-question {
  margin-top: 40px;
  position: relative;
  height: 70px;
}
.prev-question {
  position: absolute;
  bottom: 50%;
  left: 0%;
  transform: translateY(50%);
}
.next-question {
  position: absolute;
  bottom: 50%;
  right: 0%;
  transform: translateY(50%);
}

/* - Authorship */

.field-container {
  position: relative;
  margin-bottom: 10px;
}
.number-box {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 30px;
  height: 30px;
  border: solid;
  border-radius: 50%;
  border-width: 1px;
  border-color: #54c0db;
  background-color: #54c0db;
  color: white;
}
.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.field {
  padding-left: 40px;
}

.flush-to-textbox {
  top: 16px;
}
.multiple-select {
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 1px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  padding: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}
.multiple-select:hover {
  border-color: black;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
}
.multiple-select:focus {
  border-color: #54c0db;
  border-width: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  outline: none;
}
.form-helper-text {
  margin-left: 16px;
  margin-right: 16px;
  color: $hint;
  font-size: 0.75rem;
}
.mdc-select__native-control {
  font-size: 0.75rem;
}
.mdc-text-field--textarea:not(.mdc-text-field--disabled) {
  border-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}
.mdc-text-field--textarea:not(.mdc-text-field--focused):hover {
  border-color: black;
  width: 100%;
}
.field .mdc-select {
  margin-top: -12px;
}
.field label {
  padding-right: 10px;
}
.add {
  padding: 10px;
  cursor: pointer;
}
.padded {
  padding: 10px;
}
.simple-hr {
  margin-top: 20px;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-style: none;
  border-top-style: solid;
}

@media (max-height: 650px) {
  .mdc-dialog__body--scrollable {
    max-height: 350px;
  }
}

@media (max-width: 450px) {
  section {
    padding-right: 5pt;
  }
  ul,
  ol {
    -moz-padding-start: 20px;
    -webkit-padding-start: 20px;
  }
  img {
    max-width: 100%;
    max-height: 200px;
  }
  .site-content {
    margin: 2pt;
  }
  .rationales {
    margin-left: 20px;
  }
  .mdc-typography--display3 {
    font-size: 2.5rem;
  }
  .mdc-typography--display1 {
    font-size: 20pt;
  }
  .mdc-list-item__text {
    max-width: 130px;
  }
  .icon-list {
    margin: 0pt;
  }
}
