/* Load common sass variables */
@import "variables";

/* Load packages */
@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/chips/mdc-chips";
@import "@material/dialog/mdc-dialog";
@import "@material/drawer/mdc-drawer";
@import "@material/elevation/mdc-elevation";
@import "@material/floating-label/mdc-floating-label";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/image-list/mdc-image-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/toolbar/mdc-toolbar";
@import "@material/typography/mdc-typography";

/* Load other files */
@import "custom_elements";

.svg-sprite {
  display: none;
}

/* Stylesheet */
/* - Layout */
main {
  display: block;
  margin: auto;
  max-width: 800px;
}
section {
  padding-left: 5px;
  padding-right: 20px;
}
.site-content {
  margin: 20pt;
}
p {
  margin: 0.25em 0;
}
.admin-link {
  font-size: 9pt;
  margin-bottom: 12pt;
  margin-top: 10pt;
}
.links-divider {
  color: $mdc-theme-secondary;
  padding-left: 0.3em;
  padding-right: 0.5em;
}
.display-none {
  display: none;
}
.display-inline {
  display: inline;
}
h2 ~ .admin-link {
  font-size: 9pt;
  margin-bottom: 12pt;
  margin-top: -25px;
}
h4 ~ .admin-link {
  font-size: 9pt;
  margin-bottom: 12pt;
  margin-top: -20px;
}
.foldable--body .admin-link {
  font-size: 9pt;
  margin-bottom: 12pt;
  margin-left: 50px;
  margin-top: 0px;
}
/* - Theming */
.fill-primary {
  fill: $mdc-theme-primary;
}
.fill-secondary {
  fill: $mdc-theme-secondary;
}
.bold {
  font-weight: bold;
}
body {
  --font-family: #{$mdc-typography-font-family};
  background-color: $mdc-theme-background;
  color: $mdc-theme-secondary;
  font-family: $mdc-typography-font-family;
  font-size: 12pt;
  font-weight: 400;
  margin: 0pt;
}
header {
  align-items: center;
  background-image: linear-gradient(
    90deg,
    $mdc-theme-primary 0%,
    $mdc-theme-secondary 100%
  );
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 18pt;
  justify-content: space-between;
  padding: 4pt;
  position: relative;
}
header a {
  color: white;
}
header .icon {
  font-size: 28px;
  margin-right: 10px;
}

header i {
  user-select: none;
}

#header-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#header-right {
  display: flex;
  flex-direction: row;
  justify-content: end;
  padding-right: 20px;
}

.header {
  margin-left: 10px;
}

.header-icon {
  border-radius: 20px;
  cursor: pointer;
  padding: 4px;
  text-align: center;
  transition: background 200ms;
  vertical-align: middle;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  &:active {
    background: rgba(255, 255, 255, 0.5);
  }

  &:before {
    height: 30px;
    width: 33px;
  }
}

.header-right {
  font-size: 10pt;
  justify-self: end;
  line-height: 1.2;
}

#custom-instance-header {
  display: inline;
}

footer {
  background-image: linear-gradient(
    0deg,
    $mdc-theme-secondary 0%,
    $mdc-theme-secondary 90%,
    $mdc-theme-primary 90%
  );
  color: white;
  padding-bottom: 5px;
  padding-top: 5px;
}
footer a {
  color: white;
  padding-left: 10px;
}
.align-right {
  text-align: right;
}
h1 {
  color: $mdc-theme-primary;
}

.landing-page-ul {
  padding-left: 15%;
}

/* - MDC icons */
.material-icons {
  /* Support for IE. */
  font-feature-settings: "liga";
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  vertical-align: middle;
}
.material-icons.md-15 {
  font-size: 15px;
}
.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-32 {
  font-size: 32px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-42 {
  font-size: 42px;
}
.material-icons.md-48 {
  font-size: 48px;
}
.material-icons.md-60 {
  font-size: 60px;
}
.material-icons.md-96 {
  font-size: 96px;
}
.ripple-icon {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-unbounded;
  @include mdc-states($mdc-theme-primary);
}

.mdc-text-field--textarea .mdc-floating-label {
  background-color: $mdc-theme-background;
}

.partner-list {
  @include mdc-image-list-standard-columns(3);
}

@media (max-width: 800px) {
  .partner-list {
    @include mdc-image-list-standard-columns(2);
  }
}

@media (max-width: 600px) {
  .partner-list {
    @include mdc-image-list-standard-columns(1);
  }
}

.corner {
  bottom: 0;
  cursor: pointer;
  position: fixed;
  right: 0;
}

a {
  color: $hint;
  text-decoration: none;
}
img {
  height: auto;
  max-height: 300px;
  max-width: 80%;
  width: auto;
}
dt {
  clear: left;
  float: left;
}
dd {
  clear: right;
}
blockquote,
.rationale-text {
  background-color: #f6f6f6;
  border: 1px solid #c8c8c8;
  color: #525252;
  padding: 1em;
}
div.action {
  font-weight: 600;
  height: 40px;
  vertical-align: middle;
}
ul {
  list-style: none;
}
ul#id_first_answer_choice {
  margin-bottom: 2em;
  margin-top: 0;
}
form ul {
  padding-left: 5px;
}
.rationales {
  border-collapse: collapse;
  display: table;
  margin-left: 40px;
  margin-right: 40px;
}
.rationale {
  display: table-row;
}
.rationale-choice {
  /* Keeps things looking sane if there are no example rationales. */
  padding-bottom: 1em;
  white-space: nowrap;
}
.rationale-text-container {
  display: table-cell;
}
.rationale-choice input {
  display: none;
}
.rationale li {
  padding-bottom: 5px;
  padding-top: 5px;
}
.rationale:not(:first-child) {
  border-top: 1px solid lightgray;
}
.errorlist,
ul li.error {
  background: none repeat scroll 0 0 #fbf2f3;
  border-bottom: 3px solid #a0050e;
  box-shadow: 0 -1px 2px 0 #f3d9db inset;
  box-sizing: border-box;
  color: #3c3c3c;
  display: block;
  font-size: 15px;
  line-height: 1.41575em;
  margin: 10px 0px 20px 0px;
  padding: 20px;
}
li.error h3 {
  color: #a0050e;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0 !important;
  margin: 0;
  text-transform: uppercase;
}
li.first-choice {
  font-weight: bold;
}
li.second-choice {
  font-style: italic;
}
input[type="submit"].thumbs-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 25px;
  border-radius: 50%;
  border-style: hidden;
  cursor: pointer;
  font-size: 0; /* Make text invisible */
  height: 50px;
  margin: 10px;
  width: 50px;
}
.votable-rationale q {
  font-style: italic;
}
.share-question-answers-summary label {
  font-weight: bold;
}
.share-question-answers-summary textarea {
  height: 100px;
  width: 50%;
}
.italic {
  font-style: italic;
}
.message-box {
  background-color: rgba(0, 66, 102, 0.05);
  border-bottom: solid 3px $mdc-theme-secondary;
  color: #3c3c3c;
  margin: 10px 0px 20px 0px;
  padding: 20px;
  position: relative;
  & > .message {
    display: inline-block;
    width: 90%;
  }
  & > .clear {
    position: absolute;
    right: 18px;
    top: 18px;
  }
}

.helptext {
  font-size: 9pt;
  opacity: 0.8;
  padding-left: 15pt;
}
.dense-list {
  margin-bottom: 4px;
}

.question-image {
  display: block;
  margin: auto;
  padding-bottom: 10pt;
  padding-top: 10pt;
}
.search {
  display: inline;
  padding-top: 4pt;
  vertical-align: middle;
}
.stats {
  font-size: 8pt;
}
.items-for-question {
  color: black;
  line-height: 1.2;
  list-style: circle outside;
  margin-bottom: 6pt;
  margin-left: 30pt;
  margin-right: 20pt;
  margin-top: 4pt;
}
.blink_labels {
  fill: white;
  font-size: 10pt;
}
.blink_rect {
  fill: $mdc-theme-primary;
}
.axis {
  font-size: 10pt;
  opacity: 0.6;
}
.note {
  font-size: 10pt;
  margin-bottom: 20px;
}
.underline {
  bottom: -3px;
  left: 0px;
  overflow: visible;
  position: absolute;
}
.analytics-tags {
  cursor: pointer;
  font-size: 20px;
  opacity: 0.8;
  transform: translateY(4px);
}
.small-button {
  height: 20pt;
  margin: 4pt;
  min-width: 20pt;
  padding-left: 0pt;
  padding-right: 0pt;
}
.padded-top {
  margin-top: 20px;
}
.icon-list {
  cursor: pointer;
  margin-left: 20px;
  overflow: visible;
}
.card-icon-list {
  cursor: pointer;
  margin-left: 20px;
  margin-right: 10px;
  overflow: visible;
}
.fake-link {
  color: $hint;
  cursor: default;
}
.clickable {
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
.input-ripple-wrapper {
  cursor: pointer;
  float: left;
  margin-right: 6px;
  max-height: 25px;
  overflow: visible;
  width: 25px;
}
.mdc-typography--display3 {
  margin-bottom: 0px;
  position: relative;
}
.mdc-list-item__meta i {
  color: $hint;
  vertical-align: middle;
}
.mdc-list {
  max-width: 600px;
}
.mdc-text-field__input {
  width: 250px;
}
.mdc-typography--body1 {
  font-size: 16px;
  letter-spacing: 0em;
}
.mdc-form-field > label {
  padding-left: 2px;
}
.mdc-dialog__body--scrollable {
  max-height: 450px;
}
.mdc-card {
  background-color: white;
  margin-bottom: 10px;
  padding: 20px 20px 12px;
  @include mdc-card-corner-radius($radius);
}

#logo {
  padding-right: 4pt;
  vertical-align: middle;
  width: 40px;
}
#id_rationale {
  width: 100%;
}
#id_text {
  width: 100%;
}
.mdc-list-item__text {
  max-width: 300px;
}
.mdc-list-item__text.no-icon {
  max-width: 100%;
}
.mdc-card .check {
  color: $mdc-theme-primary;
  font-size: 12pt;
  transform: translateY(-1px);
}
.check {
  color: $mdc-theme-primary;
  transform: translateY(-2px);
}
#timer-bg {
  fill: $mdc-theme-primary;
}
.mdc-button {
  color: white !important;
  font-weight: bold;
}
.mdc-button.delete {
  background-color: red !important;
  margin-left: 20px;
}

div.input-ripple-wrapper input {
  color: grey !important;
}

.iconify {
  background-color: $mdc-theme-primary;
  border: hidden;
  border-radius: 50%;
  min-height: 48px;
  min-width: 48px;
  position: relative;
}
.text-on-div-icon {
  color: white;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.link {
  transform: rotate(-45deg);
}

.nav-question {
  height: 70px;
  margin-top: 40px;
  position: relative;
}
.prev-question {
  bottom: 50%;
  left: 0%;
  position: absolute;
  transform: translateY(50%);
}
.next-question {
  bottom: 50%;
  position: absolute;
  right: 0%;
  transform: translateY(50%);
}

/* - Authorship */

.field-container {
  margin-bottom: 10px;
  position: relative;
}
.number-box {
  background-color: #54c0db;
  border: solid;
  border-color: #54c0db;
  border-radius: 50%;
  border-width: 1px;
  color: white;
  display: inline-block;
  height: 30px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 30px;
}
.number {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.field {
  padding-left: 40px;
}

.flush-to-textbox {
  top: 16px;
}
.multiple-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-width: 1px;
  font-family: "Montserrat", sans-serif;
  padding: 4px;
}
.multiple-select:hover {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border-color: black;
}
.multiple-select:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border-color: #54c0db;
  border-width: 2px;
  outline: none;
}
.form-helper-text {
  color: $hint;
  font-size: 0.75rem;
  margin-left: 16px;
  margin-right: 16px;
}
.mdc-select__native-control {
  font-size: 0.75rem;
}
.mdc-text-field--textarea:not(.mdc-text-field--disabled) {
  border-color: rgba(0, 0, 0, 0.15);
  width: 100%;
}
.mdc-text-field--textarea:not(.mdc-text-field--focused):hover {
  border-color: black;
  width: 100%;
}
.field .mdc-select {
  margin-top: -12px;
}
.field label {
  padding-right: 10px;
}
.padded {
  padding: 10px;
}
.simple-hr {
  border-style: none;
  border-top-color: rgba(0, 0, 0, 0.15);
  border-top-style: solid;
  margin-top: 20px;
}

.progress-chart {
  display: block;
  margin: 60px auto;
  margin-bottom: 100px;
  overflow: visible;
}
.progress-chart .area {
  fill: #004266;
  opacity: 0.3;
}

/* Generic */
.hidden {
  display: none;
}

.pt9 {
  font-size: 9pt;
}

.dalite-my {
  font-family: "Cardo", serif;
  font-style: italic;
}

.dalite-dalite {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.pad-l-25 {
  padding-left: 25%;
}

.no-whitespace {
  margin: 0;
  padding: 0;
}

.admin-link--padded {
  padding-left: 0.3em;
  padding-right: 0.5em;
}

.new-feature {
  padding-left: 4px;
}

.m-bot-10 {
  margin-bottom: 10pt;
}

.m-bot-10p {
  margin-bottom: 10px;
}

.m-bot-5 {
  margin-bottom: 5px;
}

.m-right-20 {
  margin-right: 20px;
}

.m-left-20 {
  margin-left: 20px;
}

.m-top-20 {
  margin-top: 20px;
}

.m-top-10 {
  margin-top: 10px;
}

.m-top-4 {
  margin-top: 4px;
}

.m-top-5 {
  margin-top: 5px;
}

.m-left-10 {
  margin-left: 10px;
}

.m-left-right-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.red {
  color: red;
}

.white {
  color: white;
}

.translate-4 {
  transform: translateY(4pt);
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.error-span {
  color: red;
  display: none;
}

.check-12 {
  font-size: 12pt;
  transform: translateY(3px);
}

.green {
  color: green;
}

.goldenrod {
  color: goldenrod;
}

.width-auto {
  margin: auto;
  width: fit-content;
}

.vertical-align {
  vertical-align: middle;
}

.analytics-div {
  display: inline-block;
  vertical-align: top;
  width: 175px;
}

.grey {
  color: grey;
}

.overflow {
  overflow: visible;
}

.width-100 {
  width: 100%;
}

.p-left-0 {
  padding-left: 0;
}

.p-bot-3 {
  padding-bottom: 3px;
}

.p-bottom-10 {
  padding-bottom: 10px;
}

.p-bottom-0 {
  padding-bottom: 0px;
}

.f-size-20 {
  font-size: 20px;
}

.f-left {
  float: left;
}

.max-width-400 {
  max-width: 400px;
}

.block-auto {
  display: block;
  margin: auto;
}

.clear-both {
  clear: both;
}

.greenyellow {
  color: greenyellow;
}


/* Media queries */
@media (max-height: 650px) {
  .mdc-dialog__body--scrollable {
    max-height: 350px;
  }
}

@media (max-width: $breakpoint-two) {
  section {
    padding-right: 5px;
  }
  ul,
  ol {
    -moz-padding-start: 20px;
    -webkit-padding-start: 20px;
  }
  .header {
    margin-left: 5px;
  }
  .header.branding {
    padding-top: 3px;
  }
  img {
    max-height: 200px;
    max-width: 100%;
  }
  #custom-instance-header {
    display: none;
  }
  .site-content {
    margin: 2px;
  }
  .rationales {
    margin-left: 20px;
  }
  .mdc-typography--display3 {
    font-size: 2.0rem;
  }
  .mdc-typography--display1 {
    font-size: 20pt;
  }
  .mdc-list-item__text {
    max-width: 130px;
  }
  .icon-list {
    margin: 0pt;
  }
}

@media (max-width: $breakpoint-one) {
  /* Smallest screen */
}
