@import "variables";

@import "@material/button/mdc-button";
@import "@material/card/mdc-card";
@import "@material/checkbox/mdc-checkbox";
@import "@material/chips/mdc-chips";
@import "@material/dialog/mdc-dialog";
@import "@material/elevation/mdc-elevation";
@import "@material/floating-label/mdc-floating-label";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-toggle/mdc-icon-toggle";
@import "@material/image-list/mdc-image-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/line-ripple/mdc-line-ripple";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/notched-outline/mdc-notched-outline";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mdc-ripple";
@import "@material/select/mdc-select";
@import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/mdc-theme";
@import "@material/toolbar/mdc-toolbar";

.mdc-button {
  color: white !important;
  font-weight: bold;
}

.mdc-button.delete {
  background-color: red !important;
  margin-left: 20px;
}

.mdc-card {
  background-color: white;
  margin-bottom: 10px;
  padding: 20px 20px 12px;
  @include mdc-card-corner-radius($radius);
}

/* - MDC icons */
.material-icons {
  /* Support for IE. */
  font-feature-settings: "liga";
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  vertical-align: middle;
}

.partner-list {
  @include mdc-image-list-standard-columns(3);
}

@media (max-width: 800px) {
  .partner-list {
    @include mdc-image-list-standard-columns(2);
  }
}

@media (max-width: 600px) {
  .partner-list {
    @include mdc-image-list-standard-columns(1);
  }
}

.ripple-icon {
  @include mdc-ripple-surface;
  @include mdc-ripple-radius-unbounded;
  @include mdc-states($mdc-theme-primary);
}
