@import "variables";

:root {
  --mdc-theme-primary: #{$mdc-theme-primary};
  --mdc-theme-secondary: #{$mdc-theme-secondary};
}

.hint {
  color: var(--mdc-theme-text-secondary-on-background);
}

[class^="mdc-"] {
  font-family: $mdc-typography-font-family;
}

.mdc-typography--body1 {
  letter-spacing: normal;
  line-height: normal;
}

.mdc-typography--headline5 {
  font-weight: bold;
  line-height: 1.5rem;
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-secondary);
}

.mdc-select__dropdown-icon {
  filter: grayscale(1);
}

.mdc-button {
  font-weight: 700;
}

.mdc-text-field--textarea .mdc-floating-label {
  background-color: inherit;
}

.mdc-text-field__input {
  font-size: 14px;
  line-height: normal;
}

/* This improve mouseover behaviour by preventing mouseout to fire on icon */
.mdc-icon-button__icon {
  pointer-events: none;
}

.mdc-snackbar__action-button {
  color: var(--mdc-theme-primary);
}
