/* Load common sass variables */
@import 'variables';

/* Stylesheet */
.filter_keyword {
  cursor: pointer;
  margin-right: 10px;
  text-decoration: underline;
}
.mdc-chip-set {
  display: inline;
  margin-left: auto;
  margin-right:0pt;
  width: fit-content;
}
.mdc-chip__text {
  font-size: 10pt;
}
#progressbar {
  margin-bottom: 40px;
  margin-top: 20px;
}
.pagination {
  text-align:center;
}
.search-nav {
   cursor: pointer;
   padding-left: 10px;
   padding-right:10px;
}
.search-set h3 {
  border-radius:3px;
  color: white;
  font-weight:100;
  padding: 2px;
  padding-left:10px;
}
#results_list {
  margin-bottom: 10px;
}
.mdc-card {
  & .question-text {
    margin-top: 5px;
  }
  & .mdc-card__action-buttons {
    color: gray;
  }
}
