$mdc-typography-font-family: 'Montserrat';
$mdc-theme-primary: #54c0db;
$mdc-theme-secondary: #004266;
$mdc-theme-background: #f4f4f4;
$radius: 10px;

/* Preset for mobile */
$mdc-toolbar-ratio-to-extend-flexible: 1;
