$mdc-typography-font-family: "Montserrat", serif;
$mdc-theme-primary: #54c0db;
$mdc-theme-secondary: #004266;
$mdc-theme-background: #f4f4f4;
$hint: DarkGray;
$ok: #339966;
$error: #b30000;
$mdc-theme-primary-faded: powderblue;

$mdc-theme-text-colors: (
  dark: (
    primary: rgba(black, 0.87),
    secondary: rgba(black, 0.54),
    hint: $hint,
    disabled: rgba(black, 0.38),
    icon: rgba(black, 0.38)
  ),
  light: (
    primary: white,
    secondary: rgba(white, 0.7),
    hint: rgba(white, 0.5),
    disabled: rgba(white, 0.5),
    icon: rgba(white, 0.5)
  )
) !default;

$breakpoint-one: 350px;
$breakpoint-two: 450px;

$radius: 10px;

/* Preset for mobile */
$mdc-toolbar-ratio-to-extend-flexible: 1;
