/* Load common sass variables */
@import "../../../../../peerinst/static/peerinst/css/variables";

.email-consent input[type="checkbox"] {
  display: none;
}
.btn-toggle {
  align-self: center;
  border: 1px solid $mdc-theme-primary;
  border-radius: 5px;
  color: $mdc-theme-primary;
  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  justify-self: end;
  opacity: 1;
  transition-duration: 300ms;
  user-select: none;
}
.btn-toggle div {
  font-size: 14px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  width: 40px;
}
.btn-toggle--selected {
  background: $mdc-theme-primary;
  color: white;
  font-weight: bold;
}

.btn-toggle--disabled {
  opacity: 0.6;
}
