#tos-container {
  align-items: center;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr 1fr 2fr;
  justify-items: center;
  margin: 40px auto 0 auto;
  width: 90%;
}

#tos-text {
  border: 1px solid #999999;
  border-radius: 3px;
  grid-column: 1 / -1;
  height: 100%;
  overflow-y: scroll;
  padding: 10px;
  width: 100%;
}

#tos-version {
  grid-column: 1 / -1;
  max-width: 300px;
  text-align: center;
  width: 50%;
}

#tos-container button {
  align-self: start;
  font-size: 16pt;
  max-width: 200px;
  width: 85%;
}

#tos-accept {
  background: #339966;
  color: #d9f2e6;
}

#tos-refuse {
  --mdc-theme-primary: #b30000;
}
