@import "../../../../../peerinst/static/peerinst/css/variables";

#container {
  position: relative;

  & #icon {
    align-items: center;
    border-radius: 20px;
    color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: 250ms;

    &:hover {
      background: rgba(255, 255, 255, 0.25);
    }

    &:active {
      background: rgba(255, 255, 255, 0.5);
    }

    & #icon__icon {
      fill: #ffffff;
      font-family: "Material Icons", sans-serif;
      font-size: 30px;
      font-style: normal;
      height: 32px;
      text-align: center;
      transition: 250ms;
      width: 32px;
    }

    & #icon__reputation {
      font-size: 12pt;
      text-align: center;
    }
  }

  & #list {
    align-items: center;
    background: #ffffff;
    border-radius: 20px;
    color: var(--reputation-text-colour, #000000);
    display: grid;
    font-size: 0.8rem;
    grid-auto-rows: minmax(30px, max-content);
    grid-template-columns: max-content 1fr;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 42px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 250ms, border-radius 250ms;
    z-index: 10;

    .list__header {
      align-content: center;
      color: $mdc-theme-secondary;
      font-size: 1.1rem;
      font-weight: bold;
      justify-content: center;
      text-decoration: underline;
      user-select: none;
    }

    .list__name {
      cursor: pointer;
      text-align: left;
      text-decoration: underline;
    }

    .list__reputation {
      cursor: default;
      text-align: right;
    }
  }
}

:host {
  font-family: var(--font-family, inherit);
}

:host([hidden]) {
  display: none;
}

:host([open]) {
  & #container {
    & #icon {
      background: #ffffff;
      border-radius: 20px 20px 0 0;
      color: $mdc-theme-primary;
      & #icon__icon {
        fill: $mdc-theme-primary;
      }
    }

    & #list {
      border-radius: 10px 0 10px 10px;
      transform: scale(1);
    }
  }
}

@media only screen and (max-width: 500px) {
  #container {
    position: static;
    & #list {
      grid-template-columns: 100vw;
      height: calc(100vh - 50px);
      left: 0;
      right: 0;
      top: 50px;
      transform: scaleY(0);
      transform-origin: top center;
    }
  }

  :host([open]) {
    & #container {
      & #list {
        border-radius: 0;
        left: 0;
        right: 0;
        top: 50px;
        transform: scaleY(1);
      }
    }
  }
}
