.reputation-icon {
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 4px;
  transition: background 200ms;

  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
  &:active {
    background: rgba(255, 255, 255, 0.5);
  }

  & .reputation-icon__reputation {
    text-align: center;
    width: 45px
  }

}

.reputation-icon--hidden {
  display: none;
}
