@import "./header";

#container {
  & #list {
    grid-template-columns: minmax(125px, max-content) 1fr;
    width: 400px;

    & .badge {
      height: 100%;
      width: 100%;

      & svg {
        height: 100%;
        width: 100%;
      }

      & .badge__reputation {
        fill: var(--reputation-colour, #000000);
        user-select: none;
      }
    }
  }
}
