@import "./header";

#container {
  & #list {
    box-shadow: 0 1px 1px #bdbdbd;
    grid-template-columns: 160px 40px;

    .list__header {
      align-content: center;
      color: $mdc-theme-secondary;
      display: none;
      font-size: 1.1rem;
      font-weight: bold;
      justify-content: center;
      text-decoration: underline;
      user-select: none;
    }
  }
}
