@import "../../../../../peerinst/static/peerinst/css/variables";

.teacher-reputation-icon {
  & .reputation-icon__list {
    grid-template-columns: repeat(3, minmax(125px, max-content));

    & .reputation-icon__list__header {
      align-content: center;
      color: $mdc-theme-primary;
      font-size: 1.1rem;
      font-weight: bold;
      justify-content: center;
      text-decoration: underline;
      user-select: none;
    }
  }
}
