{% extends 'peerinst/student/emails/base.html' %}

{% load i18n %}

{% block body %}

<h1>
  {% trans 'Assignment ' %}
  {{ assignment }}
  {% trans ' for group ' %}
  {{ group }}
  {% if days_to_expiry %}
    {% trans ' expires in ' %}
    {{ days_to_expiry }}
    {% trans ' days' %}
  {% else %}
    {% trans ' expires today' %}
  {% endif %}
</h1>

<p>{% trans "Use the buttons below to go to the new assignment or to your student page." %}</p>

<p class="p-email-btn">
  <a class="email-btn" 
     href="{{ assignment_link }}"
     target="_blank">
    {% trans 'Go to assignment' %}
  </a>
  <br/>
  <a class="email-btn" 
     href="{{ signin_link }}"
     target="_blank">
    {% trans 'Go to student page' %}
  </a>
</p>

<div class="backup-link">
  <p>
    {% trans "If the buttons above don't work, paste one of these links into your web browser:" %}
  </p>
  <p>
    Go to assignment:
    <br/>
    <a href="{{ assignment_link }}" target="_blank">
      {{ assignment_link }}
    </a>
  </p>
  <p>
    Go to student page:
    <br/>
    <a href="{{ signin_link }}" target="_blank">
      {{ signin_link }}
    </a>
  </p>
</div>

{% endblock %}
