{% extends 'peerinst/student/emails/base.html' %}

{% load i18n %}

{% block body %}

<h1>{% trans 'Confirm Registration' %}</h1>

<p>{% trans "Please confirm your myDALITE account by clicking the button below." %}</p>

<p class="p-email-btn">
  <a class="email-btn" href="{{ signin_link }}" target="_blank">{% trans 'Confirm' %}</a>
</p>

<div class="backup-link">
  <p>
    {% trans "If the button above doesn't work, paste this link into your web browser:" %}
  </p>
  <p>
    <a href="{{ signin_link }}" target="_blank">{{ signin_link }}</a>
  </p>
</div>

{% endblock %}
