{% extends 'peerinst/student/emails/base.html' %}

{% load i18n %}

{% block body %}

<h1>{% trans 'Confirm Registration' %}</h1>

<p>{% trans "Please confirm your myDALITE account by clicking the button below." %}</p>

<p style="text-align: center; margin: 50px 0;">
  <a class="email-btn" href="{{ signin_link }}" target="_blank">{% trans 'Confirm' %}</a>
</p>

<p>
  {% trans "If the button above doesn't work, paste this link into your web browser:" %}
</p>
<p>
  <a href="{{ signin_link }}" target="_blank">{{ signin_link }}</a>
</p>

{% endblock %}
