{% extends 'peerinst/student/emails/base.html' %}

{% load i18n %}

{% block body %}

<h1>{% trans 'Sign in to your myDALITE account' %}</h1>

<h2>{% trans "Sign in to your myDALITE account by clicking the button below:" %}</h2>

<a class="email-btn" href="{{ signin_link }}" target="_blank">
  {% trans "Sign In" %}
</a>

<div class="backup-link">
  <p>
    {% trans "If the button above doesn't work, paste this link into your web browser:" %}
  </p>

  <p>
    <a href="{{ signin_link }}" target="_blank">
      {{ signin_link }}
    </a>
  </p>
</div>

{% endblock %}
