@import '../utils';
@import '../variables';

#question-list {
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

#question-list-save:disabled {
  background-color: $mdc-theme-primary;
  opacity: 0.6;
}

#student-list {
  user-select: none;
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

#student-progress {
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & > li:first-child {
    border-top: none;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  & .mdc-list-item__meta {
    display: flex;
    justify-content: space-evenly;

    & > * {
      margin-left: 20px;
    }
  }

  & #student-progress-legend span {
    width: 62px;
    height: 48px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
}
