@import "../custom_elements";
@import "../variables";
@import "../functions";

#assignment-distribution {
  max-width: calc(100% - 56px);

  & button {
    border-radius: 20px;
    box-shadow: none;
    width: max-content;
  }
  & button:disabled {
    background: $mdc-theme-primary;
    opacity: 0.6;
  }
  & .assignment-distribution__warning {
    color: text-color(dark, secondary);
    display: inline-block;
    font-size: 0.9rem;
    font-style: italic;
    font-weight: normal;
    line-height: 1rem;
    overflow-wrap: break-word;
    padding-left: 10px;
    white-space: normal;
    width: calc(100% - 200px);
  }
}

#question-list {
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

#question-list-save:disabled {
  background-color: $mdc-theme-primary;
  opacity: 0.6;
}

#student-list {
  user-select: none;
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

#student-progress {
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & > li:first-child {
    border-top: none;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }

  & .mdc-list-item__meta {
    display: flex;
    justify-content: space-evenly;

    & > * {
      margin-left: 10px;
    }
  }

  & #student-progress-legend span {
    font-size: 12px;
    height: 48px;
    line-height: 16px;
    text-align: center;
    width: 62px;
  }

  & .loading-icon {
    display: block;
    height: 35px;
    margin: 0 auto 0 auto;
    width: 35px;
  }

  & .student-progress__time_taken {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
