@import '../utils';
@import '../variables';

#question-list {
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

#question-list-save:disabled {
  background-color: $mdc-theme-primary;
  opacity: 0.6;
}

#student-list {
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}
