@import "../custom_elements";

.mdc-list {
  cursor: default;
}

#student-list {
  user-select: none;
  & > li {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    height: 50px;
  }

  & > li:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
}

.verified-user {
  height: auto;
  padding: 12px 12px;

  & ul {
    padding-left: 0;
  }
}

#collection-select {
  color: $hint;
}

#teachers-with-access-list {
  max-height: 45px;
  overflow-y: auto;
}
