$mdc-typography-font-family: 'Montserrat';
$mdc-theme-primary: #54c0db;
$mdc-theme-secondary: #004266;
$mdc-theme-background: #f4f4f4;
$radius: 10px;

@import '@material/typography/mdc-typography';
@import '@material/button/mdc-button';
