@import 'common';

#tos-container {
  margin: 0 auto 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 4fr 1fr 2fr;
  grid-gap: 25px;
  align-items: center;
  justify-items: center;
}

#tos-container h1 {
  grid-column: 1 / -1;
  text-align: center;
  margin: 0;
}

#tos-container p {
  grid-column: 1 / -1;
  line-height: 30px;
}

#tos-text {
  grid-column: 1 / -1;
  border: 1px solid #999999;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
}

#tos-version {
  grid-column: 1 / -1;
  width: 50%;
  max-width: 300px;
  text-align: center;
}

#tos-container button {
  font-size: 16pt;
  width: 75%;
  max-width: 200px;
  align-self: start;
}

#tos-accept {
  color: #d9f2e6;
  background: #339966;
}

#tos-refuse {
  --mdc-theme-primary: #b30000;
}
