{% extends 'peerinst/base.html' %}

{% load i18n add_class %}

{% block body %}
<main>
<section>
  <h1 class="mdc-typography--display3">{% trans 'Password Reset for Teachers' %}
    <svg class="underline" width=150 height=4></svg>
  </h1>

  <div class="admin-link">
    <a href="{% url 'login' %}">{% trans 'Back to login' %}</a>
  </div>

  <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Forgotten password?' %}</h2>

  <blockquote>
    {% trans 'Note that student accounts do not require passwords, there are accessed via tokens through email.  Go to the student login page and enter your email address to be sent an access token.' %}
  </blockquote>

  <p>{% trans 'Enter your email address below and we will send you a link to reset your password.' %}</p>

  {{ form.non_field_errors }}

  <form method="post">
    {% csrf_token %}

    <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
      {{ form.email|add_class:"mdc-text-field__input" }}
      {{ form.email.label_tag|add_class:"mdc-floating-label"|cut:":" }}
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>

    {{ form.email.errors }}

    <div>
      <input id="submit-btn" class="mdc-button mdc-button--raised padded-top" type="submit" value="{% trans 'Reset password' %}"/>
    </div>
  </form>
</section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    document.getElementById("submit-btn").addEventListener("click", function() {
      this.form.submit();
      if (this.form.reportValidity()) {
        this.disabled=true;
      }
    })
  })
</script>
{% endblock %}
