{% extends 'peerinst/_base.html' %}

{% load add_class i18n %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'Sign Up' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'login' %}">{% trans 'Back to login' %}</a>
    </div>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Welcome!' %}</h2>

    <p class="mdc-typography--body1">{% trans 'To create an teacher account, provide a unique username, and your e-mail address.' %}</p>
    <br>
    <p class="mdc-typography--body1">{% trans 'Only teachers can request an account using this form.  Student accounts are created by teachers.' %}</p>
    <br>
    <p class="mdc-typography--body1">{% trans 'After the sign-up form is submitted, a site administrator will contact you to finalize the registration process.' %}</p>

    {{ form.non_field_errors }}

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
          {{ field|add_class:"mdc-text-field__input" }}
          {{ field.label_tag|add_class:"mdc-floating-label"|cut:":" }}
          <div class="mdc-notched-outline">
            <svg>
              <path class="mdc-notched-outline__path"/>
            </svg>
          </div>
          <div class="mdc-notched-outline__idle"></div>
        </div>
        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
          {{ field.help_text|safe }}
        </p>
        {{ field.errors }}
      {% endfor %}
      <br>
      <p class="mdc-typography--body1">
        {% trans "By clicking on 'Register' you agree to the " %}<a href="{% url 'terms_teacher' %}">{% trans 'Terms of Service' %}</a>.
      </p>
      <div>
        <input id="submit-btn" class="mdc-button mdc-button--raised padded-top" type="submit" value="{% trans 'Register' %}"/>
      </div>
    </form>
    <br>
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    document.getElementById("submit-btn").addEventListener("click", function() {
      this.form.submit();
      if (this.form.reportValidity()) {
        this.disabled=true;
      }
    })
  })
</script>
{% endblock %}
