{% load i18n %}

<i id="menu-icon" class="material-icons md-32 header-icon">menu</i>
<aside class="mdc-drawer mdc-drawer--temporary mdc-typography">
  <nav class="mdc-drawer__drawer">
    <nav id="icon-with-text-demo" class="mdc-drawer__content mdc-list">
      <a class="mdc-list-item" href="{% url 'teacher-dashboard' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
           aria-hidden="true">
          home
        </i>
        {% trans 'Home page' %}
      </a>
      <a class="mdc-list-item" href="{% url 'browse-database' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
           aria-hidden="true">
          search
        </i>
        {% trans 'Search database' %}
      </a>
      <a class="mdc-list-item" href="{% url 'student-activity' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
           aria-hidden="true">
          {% if user.teacher.student_activity %}
            star
          {% else %}
            star_border
          {% endif %}
        </i>
        {% trans 'Student activity ' %}
      </a>
      <a class="mdc-list-item" href="{% url 'question-create' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
           aria-hidden="true">
          edit
        </i>
        {% trans 'Create question' %}
      </a>
      <a class="mdc-list-item"
         href="{% url 'teacher-assignments' user.teacher.pk %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
           aria-hidden="true">
          assignment
        </i>
        {% trans 'Create assignment' %}
      </a>
      <a class="mdc-list-item" href="{% url 'teacher' user.teacher.pk %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
           aria-hidden="true">
          account_circle
        </i>
        {% trans 'My account' %}
      </a>
      {% if request.session.forum_notifications %}
      <a class="mdc-list-item" href="{% url 'pinax_forums:thread_updates' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
          aria-hidden="true">
          help
        </i>
        {% trans 'Forums' %}<span class="mdc-theme--primary new-feature">{% trans 'New!' %}</span>
      </a>
      {% else %}
      <a class="mdc-list-item" href="{% url 'pinax_forums:forums' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
          aria-hidden="true">
          help
        </i>
        {% trans 'Forums' %}
      </a>
      {% endif %}
      <a class="mdc-list-item" href="{% url 'course_flow:home' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
          aria-hidden="true">
          directions
        </i>
        CourseFlow
      </a>
      <a class="mdc-list-item" href="{% url 'logout' %}">
        <i class="material-icons mdc-list-item__graphic mdc-theme--primary"
          aria-hidden="true">
          logout
        </i>
        {% trans 'Logout' %}
      </a>
    </nav>
  </nav>
</aside>
