{% extends 'dalite_lti/base.html' %}

{% load compress i18n staticfiles %}

{% block stylesheets %}
{{ block.super }}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="//cdn.datatables.net/1.10.19/css/dataTables.jqueryui.min.css">
<link rel="stylesheet" href="//cdn.datatables.net/buttons/1.5.2/css/buttons.jqueryui.min.css">

{% endblock %}

{% block scripts %}
{{ block.super }}
{% endblock %}
{% block body %}
<main>



<form action="{{ launch_url }}"
      name="ltiLaunchForm"
      id="ltiLaunchForm"
      method="POST"
      encType="application/x-www-form-urlencoded">
  {% for key, value in launch_data.items %}
    <input type="hidden" name="{{ key }}" value="{{ value }}"/>
  {% endfor %}
  <button type="submit">Launch the tool</button>
</form>

</main>
{% endblock %}
