{% load compress i18n %}

<div id="CookielawBanner" class="mdc-elevation--z2">
  <p>
    {% trans "myDALITE uses cookies to identify you and to minimize bandwidth use.  In continuing to use this site, you accept the use of cookies." %}
  </p>
  <a id="accept-cookies" href="#" class="mdc-button mdc-button--raised">{% trans "I accept" %}</a>
</div>

<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", () => {
    const link = document.getElementById("accept-cookies");
    link.onclick = function() {
      Cookielaw.createCookielawCookie();
    }
  });
</script>
