main {
  margin-bottom: 20px;
}
.credits {
  color: darkgray;
  font-size: 9pt;
}
.mdc-list-item__text {
  max-width: 100%;
}
.mdc-text-field__input {
  width: 100%;
}
.mdc-card .mdc-typography--body1 {
  font-size: small;
  line-height: 1.1rem;
}
.mdc-card__actions {
  min-height: 0px;
  padding: 0px;
}
.mdc-typography--caption {
  color: gray;
}
.centered {
  margin: auto;
  width: fit-content;
}
.break {
  border-style: solid;
  border-width: 0.5px;
  color: lightgray;
  margin-bottom: 10px;
  margin-top: 10px;
}
.reply {
  margin-right: 5%;
  padding: 10px 20px 6px;
  width: 95%;
}
.reply-to-reply {
  background-color: lightgray;
  margin-left: 5%;
  padding: 10px 20px 6px;
  width: 95%;
}
.post-form {
  margin-right: 5%;
  width: 95%;
}
.reply-form {
  display: none;
  margin-left: 5%;
  width: 95%;
}
.external-content {
  background-color: white;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}
.file-upload {
  border-left-color: lightgray;
  border-left-style: solid;
  border-left-width: 1px;
  margin-bottom: 4px;
  margin-top: 16px;
  padding-left: 14px;
}
.file-upload-label {
  font-size: 13px;
}
.mdc-button.delete {
  background-color: red !important;
  margin-left: 20px;
}
.with-follow {
  position: relative;
  width: calc(100% - 48px);
}
.follow {
  position: absolute;
  right: -48px;
}
.pointer  {
  cursor: pointer;
}

.error-span {
  color: red;
  display: none;
}

.white {
  color: white;
}

.inline {
  display: inline;
}

.colored-submit {
  color: #54c0db !important;
}
