{% extends user.student|yesno:'peerinst/student/base.html,peerinst/base.html' %}

{% load compress staticfiles add_class i18n %}

{% block stylesheets %}
{{ block.super }}
<!-- Self-hosted tinyMCE -->
<script src="{% static 'peerinst/js/tinymce/js/tinymce/tinymce.min.js' %}"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<style nonce="{{ request.csp_nonce }}">
.spinning {
  opacity: 0;
  vertical-align: sub;
  animation: 1s ease-in-out infinite spin;
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to   { transform: rotate(-180deg); }
}
.mdc-chip__icon--trailing {
  pointer-events: none;
}
.image-field {
  padding-top:6px;
  padding-bottom: 6px;
  padding-left: 16px;
  color: rgba(0,0,0,0.87);
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
</style>
{% endblock %}

{% block body %}
<main>
<section>
  <div class="meta-container">
    <div class="container">
      <h1 class="mdc-typography--display3">{% trans 'Question' %}
        <svg class="underline" width=150 height=4></svg>
      </h1>

      {% if object and not parent %}
      <div class="admin-link">
      {% trans 'Created by' %}<i class="material-icons md-18 inline mdc-theme--primary">keyboard_arrow_right</i><span>{{ object.user }}</span>
      </div>
      {% else %}
      {% if parent %}
      <div class="admin-link">
      {% trans 'Cloned from' %}<i class="material-icons md-18 inline mdc-theme--primary">keyboard_arrow_right</i><span class='bold'>{{ parent.title }}</span> {% if parent.user %}<span>{% trans ' by ' %}{{ parent.user }}</span>{% endif %}
      </div>
      {% endif %}
      {% endif %}

      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Step 1: Question parameters' %}</h2>

      {% if form %}
        <form id="question-create-form" enctype="multipart/form-data" method="post">
          {% csrf_token %}

          <h3>{% trans 'Content' %}</h3>

          <div class='field-container'>
            <div class='number-box flush-to-textbox'><span class='number'></span></div>
            <div class='field'>
              <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
                {{ form.title|add_class:"mdc-text-field__input" }}
                {{ form.title.label_tag|add_class:"mdc-floating-label"|cut:":" }}
                <div class="mdc-notched-outline">
                  <svg>
                    <path class="mdc-notched-outline__path"/>
                  </svg>
                </div>
                <div class="mdc-notched-outline__idle"></div>
              </div>
              <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
                {{ form.title.help_text|safe }}
              </p>
              {{ form.title.errors }}
            </div>
          </div>

          <div class='field-container'>
            <div class='number-box'><span class='number'></span></div>
            <div class='field'>
              <div class='mdc-form-field id-text-field'>
                <label for="id_text" class='p-bottom-10'> {{ form.text.label }}</label>
              </div>
              <div class="mdc-text-field mdc-text-field--textarea">
                {{ form.text }}
              </div>
              <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent id-text-field-helper" aria-hidden="true">
                {{ form.text.help_text|safe }}
              </p>
              {{ form.text.errors }}
            </div>
          </div>

          <div class='field-container'>
            <div class='number-box'><span class='number'></span></div>
            <div class='field'>
              <div class='mdc-form-field'>
                <label for='id_type'>{{ form.type.label }}:</label>
                <div class='mdc-select'>
                  {{ form.type|add_class:"mdc-select__native-control" }}
                  <div class="mdc-select__bottom-line"></div>
                </div>
              </div>
              <p class="form-helper-text" aria-hidden="true">
                {{ form.type.help_text|safe }}
              </p>
              {{ form.type.errors }}
            </div>
          </div>

          <div class='field-container'>
            <div class='number-box'><span class='number'></span></div>
            <div class='field'>
              <div class='mdc-form-field block'>
                <label for='id_image'>{{ form.image.label }}</label>
              </div>
              <div class='image-field'>
                {{form.image}}
                <span class='mdc-typography--body1 bold error-span' id='warning'>{% trans 'Max file size 1MB' %}</span>
              </div>
              <p class="form-helper-text" aria-hidden="true">
                {{ form.image.help_text|safe }}
              </p>
              {{ form.image.errors }}
            </div>

            <div class='field'>
              <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
                {{ form.image_alt_text|add_class:"mdc-text-field__input" }}
                {{ form.image_alt_text.label_tag|add_class:"mdc-floating-label"|cut:":" }}
                <div class="mdc-notched-outline">
                  <svg>
                    <path class="mdc-notched-outline__path"/>
                  </svg>
                </div>
                <div class="mdc-notched-outline__idle"></div>
              </div>
              <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
                {{ form.image_alt_text.help_text|safe }}
              </p>
              {{ form.image_alt_text.errors }}
            </div>
          </div>

          <div class='field-container'>
            <div class='number-box flush-to-textbox'><span class='number'></span></div>
            <div class='field'>
              <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
                {{ form.video_url|add_class:"mdc-text-field__input" }}
                {{ form.video_url.label_tag|add_class:"mdc-floating-label"|cut:":" }}
                <div class="mdc-notched-outline">
                  <svg>
                    <path class="mdc-notched-outline__path"/>
                  </svg>
                </div>
                <div class="mdc-notched-outline__idle"></div>
              </div>
              <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
                {{ form.video_url.help_text|safe }}
              </p>
              {{ form.video_url.errors }}
            </div>
          </div>

          <div class='peerinst'>
            <div class='field-container'>
              <div class='number-box'><span class='number'></span></div>
              <div class='field'>
                <div class='mdc-form-field'>
                  <label for='id_answer_style'>{{ form.answer_style.label }}:</label>
                  <div class='mdc-select'>
                    {{ form.answer_style|add_class:"mdc-select__native-control" }}
                    <div class="mdc-select__bottom-line"></div>
                  </div>
                </div>
                <p class="form-helper-text" aria-hidden="true">
                  {{ form.answer_style.help_text|safe }}
                </p>
                {{ form.answer_style.errors }}
              </div>
            </div>
          </div>

          <h3>{% trans 'Indexing' %}</h3>

          <div class='field-container'>
            <div class='number-box'><span class='number'></span></div>
            <div class='field'>
              <div id='discipline_form'>
                {% include 'peerinst/discipline_select_form.html' %}
              </div>
            </div>
          </div>

          <div class='field-container'>
            <div class='number-box flush-to-textbox'><span class='number'></span></div>
            <div class='field'>
              <div id='category_form'>
                {% include 'peerinst/category_select_form.html' %}
              </div>

              <div id='current_categories' class='mdc-chip-set mdc-chip-set--input' data-mdc-auto-init='MDCChipSet'>
                {% for c in object.category.all %}
                  <div d="{{c.username}}" v="{{c.pk}}" class='mdc-chip mdc-typography--caption category' tabindex='0' data-mdc-auto-init='MDCChip'>
                    <div class='mdc-chip__text'>{{c.title|title}}</div>
                    <i class='material-icons mdc-chip__icon mdc-chip__icon--trailing' tabindex='0' role='button'>cancel</i>
                    </div>
                {% endfor %}
              </div>

              <select id='id_category' name='category' multiple='multiple' hidden='true'>
                {% for c in object.category.all %}
                  <option selected="selected" value={{c.id}}>{{c.title|title}}</option>
                {% endfor %}
              </select>

            </div>
          </div>

          <div class='peerinst'>
            <h3>{% trans 'Options' %}</h3>

            <div class='field-container'>
              <div class='number-box'><span class='number'></span></div>
              <div class='field'>
                <div class='mdc-form-field'>
                  <label for="id_fake_attributions">{{ form.fake_attributions.label }}?</label>
                  <div class="mdc-checkbox">
                    {{ form.fake_attributions|add_class:'mdc-checkbox__native-control'}}
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark"
                           viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              stroke="white"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                  </div>
                </div>
                <p class="form-helper-text" aria-hidden="true">
                  {{ form.fake_attributions.help_text|safe }}
                </p>
                {{ form.fake_attributions.errors }}
              </div>
            </div>

            <div class='field-container'>
              <div class='number-box'><span class='number'></span></div>
              <div class='field'>
                <div class='mdc-form-field'>
                  <label for="id_sequential_review">{{ form.sequential_review.label }}?</label>
                  <div class="mdc-checkbox">
                    {{ form.sequential_review|add_class:'mdc-checkbox__native-control'}}
                    <div class="mdc-checkbox__background">
                      <svg class="mdc-checkbox__checkmark"
                           viewBox="0 0 24 24">
                        <path class="mdc-checkbox__checkmark-path"
                              fill="none"
                              stroke="white"
                              d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                      </svg>
                      <div class="mdc-checkbox__mixedmark"></div>
                    </div>
                  </div>
                </div>
                <p class="form-helper-text" aria-hidden="true">
                  {{ form.sequential_review.help_text|safe }}
                </p>
                {{ form.sequential_review.errors }}
              </div>
            </div>

            <div class='field-container'>
              <div class='number-box'><span class='number'></span></div>
              <div class='field'>
                <div class='mdc-form-field'>
                  <label for='id_discipline'>{{ form.rationale_selection_algorithm.label }}:</label>
                  <div class='mdc-select'>
                    {{ form.rationale_selection_algorithm|add_class:"mdc-select__native-control" }}
                    <div class="mdc-select__bottom-line"></div>
                  </div>
                </div>
                <p class="form-helper-text" aria-hidden="true">
                  {{ form.rationale_selection_algorithm.help_text|safe }}
                </p>
                {{ form.rationale_selection_algorithm.errors }}
              </div>
            </div>

            <div class='field-container'>
              <div class='number-box'><span class='number'></span></div>
              <div class='field'>
                <div class='mdc-form-field'>
                  <label for='id_discipline'>{{ form.grading_scheme.label }}:</label>
                  <div class='mdc-select'>
                    {{ form.grading_scheme|add_class:"mdc-select__native-control" }}
                    <div class="mdc-select__bottom-line"></div>
                  </div>
                </div>
                <p class="form-helper-text" aria-hidden="true">
                  {{ form.grading_scheme.help_text|safe }}
                </p>
                {{ form.grading_scheme.errors }}
              </div>
            </div>
          </div>

          {% if not object or object.user == request.user %}
          <div>
          {% else %}
          <div class="hidden">
          {% endif %}
            <h3>{% trans 'Authorship' %}</h3>

            <div class='field-container'>
              <div class='number-box flush-to-textbox'><span class='number'></span></div>
              <div class='field'>
                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
                  <input type="text" id="autofill_collaborators" class="mdc-text-field__input"/>
                  {{ form.collaborators.label_tag|add_class:"mdc-floating-label"|cut:":" }}
                  <div class="mdc-notched-outline">
                    <svg>
                      <path class="mdc-notched-outline__path"/>
                    </svg>
                  </div>
                  <div class="mdc-notched-outline__idle"></div>
                </div>

                <i class='material-icons spinning mdc-theme--primary' id='search_collaborators'>loop</i>

                <p class="form-helper-text" aria-hidden="true">
                  {{ form.collaborators.help_text|safe }}
                </p>
                {{ form.collaborators.errors }}

                <div id='current_collaborators' class='mdc-chip-set mdc-chip-set--input' data-mdc-auto-init='MDCChipSet'>
                  {% for c in object.collaborators.all %}
                    <div d="{{c.username}}" v="{{c.pk}}" class='mdc-chip mdc-typography--caption collaborator' tabindex='0' data-mdc-auto-init='MDCChip'>
                      <div class='mdc-chip__text'>{{c.username}}</div>
                      <i class='material-icons mdc-chip__icon mdc-chip__icon--trailing' tabindex='0' role='button'>cancel</i>
                      </div>
                  {% endfor %}
                </div>

                <select id='id_collaborators' name='collaborators' multiple='multiple' hidden='true'>
                  {% for c in object.collaborators.all %}
                    <option selected="selected" value={{c.pk}}>{{c.username}}</option>
                  {% endfor %}
                </select>

              </div>
            </div>

          </div>

        </form>
      {% else %}
        <h2 class="mdc-typography--display1 mdc-theme--secondary">{{question.title}}</h2>

        <p class="mdc-typography--body1">
          {{ question.text|safe }}
        </p>

        {% if question.image %}
        <img class="question-image" src="{{ question.image.url }}" height="{{ question.image.height }}"
             width="{{ question.image.width }}" alt="question.image_alt_text">
        {% endif %}

        {% if question.video_url %}
        <div id="question-video">
          <object width="640" height="390" data="{{ question.video_url }}"></object>
        </div>
        {% endif %}

        <ul id="answer-choices">
          {% for label, choice in question.get_choices %}
          <li class="dense-list">{{ label }}. {{ choice|safe }}</li>
          {% endfor %}
        </ul>
        <br>
        <div class='field-container'>
          <div class='number-box'><span class='number'>?</span></div>
          <div class='field'>
            <p><small>
              {% blocktrans %}
              Question properties cannot be changed if any students have submitted an answer.  However, you can clone this question and make whatever changes you wish.
              {% endblocktrans %}
            </small></p>
          </div>
        </div>
      {% endif %}

      <div class="m-top-20">
        {% if form %}
          {% if object %}
            {% if question.type == "PI" %}
              <span class="padded">
                <form class="inline" id="next" action="{% url 'answer-choice-form' question_id=object.pk %}" method="get">
                  <button form="next" type="submit" class="mdc-button mdc-button--raised">{% trans 'Next' %}</button>
                </form>
              </span>
            {% else %}
              <span class="padded">
                <form class="inline" id="next" action="{% url 'sample-answer-form' question_id=question.id %}" method="get">
                  <button form="next" type="submit" class="mdc-button mdc-button--raised">{% trans 'Next' %}</button>
                </form>
              </span>
            {% endif %}
          <span class="padded">
            <input form="question-create-form" class="mdc-button mdc-button--raised submit_button" type="submit" value="{% trans 'Save and next' %}" />
          </span>
          {% else %}
          <span class="padded">
            <input form="question-create-form" class="mdc-button mdc-button--raised submit_button" type="submit" value="{% trans 'Add' %}" />
          </span>
          {% endif %}
        {% else %}
          <span class="padded">
            <form class="inline" id="next" action="{% url 'sample-answer-form' question_id=object.pk %}" method="get">
              <button form="next" type="submit" class="mdc-button mdc-button--raised">{% trans 'Next' %}</button>
            </form>
          </span>
          <span class="padded">
            <button id="clone-btn" href="{% url 'question-clone' pk=object.pk %}" type="button" class="mdc-button mdc-button--raised">{% trans 'Clone' %}</button>
          </span>
        {% endif %}
      </div>
    </div>
  </div>

</main>
</section>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% if form %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script nonce="{{ request.csp_nonce }}">
  'use strict';

  // No form submission on ENTER key
  $("#question-create-form").keypress(function( event ) {
    if ( event.which == 13 ) {
      event.preventDefault();
    }
  });
  bundle.bindCheckbox();
  bundle.bindAjaxTextInputForm('show_discipline_form', 'discipline_form', "{% url 'discipline-create' %}", "{% url 'discipline-form' %}", bundle.disciplineForm, null, null);
  bundle.bindAjaxTextInputForm('show_category_form', 'category_form', "{% url 'category-create' %}", "{% url 'category-form' %}", bundle.categoryForm, "{% url 'search-categories' %}", null);


  // Enumerate form
  function enumerate(){
    $('.number-box:visible').each(function(i) {
      $(this).children('.number')[0].innerHTML = i+1;
    });
  }


  // Update form is question type changes
  function updateForm(){
    if ($('#id_type').val() == "RO") {
      $('.peerinst').toggle(false);
    }
    else {
      $('.peerinst').toggle(true);
    }
    enumerate();
  }

  $('#id_type').change(function(){
    if (this.value != "{{question.type}}") {
      $('#next').find('button').attr('disabled', 'true');
    }
    else {
      $('#next').find('button').attr('disabled', false);
    }
    updateForm();
  });

  updateForm();


  // Set file size limit
  function limitFileSize() {
    var imageForm = document.getElementById('id_image');
    var warning = document.getElementById('warning');
    imageForm.setAttribute('accept', '.png, .jpg, .jpeg, .gif');
    imageForm.onchange = function() {
      var fileSize = imageForm.files[0].size;
      if (fileSize > 1000000) {
        window.alert('File too big: '+fileSize/1000+'kB');
        warning.style.display = 'inline';
        $('.mdc-button').each(function() {
          $(this).attr('disabled',true);
        });
      }
      else {
        warning.style.display = 'none';
        $('.mdc-button').each(function() {
          $(this).attr('disabled',false);
        });
      }
      return;
    }
  }

  limitFileSize();


  // Generators for autocomplete
  const response = function(searchClass, spinnerId) {
    return function( event, ui ) {
      // NB: Pass by reference.  ui can be modified, but not recreated.
      let currentList = $.map($(searchClass), function(obj, i) {
        return $(obj).attr('d');
      });

      let tmp = ui.content.filter( function(el) {
        return !currentList.includes(el.label);
      });

      let l = ui.content.length
      while (l > 0) {
        ui.content.pop();
        l = ui.content.length;
      }

      for (let i = 0; i < tmp.length; i++) {
        ui.content.push(tmp[i]);
      }

      if (ui.content.length == 0) {
        // Could add hint that there are no results
      }

      $(spinnerId).css('opacity', 0);
      return;
    }
  }

  const search = function(spinnerId) {
    return function( event, ui ) {
      $(spinnerId).css('opacity', 1);
    }
  }

  const focus = function( event, ui ) {
    event.preventDefault();
    $(this).val(ui.item.label);
  }

  const select = function(currentIds, className, formId) {
    return function( event, ui ) {
      event.preventDefault();
      $(this).val("");

      const newDiv = document.createElement("div");
      newDiv.setAttribute("d", ui.item.label);
      newDiv.setAttribute("v", ui.item.value);
      newDiv.setAttribute("tabindex", "0");
      newDiv.setAttribute("data-mdc-auto-init", "MDCChip");
      newDiv.classList.add("mdc-chip", "mdc-typography--caption", className);
      newDiv.addEventListener("click", function() {
        updateSelect(this, formId)
      })
      const text = document.createElement("div");
      text.classList.add("mdc-chip__text");
      text.textContent = ui.item.label;
      newDiv.appendChild(text);
      const icon = document.createElement("i");
      icon.classList.add("material-icons","mdc-chip__icon","mdc-chip__icon--trailing");
      icon.setAttribute("tabindex", "0");
      icon.setAttribute("role", "button");
      icon.textContent = "cancel";
      newDiv.appendChild(icon);
      document.getElementById(currentIds).appendChild(newDiv);

      $(formId).append("<option selected='selected' value="+ui.item.value+">"+ui.item.label+"</option>");
    }
  }

  function updateSelect(el, formId) {
    el.remove();
    $(formId).find("[value="+$(el).attr('v')+"]").remove();
  }

  $('#autofill_collaborators').autocomplete({
    delay: 200,
    minLength: 3,
    classes: {
      "ui-autocomplete" : "mdc-typography--body1"
    },
    source: "{% url 'search-users' %}",
    response: response('.collaborator', '#search_collaborators'),
    search: search('#search_collaborators'),
    focus: focus,
    select: select('current_collaborators', 'collaborator', '#id_collaborators'),
    autoFocus: true,
  });

  bundle.bindCategoryAutofill("{% url 'search-categories' %}");

  // TinyMCE bind to textarea
  $('#id_text').removeAttr('required');
  tinymce.init({
    selector: 'textArea',
    elementpath: false,
    branding: false,
    plugins: ['autolink', 'autosave', 'charmap', 'code', 'link', 'paste'],
    menubar: false,
    toolbar: 'undo redo | bold italic underline superscript subscript | link | charmap | code',
    content_css: "{% static 'peerinst/css/tiny.min.css' %}",
    link_assume_external_targets: true,
    default_link_target: '_blank',
  });

  // Listeners
  window.addEventListener("load", function() {

    document.querySelectorAll(".collaborator").forEach(btn => {
      btn.addEventListener("click", function() {
        updateSelect(this,'#id_collaborators');
      });
    });

    document.querySelectorAll(".category").forEach(btn => {
      btn.addEventListener("click", function() {
        updateSelect(this,'#id_category');
      });
    });

    const cloneBtn = document.getElementById("clone-btn");
    if (cloneBtn != null) {
      cloneBtn.addEventListener("click", function() {
        window.location.href=this.getAttribute('href');
      });
    }
  });
</script>
{% endif %}
{% endblock %}
