{% extends user.student|yesno:'peerinst/student/base.html,peerinst/base.html' %}

{% load static bleach_html compress i18n %}

{% block stylesheets %}
{{ block.super }}
{% compress css %}
<link href="{% static 'peerinst/css/search.min.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}
{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{{assignment.title}}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      {% if user in assignment.owner.all and assignment.editable or user.is_staff %}
      <a href="{% url 'assignment-update' assignment_id=assignment.identifier%}">{% trans 'Edit question list' %}</a>
      <span class="admin-link--padded">|</span>{% endif %}<a href="{% url 'research-assignment-question-index-by-assignment' assignment_id=assignment.identifier%}">{% trans 'Score Rationales / Flag Questions / Update Expert Answers' %}</a>
    </div>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Questions' %}</h2>

    {% for question in object_list %}
    <div class="mdc-card">
      <div class="mdc-typography--title bold m-bot-5">
        {{question.title|bleach_html|safe}}
      </div>

      <div class="mdc-typography--body1">
        {{question.text|bleach_html|safe}}
      </div>

      {% if question.image %}
      <img class="question-image" src="{{ question.image.url }}" alt="{{ question.image_alt_text }}">
      {% endif %}

      {% if question.video_url %}
      <div id="question-video">
        <object class="question-image" width="640" height="390" data="{{ question.video_url }}"></object>
      </div>
      {% endif %}

      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons grey">
          <div class="mdc-typography--caption">
            <div>
              {% trans 'Discipline' %}: {{question.discipline}}
            </div>
            <div>
              {% trans 'Categories' %}:
              {% for c in question.category.all %}
              {{ c.title|safe }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              {% trans 'Uncategorized' %}
              {% endfor %}
            </div>
            <div>
              {% trans 'Student answers' %}: {{question.answer_set.count}}
            </div>
          </div>
        </div>

        <div class="mdc-card__action-icons">
          <div id="stats-{{ question.id|safe }}" class="stats">
            <i id="activate-dialog-analytics-{{ question.id|safe }}"
            ref_id="{{ question.id|safe }}" class="material-icons md-24{% if not question.answer_set.all.count == 0 %} analytics-tags{% endif %}">info</i>
            <span id="rating-{{ question.id|safe }}"></span>
          </div>
          <div class="flag-question" data-id="{{ question.pk }}">
            <i class="mdc-icon-toggle material-icons mdc-theme--primary flag-question__btn"
               role="button"
               aria-pressed="false"
               aria-label="{% trans 'Flag question' %}"
               tabindex="0"
               title="{% trans 'Flag question' %}">
               outlined_flag
            </i>
            <div class="flag-question__form" hidden>
              <h3>{% trans 'Flag question' %}</h3>
              <form>
                <select class="flag-question__form__select"
                        title="{% trans 'Possible reasons' %}"
                        aria-label="{% trans 'Possible reasons' %}">
                </select>
                <input type="submit"
                       class="mdc-button mdc-button--raised"
                       value="{% trans 'Flag' %}">
              </form>
              <svg class="icon flag-question__close">
                <use xlink:href="#close"></use>
              </svg>
            </div>
          </div>
          <i class="mdc-icon-toggle material-icons mdc-theme--primary favourite-btn"
              role="button"
              aria-pressed="false"
              aria-label="Add to favorites" tabindex="0"
              {% if question in request.user.teacher.favourite_questions.all %}
              data-toggle-off='{"label": "Remove from favourites", "content": "favorite"}'
              data-toggle-on='{"label": "Add to favourites", "content": "favorite_border"}'
              {% else %}
              data-toggle-on='{"label": "Remove from favourites", "content": "favorite"}'
              data-toggle-off='{"label": "Add to favourites", "content": "favorite_border"}'
              {% endif %}
              pk="{{ question.pk|safe }}">
              favorite_border
          </i>
          <a class="link-question-button" href="{% url 'question' assignment_id=assignment.pk question_id=question.pk %}">
            <i class="material-icons md-36 analytics-tags ripple-icon mdc-theme--primary mdc-ripple-surface--primary md-32 overflow">play_arrow</i>
          </a>
        </div>
      </div>
    </div>

    <aside id="dialog-analytics-{{question.id}}"
      class="mdc-dialog plot-dialog"
      role="alertdialog"
      aria-labelledby="label"
      aria-describedby="description"
      data-get-matrix="{{ question.get_matrix|safe }}"
      data-get-frequency="{{ question.get_frequency|striptags }}"
      data-id="{{ question.id }}">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 id="label" class="mdc-dialog__header__title">
            {{ question.title }}
          </h2>
        </header>
        <section id="description-{{ question.id }}" class="mdc-dialog__body mdc-dialog__body--scrollable">
          <h2 id="label" class="mdc-dialog__header__title">
            {% trans 'Analytics' %}
          </h2>
          <div id="{{ question.id }}" name="analytics" class="items-for-question">
            <svg id="first-frequency-{{ question.id }}" width="300" height="80" class="vertical-align"></svg>
            <svg id="matrix-{{ question.id }}" width="60" height="60" class="vertical-align"></svg>
            <svg id="second-frequency-{{ question.id }}" width="300" height="80" class="vertical-align"></svg>
          </div>
          <h2 id="label" class="mdc-dialog__header__title">
            {% trans 'Rationales' %}
          </h2>
          <div class='field-container'>
            <div class='number-box'><span class='number'>?</span></div>
            <div class='field'>
              <p class="dialog-help-text"><small>
                {% blocktrans %}
                The following rationales consist of the most popular, while the preceding fraction indicates, of those that have viewed the rationale, how many have chosen it.
                {% endblocktrans %}
              </small></p>
            </div>
          </div>
          <ul>
            {% for answer_choice in question.get_most_convincing_rationales %}
              <li id="{{ question.id }}" name="rationale" class="items-for-question">{{ answer_choice.Answer }}. {{ answer_choice.answer_text|safe|striptags }}</li>
              <ul>
                {% for rationale in answer_choice.most_convincing %}
                    <li id="{{ question.id }}" data-id="{{ rationale.id }}" name="rationale" class="items-for-question"><span class="rationale-stats">({{ rationale.times_chosen }}/{{ rationale.times_shown }})</span> {{ rationale.rationale|safe|striptags }}</li>
                {% endfor %}
              </ul>

            {% endfor %}
          </ul>
          <h2 id="label" class="mdc-dialog__header__title">
            {% trans 'Assignments using ' %}{{ question.title }}
          </h2>
          {% for assignment in question.assignment_set.all %}
            <p id="{{ question.id }}" name="assignment" class="items-for-question"><a class="assignment-link" href="{% url 'question-list' assignment_id=assignment.pk %}">{{ assignment.title }}</a></p>
          {% endfor %}
        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
    {% empty %}
    <ul>
      <li><strong>Note:</strong>{% trans 'There are currently no questions in this assignment' %}.</li>
    </ul>
    {% endfor %}
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js %}
<script src="{% static 'peerinst/js/teacher.min.js' %}"></script>
{% endcompress %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/json5@2.1.1/dist/index.min.js" integrity="sha384-gRrJKgBpstjyexh9UmCoTPivgMMb7/EAtEdR5DLbVhiPYdl03QxdzMzbylHUSloD" crossorigin="anonymous"></script>
<script nonce="{{ request.csp_nonce }}">
bundle.addDialog();

[].forEach.call(document.querySelectorAll('.analytics-tags'),
  function(el,i,list) {
    el.addEventListener('click', function() {
      showAnalytics(el.getAttribute('ref_id'));
    }, false);
  }
);

[].forEach.call(document.querySelectorAll('.ripple-icon'),
  function(el) {
    const ripple = bundle.ripple.MDCRipple.attachTo(el);
    ripple.unbounded = true;
  }
)
function setupAnalytics(){
  bundle.addDialog();
  [].forEach.call(document.querySelectorAll('.analytics-tags'),
    function(el,i,list) {
      el.addEventListener('click', function() {
        showAnalytics(el.getAttribute('ref_id'));
      }, false);
    }
  );

  [].forEach.call(document.querySelectorAll('.plot-dialog'),
    function(el,i,list) {
      let show = false;
      const getMatrixJson = JSON5.parse(el.getAttribute("data-get-matrix"));
      Object.keys(getMatrixJson).forEach(function (property) {
        if (getMatrixJson[property] != 0){
          show = true;
        }
      });
      if(show) {
        bundle.plot(getMatrixJson, JSON5.parse(el.getAttribute("data-get-frequency")),+el.getAttribute("data-id"));
      } else {
        const desc = document.getElementById("description-"+el.getAttribute("data-id"));
        $(desc).children().slice(0,5).remove();
      }
    }
  );

  [].forEach.call(document.querySelectorAll('.ripple-icon'),
    function(el) {
      const ripple = bundle.ripple.MDCRipple.attachTo(el);
      ripple.unbounded = true;
    }
  );

  function showAnalytics(id){
    bundle.selectAll("#first_choice-"+id).transition().duration(1000).attr("x",function(d){return bundle.select(this).attr("finalx");}).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
    bundle.selectAll("#second_choice-"+id).transition().delay(1000).duration(1000).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
    return;
  }
}
function toggleFavourite(pk) {
  var posting = $.post("{% url 'teacher-toggle-favourite' %}", {pk: pk});
  posting.done(function(data) {
    console.info(data);
  })
}

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
        }
    }
});

window.addEventListener("load", function() {
  [].forEach.call(document.querySelectorAll(".mdc-icon-toggle"), el => {
    bundle.iconToggle.MDCIconToggle.attachTo(el);
  });

  [].forEach.call(document.querySelectorAll(".favourite-btn"), el => {
    el.addEventListener("click", () => {
      toggleFavourite(el.getAttribute('pk'));
    });
  });
    setupAnalytics();
    teacher.initSearchFlag("{% url 'question--flag--reasons' %}", "{% url 'question--flag--flag' %}");
});
</script>
{% endblock %}
