{% extends user.student|yesno:'peerinst/student/base.html,peerinst/base.html' %}

{% load bleach_html compress i18n %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{{assignment.title}}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      {% if user in assignment.owner.all and assignment.editable or user.is_staff %}
      <a href="{% url 'assignment-update' assignment_id=assignment.identifier%}">{% trans 'Edit question list' %}</a>
      <span class="admin-link--padded">|</span>{% endif %}<a href="{% url 'research-assignment-question-index-by-assignment' assignment_id=assignment.identifier%}">{% trans 'Score Rationales / Flag Questions / Update Expert Answers' %}</a>
    </div>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Questions' %}</h2>

    {% for g in object_list %}
    <div class="mdc-card">
      <div class="mdc-typography--title bold m-bot-5">
        {{g.title|bleach_html|safe}}
      </div>

      <div class="mdc-typography--body1">
        {{g.text|bleach_html|safe}}
      </div>

      {% if g.image %}
      <img class="question-image" src="{{ g.image.url }}" alt="{{ g.image_alt_text }}">
      {% endif %}

      {% if g.video_url %}
      <div id="question-video">
        <object class="question-image" width="640" height="390" data="{{ g.video_url }}"></object>
      </div>
      {% endif %}

      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons grey">
          <div class="mdc-typography--caption">
            <div>
              {% trans 'Discipline' %}: {{g.discipline}}
            </div>
            <div>
              {% trans 'Categories' %}:
              {% for c in g.category.all %}
              {{ c.title|safe }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              {% trans 'Uncategorized' %}
              {% endfor %}
            </div>
            <div>
              {% trans 'Student answers' %}: {{g.answer_set.count}}
            </div>
          </div>
        </div>

        <div class="mdc-card__action-icons">
          <div id="stats-{{g.id}}" class="stats">
            <i id="activate-dialog-assignments-{{g.id}}" class="material-icons md-24 analytics-tags">description</i>{{ g.assignment_set.all.count }}
            <i id="activate-dialog-rationales-{{g.id}}" class="material-icons md-24 analytics-tags">chat</i>{{ g.answer_set.all.count }}
            <i id="activate-dialog-analytics-{{g.id}}"
            ref_id="{{g.id}}" class="material-icons md-24 analytics-tags">assessment</i>
            <span id="rating-{{g.id}}"></span>
          </div>
          <a href="{% url 'question' assignment_id=assignment.pk question_id=g.pk %}">
            <i class="material-icons md-36 analytics-tags ripple-icon mdc-theme--primary mdc-ripple-surface--primary md-32 overflow">play_arrow</i>
          </a>
        </div>
      </div>
    </div>

    <aside id="dialog-assignments-{{g.id}}"
      class="mdc-dialog"
      role="alertdialog"
      aria-labelledby="label"
      aria-describedby="description">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 id="label" class="mdc-dialog__header__title">
            {% trans 'Assignments' %}
          </h2>
        </header>
        <section id="description" class="mdc-dialog__body mdc-dialog__body--scrollable">

            {% for assignment in g.assignment_set.all %}
              <p id="{{ g.id }}" name="assignment" class="items-for-question"><a href="{% url 'question-list' assignment_id=assignment.pk %}">{{ assignment.title }}</a></p>
            {% endfor %}

        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>

    <aside id="dialog-rationales-{{g.id}}"
      class="mdc-dialog"
      role="alertdialog"
      aria-labelledby="label"
      aria-describedby="description">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 id="label" class="mdc-dialog__header__title">
            {% trans 'Student rationales' %}
          </h2>
        </header>
        <section id="description" class="mdc-dialog__body mdc-dialog__body--scrollable">

            {% for answer in g.answer_set.all %}
              <p id="{{ g.id }}" name="rationale" class="items-for-question">{{ answer.rationale|safe|striptags  }}</p>
            {% endfor %}

        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>

    <aside id="dialog-analytics-{{g.id}}"
      class="mdc-dialog"
      role="alertdialog"
      aria-labelledby="label"
      aria-describedby="description">
      <div class="mdc-dialog__surface">
        <header class="mdc-dialog__header">
          <h2 id="label" class="mdc-dialog__header__title">
            {% trans 'Analytics' %}
          </h2>
        </header>
        <section id="description" class="mdc-dialog__body">
          <div id="{{ g.id }}" name="analytics" class="items-for-question">
            <svg id="first-frequency-{{ g.id }}" width="300" height="80" class="vertical-align"></svg>
            <svg id="matrix-{{ g.id }}" width="60" height="60" class="vertical-align"></svg>
            <svg id="second-frequency-{{ g.id }}" width="300" height="80" class="vertical-align"></svg>
          </div>
        </section>
        <footer class="mdc-dialog__footer">
          <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
        </footer>
      </div>
      <div class="mdc-dialog__backdrop"></div>
    </aside>
    {% empty %}
    <ul>
      <li><strong>Note:</strong>{% trans 'There are currently no questions in this assignment' %}.</li>
    </ul>
    {% endfor %}
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
bundle.addDialog();

[].forEach.call(document.querySelectorAll('.analytics-tags'),
  function(el,i,list) {
    el.addEventListener('click', function() {
      showAnalytics(el.getAttribute('ref_id'));
    }, false);
  }
);

[].forEach.call(document.querySelectorAll('.ripple-icon'),
  function(el) {
    const ripple = bundle.ripple.MDCRipple.attachTo(el);
    ripple.unbounded = true;
  }
)
function showAnalytics(id){
  bundle.selectAll("#first_choice-"+id).transition().duration(1000).attr("x",function(d){return bundle.select(this).attr("finalx");}).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
  bundle.selectAll("#second_choice-"+id).transition().delay(1000).duration(1000).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
  return;
}
</script>

<script nonce="{{ request.csp_nonce }}">
{% for obj in object_list %}
  bundle.plot({{ obj.get_matrix|safe }},{{ obj.get_frequency|safe|striptags }},{{ obj.id }});
{% endfor %}
</script>
{% endblock %}
