{% extends 'peerinst/question/start.html' %}

{% load static compress i18n add_class %}

{% block extra_title %}
<h2 class="mdc-typography--display1 mdc-theme--secondary">
  {% if question.type == "PI" %}
    {% trans 'Step 4: Sample answers' %}
  {% else %}
    {% trans 'Step 2: Preview' %}
  {% endif %}
</h2>

{% if request.session.assignment_id %}
<div class="admin-link">
  <a href="{% url 'research-assignment-question-index-by-assignment' assignment_id=request.session.assignment_id %}">Back to Quality Control</a>
</div>
{% endif %}

<div class='field-container'>
  <div class='number-box' title="{% trans 'What might a confused student say to justify these answer choices?' %}">
  <span class='number'>?</span></div>
  <div class='field'>
    <p class="mdc-typography--body1"><small>
      {% if question.type == "PI" %}
      {% blocktrans %}
      This is a preview of how the question looks in the student interface.  You can add example
      rationales here that will be shown as choices to students.  You need to provide at least one example
      rationale for each of the possible answer choices. This is where you can enter <em>distractor</em> rationales,
      even for the correct answer choices.
      {% endblocktrans %}
      {% else %}
      {% blocktrans %}
      This is a preview of how the question looks in the student interface.
      {% endblocktrans %}
      {% endif %}
    </small></p>
  </div>
</div>
{% endblock %}

{% block messages %}
{% for message in messages %}
<div class="message-box">
  <div class="message">{{ message }}</div>
  <i id="clear_message" class="clear mdc-theme--secondary material-icons md-24 mdc-ripple-surface icon-list">
      clear
  </i>
</div>
{% endfor %}
{% endblock %}

{% block submit_button %}{% trans 'Submit sample answer' %}{% endblock %}
{% block extra_content %}
{% if question.type == "PI" %}
  {{ form.errors }}
  <hr class="simple-hr">
  <h3>{% trans 'Existing sample answers' %}</h3>
  {% if not save_allowed %}
    <p class="errorlist">{% trans 'You must submit some at least one example rationale for each of the answer choices above' %}</p>
  {% endif %}
  <ul class="mdc-list">
    {% for sample in question.answer_set.all|dictsort:'first_answer_choice' %}
      {% if not sample.user_token and not sample.expert %}
        <li><span class='mdc-theme--primary bold'>{{ sample.first_answer_choice_label }}</span>: {{ sample.rationale|safe|striptags }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <hr class="simple-hr">
  <h3>{% trans 'Existing Expert rationales' %}</h3>
  <ul class="mdc-list">
    {% for sample in question.answer_set.all|dictsort:'first_answer_choice' %}
      {% if sample.expert %}
        <li><span class='mdc-theme--primary bold'>{{ sample.first_answer_choice_label }}</span>: {{ sample.rationale|safe|striptags }}</li>
      {% endif %}
    {% endfor %}
  </ul>


{% endif %}

<hr class="simple-hr">

{% if user.teacher %}
{% if save_allowed or question.type == "RO" %}
<h3>{% trans 'Auto add to assignments' %}</h3>
<form id="add_question_to_assignment" action="{% url 'sample-answer-form-done' question_id=question.id %}" method="post">
  {% csrf_token %}
  <div class='field-container'>
    <div class='number-box'><span class='number'><i class="material-icons">add</i></span></div>
    {% if assignment_count > 0 %}
    <div class='field'>
      <div class='mdc-form-field'>
        <label for='id_assignments'>{{ assignment_form.assignments.label }}:</label>
        {{ assignment_form.assignments|add_class:'multiple-select mdc-theme--background' }}
      </div>
      <p class="form-helper-text" aria-hidden="true">
        {{ assignment_form.assignments.help_text|safe }}
      </p>
      {{ assignment_form.assignments.errors }}
    </div>
    {% else %}
    <div class='field'>
      {% trans 'You currently do not have any assignments.  You can create one from your account page.' %}
    </div>
    {% endif %}
  </div>
</form>
<hr class="simple-hr">
{% endif %}
{% endif %}

<div class="m-top-20">
  <span class="padded">
    {% if question.type == "PI" %}
      <form class="inline" id="back" action="{% url 'research-fix-expert-rationale' question_id=question.id %}" method="get">
        <button form="back" type="submit" class="mdc-button mdc-button--raised">{% trans 'Back' %}</button>
      </form>
    {% else %}
      <form class="inline" id="back" action="{% url 'question-update' pk=question.id %}" method="get">
        <button form="back" type="submit" class="mdc-button mdc-button--raised">{% trans 'Back' %}</button>
      </form>
    {% endif %}
  </span>
  <span class="padded">
    {% if user.teacher %}
      {% if save_allowed or question.type == "RO" %}
        <input id="done" form="add_question_to_assignment" type="submit" class="mdc-button mdc-button--raised submit_button" value="{% trans 'Done' %}">
      {% endif %}
    {% else %}
      <form class="inline" id="done" action="{% url 'welcome' %}" method="get">
        <button form="done" type="submit" class="mdc-button mdc-button--raised">{% trans 'Done' %}</button>
      </form>
    {% endif %}
  </span>
</div>

{% endblock %}

{% block scripts %}
{{ block.super }}

{% if question.type == "RO" %}
<script nonce="{{ request.csp_nonce }}">
$('#submit-answer-form').remove();
</script>
{% endif %}

<script nonce="{{ request.csp_nonce }}">
window.addEventListener("load", function() {
  const clearButton = document.getElementById("clear_message");
  if (clearButton) {
    clearButton.addEventListener("click", function() {
      $(this).parent().remove();
    });
  }
});
</script>
{% endblock %}
