{% extends 'peerinst/question/review_base.html' %}

{% load add_class compress i18n static %}

{% block answers %}
{{ block.super }}
<p class="mdc-typography--body1">
  {% if sequential_review %}
  {% blocktrans %}
  Consider the problem again, and select the most convincing rationale.
  {% endblocktrans %}
  {% else %}
  {% blocktrans %}
  Consider the problem again, noting the rationales below that have been provided by other
  students.  They may, or may not, cause you to reconsider your answer.  Read them and select your
  final answer.
  {% endblocktrans %}
  {% endif %}
</p>
{% endblock %}

{% block inner_form %}
{{ form.non_field_errors }}
<div class="rationales mdc-typography--body1">
  {% for second_answer_choice, rationale_choice, show_more_counters, label, rationale_ids in form.rationale_groups %}
  <div class="rationale" id="rationales-{{ forloop.counter0 }}">
    <div class="rationale-choice">{{ second_answer_choice }}.</div>
    <div class="rationale-text-container">{{ rationale_choice.errors }}
      <ul>
      {% for r in rationale_choice %}
        <li {% if forloop.counter > 2 %}class="hidden-{{ forloop.parentloop.counter }}" hidden{% endif %}>
          <div class="mdc-form-field">
            <div class="mdc-radio" data-mdc-auto-init="MDCRadio">
              {{ r.tag|add_class:"mdc-radio__native-control" }}
              <div class="mdc-radio__background">
                <div class="mdc-radio__outer-circle"></div>
                <div class="mdc-radio__inner-circle"></div>
              </div>
            </div>
            <label class="mdc-typography--body1" for="{{ choice.id_for_label }}">{{ r.choice_label }}</label>
          </div>
        </li>
        {% if forloop.counter > 2 and forloop.last %}
        <input type="{{ show_more_counters.type }}"
                name="{{ show_more_counters.name }}"
                id="show-counter-{{ forloop.parentloop.counter }}"
                value="2" hidden>
        <div class="expand-button" data-rationale-iterator="{{ forloop.parentloop.counter }}"><b>See More</b></div>
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
<div id="review-alert">
  <div>
    <span>
      {% blocktrans %}
      You should take a bit more time to evaluate other answers
      {% endblocktrans %}
    </span>
    <button class="mdc-button mdc-button--raised">
      Ok
    </button>
  </div>
</div>
{% endblock %}

{% block submit_button_fct %}{% endblock %}
{% block submit_button %}{% trans 'Submit' %}{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js %}
  <script src="{% static 'peerinst/js/question_review.js' %}"></script>
{% endcompress %}
  <script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    question.initReview();
    [].forEach.call(document.querySelectorAll('.expand-button'),
      function(el,i,list) {
        el.addEventListener('click', function() {
          const els = document.getElementsByClassName("hidden-"+el.getAttribute("data-rationale-iterator"));
          const showCounter = document.getElementById("show-counter-"+el.getAttribute("data-rationale-iterator"))
          let shownCounter = 0;
          const isLastShowMore = false;
          for (let i=0; i<els.length; i++){
            if (els[i].hidden == true && shownCounter<2){
              els[i].hidden = false;
              shownCounter++;
              if (i==els.length-1) {
                el.hidden = true;
                break;
              }
              showCounter.setAttribute("value",+showCounter.getAttribute("value")+1);
            }
          }
        });
      }
    );
  });
  </script>
{% endblock %}
