{% extends 'peerinst/_base.html' %}

{% load compress staticfiles i18n %}

{% block stylesheets %}
{% include 'reputation/header/styles.html' %}
{% compress css %}
<link href="{% static 'peerinst/css/teacher.min.css' %}" rel="stylesheet">
<link href="{% static 'peerinst/css/layout.min.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block scripts %}
{% include 'reputation/header/scripts.html' %}
{% compress js %}
<script src="{% static 'peerinst/js/teacher.min.js' %}"></script>
<script src="{% static 'peerinst/js/custom_elements.min.js' %}"></script>
{% endcompress %}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    teacher.initNotifications(
    );
    teacher.initGradebooks(
      {
        requestGradebook: "{% url 'teacher-gradebook--request' %}",
        gradebookResult: "{% url 'teacher-gradebook--result' %}",
        removeFailedGradebook: "{% url 'teacher-gradebook--remove' %}",
        downloadGradebook: "{% url 'teacher-gradebook--download' %}",
        tasks: "{% url 'teacher-tasks' %}",
      }
    );
  });
</script>
{% endblock %}

{% block logged_in_layout_class %}
class="logged-in-layout"
{% endblock %}

{% block header-left %}
<div class="header">
  {% include 'peerinst/teacher/header/menu.html' %}
</div>
{% endblock %}

{% block header-right %}
<div class="header">
  {% include 'reputation/header/header.html' %}
</div>
<div class="header">
  {% include 'peerinst/teacher/header/notifications.html' %}
</div>
{% endblock %}
