{% extends 'peerinst/teacher/base.html' %}

{% load static compress i18n %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
<style nonce="{{request.csp_nonce}}">
  .progress-chart {
    margin-bottom: 40px;
  }
  .mdc-typography--display3 {
    font-size: 2.5rem;
  }
  @media (max-height: 650px) {
    .mdc-card__action-buttons {
      display: none;
    }
  }
</style>
{% endblock %}

{% block body %}
<main id="teacher-dashboard">
  <section id="dalite-messages">
    <h1 class="mdc-typography--display3">{% trans 'Messages' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <br>
    <ul></ul>
  </section>
  <section id="questions">
    <h1 class="mdc-typography--display3">{% trans 'Question of the Day' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <br>
    {% include "peerinst/question/cards/question_card.html" %}
  </section>
  <section id="rationales">
    <h1 class="mdc-typography--display3">{% trans 'Rationales to Score' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <br>
    {% include "peerinst/teacher/cards/rationale_to_score_card.html" with rationales=rationales %}
  </section>
  <section id="student-activity">
    <h1 class="mdc-typography--display3">{% trans 'Student Activity' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <br>
    {% include "peerinst/teacher/cards/student_activity_card.html" with data=student_activity_data %}
  </section>
  <!--
  <section id="collections">
    <h1 class="mdc-typography--display3">{% trans 'Featured Collection' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>
    <br>
  </section>
  -->
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script nonce="{{ request.csp_nonce }}">
  "use strict";

  const transition = {duration: 600, direction:"right", easing:"easeInOutCubic"};

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
          }
      }
  });


  function initQuestionCards() {
    console.debug("Initializing question cards");

    $("#questions .mdc-card").each((i, el) => {
      if (el.getAttribute("initialized") !== "true") {
        el.setAttribute("initialized", "true");

        $(el).find(".mdc-icon-toggle.favourite-btn").each((i, heart) => {
          bundle.iconToggle.MDCIconToggle.attachTo(heart);
          heart.addEventListener("click", () => {
            const posting = $.post("{% url 'teacher-toggle-favourite' %}", {pk: heart.getAttribute("data-id")});
            posting.done(data => {
              console.log(data);
            });
          });
        });

        $(el).find(".remove-btn").each((i, x) => {
          x.addEventListener("click", () => {
            const posting = $.get("{% url 'teacher-dashboard--new-questions' %}");
            posting.done(data => {
              $(el).toggle("fade", () => {
                $(el).remove();
                $("#questions").append(data);
                $("#questions .mdc-card").hide().toggle("slide", transition);
                initQuestionCards();
              });
            });
            posting.fail(() => {
              x.innerHTML = "error"; // Add snack bar?
              window.setTimeout(() => {x.innerHTML = "autorenew";}, 5000);
            })
          });
        });
      }
    });
  }


  function initStudentActivity() {
    let data = {{ student_activity_json|safe }};

    function draw() {
      $('.progress-chart').each(function() {
        let dataset = data[$(this).attr('group')][$(this).attr('assignment')];
        bundle.plotTimeSeries(this, dataset);
      });
    }
    draw();
    window.addEventListener('resize', draw);
  }


  function initRationalesToScore() {
    // Rating system
    $("#rationales .mdc-card").each((i, el) => {
      const id = el.getAttribute("data-id");
      const submitBtn = document.getElementById("submit-score-btn");
      let score;

      $(".star").each((i, star) => {
        star.addEventListener("click", () => {
          submitBtn.removeAttribute("disabled");
          score = star.getAttribute('data-rank');
          $(".star").each((i, _star) => {
            if (_star.getAttribute('data-rank') <= score) {
              _star.innerHTML = "star";
            } else {
              _star.innerHTML = "star_border";
            }
          });
        });
      });

      // Submit score
      submitBtn.addEventListener("click", () => {
        let posting = $.post("{% url 'teacher-dashboard--evaluate-rationale' %}", { id: id, score: score});
        posting.done((data) => {
          init(data);
        });
      });

      // Flag inappropriate
      const flagBtn = document.getElementById("submit-flag-btn");
      flagBtn.addEventListener("click", () => {
        let posting = $.post("{% url 'teacher-dashboard--evaluate-rationale' %}", { id: id, score: 0});
        posting.done((data) => {
          init(data);
        });
      });

      function init(data) {
        $(el).toggle("fade", () => {
          $(el).remove();
          $("#rationales").append(data);
          $("#rationales .mdc-card").hide().toggle("slide", transition);
          initRationalesToScore();
        });
      }
    });
  }


  window.addEventListener("load", () => {
    teacher.initDashboard({{ data|safe }});
    initQuestionCards();
    initStudentActivity();
    initRationalesToScore();
  })
</script>
{% endblock %}
