{% extends 'peerinst/teacher/base.html' %}

{% load compress i18n %}

{% block body %}
<main id="teacher-dashboard">
  <section id="dalite-messages">
    <ul></ul>
  </section>
  <section id="student-activity">
  </section>
  <section id="questions">
  </section>
  <section id="collections">
  </section>
  <section id="rationales">
  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", () => {
    teacher.initDashboard({{ data|safe }});
  })
</script>
{% endblock %}
