{% extends 'peerinst/teacher/base.html' %}

{% load get_value staticfiles compress i18n %}

{% block stylesheets %}
{{ block.super }}
<style nonce="{{ request.csp_nonce }}">
.deleted {
  background-color: lightgray;
}
</style>
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'My Account' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="foldable">
      <h2 id="groups-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Groups' %}
      </h2>
      <div class="foldable--body">
        <div class="admin-link">
          <a href="{% url 'teacher-groups' teacher.id %}">{% trans 'Manage groups' %}</a>
          <span class="links-divider">|</span><a href="{% url 'group-assignments' teacher.id %}">{% trans 'Homework list' %}</a>
        </div>
        {% if not object.current_groups.all %}
        <p class='mdc-typography--body1'>{% blocktrans %}You have no active student groups.{% endblocktrans %}</p>
        {% endif %}
        <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
          {% for g in object.current_groups.all %}
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item pointer group-link">
            <span class="mdc-list-item__graphic mdc-theme--primary">
              <i class="clickable mdc-theme--primary material-icons md-48">group</i>
            </span>
            <span class="clickable mdc-list-item__text mdc-theme--secondary bold">
              {% if not g.title %} {{ g.name }} {% else %} {{ g.title }} {% endif %}
              <span class="mdc-list-item__secondary-text">
                {% trans "Created: " %} {{ g.creation_date }}
              </span>
              <span class="mdc-list-item__secondary-text">
                {% trans "Students: " %} {{ g.student_set.count  }}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <button class="gradebook-button" data-group="{{ g.pk }}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">
                  bar_chart
                </i>
              </button>
              <a href="{% url 'group-share' pk=teacher.id group_hash=g.hash %}">
              <i class="material-icons md-24 mdc-ripple-surface icon-list">share</i>
              </a>
            </span>
          </li>
          {% endfor %}
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
      </div>
    </div>

    <div class="foldable">
      <h2 id="assignment-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Assignments' %}
      </h2>
      <div class="foldable--body">
        <div class="admin-link">
            <a href="{% url 'teacher-assignments' teacher.id %}">{% trans 'Manage assignments' %}</a>
            <span class="links-divider">|</span><a href="{% url 'report_selector' %}">{% trans 'Custom reports' %}</a>
        </div>
        {% if not object.assignments.all %}
        <p class='mdc-typography--body1'>{% blocktrans %}You do not have any assignments.{% endblocktrans %}</p>
        {% endif %}
        <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
          {% for a in object.assignments.all %}
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__graphic mdc-theme--primary">
              <i class="clickable mdc-theme--primary material-icons md-48 pointer assignment-link">assignment</i>
            </span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              <a class="mdc-theme--secondary" href="{% url 'question-list' a.pk %}">{{ a.identifier }}</a>
              <span class="mdc-list-item__secondary-text">
                {{ a.questions.count }} {% trans "questions" %}, {{ a.answer_set.count }} {% trans "answers" %}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <i id="activate-dialog-{{a.pk|slugify}}" class="material-icons md-24 mdc-ripple-surface icon-list">info</i>
              <a href="{% url 'report-all-groups' assignment_id=a.identifier|urlencode:"" %}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">bar_chart</i>
              </a>
              {% if object.user in a.owner.all and a.editable %}
                <a  id="edit-assignment-{{ a.pk|slugify }}" href="{% url 'assignment-update' a.pk %}">
                  <i class="material-icons md-24 mdc-ripple-surface icon-list">mode_edit</i>
                </a>
              {% else %}
                <a  id="copy-assignment-{{ a.pk|slugify }}" href="{% url 'assignment-copy' a.pk %}">
                  <i class="material-icons md-24 mdc-ripple-surface icon-list">file_copy</i>
                </a>
              {% endif %}
              <a href="{% url 'student-group-assignment-create' a.pk %}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">share</i>
              </a>
            </span>
          </li>

          <aside id="dialog-{{a.pk|slugify}}"
            class="mdc-dialog"
            role="alertdialog"
            aria-labelledby="assignment-parameters-label"
            aria-describedby="assignment-parameters-description">
            <div class="mdc-dialog__surface">
              <header class="mdc-dialog__header">
                <h2 id="assignment-parameters-label" class="mdc-dialog__header__title">
                  {% trans 'How to use in your course through LTI' %}
                </h2>
              </header>
              <section id="assignment-parameters-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
                <p class="mdc-typography--body1">{% blocktrans %}Use the following to configure the LTI tool in your Learning Management System (e.g. Moodle, OpenEdx){% endblocktrans %}:</p>
                <ul>
                    <li>{% trans 'LTI Launch URL' %} : {{ LTI_launch_url }}</li>
                    <li>{% trans 'LTI Consumer Key' %} : {{ LTI_key }}</li>
                    <li>{% trans 'LTI Shared Secret' %} : {{ LTI_secret }}</li>
                </ul>
                <p class="mdc-typography--body1">{% blocktrans %}To import any of the questions below, copy and paste the text below the question title into the <em>Custom Paramaters</em> box of your LTI tool{% endblocktrans %}:</p>
                <ul>
                {% for q in a.questions.all %}
                  <li><span class="bold">{{ q.title }}:</span>
                    <ul>
                      <li>assignment_id={{ a.identifier }}</li>
                      <li>question_id={{ q.id }}</li>
                      <li>teacher_id={{ teacher.hash }}</li>
                    </ul>
                {% endfor %}
                </ul>
              </section>
              <footer class="mdc-dialog__footer">
                <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
              </footer>
            </div>
            <div class="mdc-dialog__backdrop"></div>
          </aside>

          {% endfor %}
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
      </div>
    </div>

    <div class="foldable">
      <h2 id="question-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Questions' %}
      </h2>
      <div class="foldable--body">
        <div class="admin-link">
          <a href="{% url 'question-create' %}">{% trans 'Create new' %}</a>
          <span class="links-divider">|</span><span id='show-deleted-questions' class='toggle-deleted-questions fake-link clickable'>{% trans 'Show deleted' %}</span><span id='hide-deleted-questions' class='toggle-deleted-questions fake-link clickable'>{% trans 'Hide deleted' %}</span>
        </div>

        <h3>{% trans 'My questions' %}</h3>
        {% if not object.user.question_set.all %}
        <p class='mdc-typography--body1'>{% blocktrans %}You do not have any questions.  Create one using the link above!{% endblocktrans %}</p>
        {% else %}
        <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
          {% for q in object.user.question_set.all|dictsortreversed:'created_on' %}
            <li role="separator" class="mdc-list-divider list-item-question-{{ q.pk }}"></li>
            <li class="mdc-list-item list-item-question-{{ q.pk }}">
              <span class="mdc-list-item__graphic">
                  <i class="mdc-theme--primary material-icons md-48">question_answer</i>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {{ q.pk }}: {{q.title|safe|striptags}}
                <span class="mdc-list-item__secondary-text">
                  {% trans 'Last modified: ' %}{{q.last_modified}}
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <i question="{{ q.pk }}" class="undelete-question-{{ q.pk }} material-icons md-24 mdc-ripple-surface icon-list">restore_from_trash</i>
                <i question="{{ q.pk }}" class="delete-question-{{ q.pk }} material-icons md-24 mdc-ripple-surface icon-list">delete</i>
                <a id="edit-question-{{ q.pk }}" href="{% url 'question-update' q.pk %}">
                  <i class="material-icons md-24 mdc-ripple-surface icon-list">mode_edit</i>
                </a>
              </span>
            </li>
          {% endfor %}
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
        {% endif %}

        {% if object.user.collaborators.all %}
        <h3>{% trans 'Collaborations' %}</h3>
        <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
          {% for q in object.user.collaborators.all %}
            <li role="separator" class="mdc-list-divider list-item-question-{{ q.pk }}"></li>
            <li class="mdc-list-item list-item-question-{{ q.pk }}">
              <span class="mdc-list-item__graphic">
                <div class="iconify">
                  <span class="text-on-div-icon bold">{{q.pk}}</span>
                </div>
              </span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
                {{q.title|safe|striptags}}
                <span class="mdc-list-item__secondary-text">
                  {% trans 'Last modified: ' %}{{q.last_modified}}
                </span>
              </span>
              <span class="mdc-list-item__meta">
                <i question="{{ q.pk }}" class="undelete-question-{{ q.pk }} material-icons md-24 mdc-ripple-surface icon-list">restore_from_trash</i>
                <i question="{{ q.pk }}" class="delete-question-{{ q.pk }} material-icons md-24 mdc-ripple-surface icon-list">delete</i>
                <a id="edit-question-{{ q.pk }}" href="{% url 'question-update' q.pk %}">
                  <i class="material-icons md-24 mdc-ripple-surface icon-list">mode_edit</i>
                </a>
              </span>
            </li>
          {% endfor %}
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
        {% endif %}
      </div>
    </div>

    <div class="foldable">
      <h2 id="blink-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Blink scripts' %}
      </h2>
      <div class="foldable--body">
        <div class="admin-link">
          <a href="{% url 'blinkAssignment-create' %}">{% trans 'Add script' %}</a>
        </div>
        <p class="m-bot-10">{% trans 'Student link' %}: <span class="bold">{{ request.get_host}}{% url 'blink-get-current' object.user.username %}</span></p>

        {% if not object.blinkassignment_set.all %}
        <p class='mdc-typography--body1'>{% blocktrans %}A blink script is a series of blink questions strung together into one activity.  You do not have any blink scripts.{% endblocktrans %}</p>
        {% endif %}


        <ul class="mdc-list mdc-list--two-line mdc-list--interactive" >
          {% for a in object.blinkassignment_set.all %}
          <li role="separator" class="mdc-list-divider"></li>
          {% if a.blinkassignmentquestion_set.all|length > 0 %}
          <li class="mdc-list-item blink pointer" id="edit-blink-{{a.pk}}">
          {% else %}
          <li class="mdc-list-item blink" id="edit-blink-{{a.pk}}">
          {% endif %}
            <span class="mdc-list-item__graphic mdc-theme--primary">
                <i class="mdc-theme--primary material-icons md-48">play_circle_filled</i>
            </span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {{a.title|safe|striptags}}
              <span class="mdc-list-item__secondary-text">
                {{a.blinkassignmentquestion_set.count}} {% trans 'question(s)' %}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <a href="{% url 'blinkAssignment-delete' a.key %}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">delete</i>
              </a>
              <a href="{% url 'blinkAssignment-update' a.pk %}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">mode_edit</i>
              </a>
            </span>
          </li>
          {% endfor %}
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
      </div>
    </div>

    <div class="foldable">
      <h2 id="collection-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Collections' %}
      </h2>
      <div class="foldable--body">
        <div class="admin-link">
          {% if user.is_staff %}
          <a href="{% url 'admin_index_wrapper' %}">Click here to access admin</a>
          <span class="links-divider">|</span>{% endif %}<a href="{% url 'collection-list' %}">{% trans 'All Collections' %}</a>
          <span class="links-divider">|</span><a href="{% url 'followed-collection-list' %}">{% trans 'Followed Collections' %}</a>
          <span class="links-divider">|</span><a href="{% url 'collection-create' %}">{% trans 'Create' %}</a>
        </div>
        {% if not owned_collections %}
        <p class='mdc-typography--body1'>{% blocktrans %}You do not have any collections.{% endblocktrans %}</p>
        {% endif %}
        <ul class="mdc-list mdc-list--two-line mdc-list--non-interactive">
          {% for a in owned_collections %}
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item">
            <span class="mdc-list-item__graphic mdc-theme--primary">
              <i class="clickable mdc-theme--primary material-icons md-48 collection-icon" id="{{ a.pk }}">book</i>
            </span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              <a class="mdc-theme--secondary" href="{% url 'collection-detail' a.pk %}">{{ a.title }}</a>
              <span class="mdc-list-item__secondary-text">
                {{ a.assignments.count }} {% if a.assignments.count == 1 %}{% trans 'assignment' %}{% else %}{% trans 'assignments' %}{% endif %},
                {{ a.followers.count }} {% if a.followers.count == 1 %}{% trans 'follower' %}{% else %}{% trans 'followers' %}{% endif %}
              </span>
            </span>
            <span class="mdc-list-item__meta">
              <i id="activate-dialog-{{a.pk|slugify}}" class="material-icons md-24 mdc-ripple-surface icon-list collection-stats" pk="{{a.pk}}">bar_chart</i>
              <a href="{% url 'collection-delete' a.pk %}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">delete</i>
              </a>
              <a href="{% url 'collection-update' a.pk %}">
                <i class="material-icons md-24 mdc-ripple-surface icon-list">mode_edit</i>
              </a>
            </span>
          </li>

          <aside id="dialog-{{a.pk|slugify}}"
            class="mdc-dialog"
            role="alertdialog"
            aria-labelledby="assignment-parameters-label"
            aria-describedby="assignment-parameters-description">
            <div class="mdc-dialog__surface">
              <header class="mdc-dialog__header">
                <h2 id="assignment-parameters-label" class="mdc-dialog__header__title">
                  {% trans 'Collection Information' %}
                </h2>
              </header>
              <section id="assignment-parameters-description" class="mdc-dialog__body mdc-dialog__body--scrollable">
                <div>
                  <h2 class="mdc-typography--display1 mdc-theme--secondary">
                    {{ a.title }} {% trans 'contains' %} {{ a.assignments.count }}
                    {% if a.assignments.count == 1 %}{% trans 'assignment about' %}{% else %}{% trans 'assignments about' %}{% endif %} {{ a.discipline }}.
                  </h2>
                </div>
                <div>
                  <b>{% trans 'Collection Statistics' %}</b
                </div>
                <div id="total-answers-{{a.pk}}">
                  {% trans 'Total Answers' %}: {% trans 'Loading...' %}
                </div>
                <div id="switches-{{a.pk}}">
                  {% trans 'Answers Switched' %}: {% trans 'Loading...' %}
                </div>
                <div id="correct-first-answers-{{a.pk}}">
                  {% trans 'Correct Answers on First Attempt' %}: {% trans 'Loading...' %}
                </div>
                <div id="correct-second-answers-{{a.pk}}">
                  {% trans 'Correct Answers on Second Attempt' %}: {% trans 'Loading...' %}
                </div>
                <div>
                  {% trans 'Followers' %}: {{ a.followers.count }}
                </div>
              </section>
              <footer class="mdc-dialog__footer">
                <button type="button" class="mdc-button mdc-dialog__footer__button mdc-dialog__footer__button--accept">Ok</button>
              </footer>
            </div>
            <div class="mdc-dialog__backdrop"></div>
          </aside>

          {% endfor %}
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
      </div>
    </div>

    {% comment %} <div class="foldable"> {% endcomment %}
      {% comment %} <h2 id="quality-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary"> {% endcomment %}
        {% comment %} {% trans 'Quality control' %} {% endcomment %}
      {% comment %} </h2> {% endcomment %}
      {% comment %} <div class="foldable--body"> {% endcomment %}
        {% comment %} <ul class="mdc-list mdc-list--two-line"> {% endcomment %}
          {% comment %} <li role="separator" class="mdc-list-divider"></li> {% endcomment %}
          {% comment %} <li class="mdc-list-item pointer" {% endcomment %}
              {% comment %} title="{% trans 'Quality evaluation for allowing rationale submission' %}" {% endcomment %}
              {% comment %} id="quality-eval-edit"> {% endcomment %}
            {% comment %} <span class="mdc-list-item__graphic mdc-theme--primary"> {% endcomment %}
              {% comment %} <i class="mdc-theme--primary material-icons md-48"> {% endcomment %}
                {% comment %} assistant {% endcomment %}
              {% comment %} </i> {% endcomment %}
            {% comment %} </span> {% endcomment %}
            {% comment %} <span class="mdc-list-item__text mdc-theme--secondary bold"> {% endcomment %}
              {% comment %} {% trans 'Submission quality' %} {% endcomment %}
              {% comment %} <div class="mdc-list-item__secondary-text"> {% endcomment %}
                {% comment %} {% if teacher.quality %} {% endcomment %}
                  {% comment %} {% for criterion in teacher.quality.criterions.all %} {% endcomment %}
                    {% comment %} {{ criterion.name }}{% if not forloop.last %}, {% endif %} {% endcomment %}
                  {% comment %} {% endfor %} {% endcomment %}
                {% comment %} {% endif %} {% endcomment %}
              {% comment %} </div> {% endcomment %}
            {% comment %} </span> {% endcomment %}
          {% comment %} </li> {% endcomment %}
          {% comment %} <li role="separator" class="mdc-list-divider"></li> {% endcomment %}
        {% comment %} </ul> {% endcomment %}
      {% comment %} </div> {% endcomment %}
{% comment %}  {% endcomment %}
    {% comment %} </div> {% endcomment %}

    <div class="foldable">
      <h2 id="identity-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">
        {% trans 'Identity' %}
      </h2>
      <div class="foldable--body">
        <ul class="mdc-list mdc-list--two-line">
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item pointer" id="edit-user-btn">
            <span class="mdc-list-item__graphic mdc-theme--primary"><i class="material-icons md-48">account_circle</i></span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {{ object.user.username }}
              <span class="mdc-list-item__secondary-text">
                {% trans "Email: " %} {{ object.user.email }}
              </span>
              <span class="mdc-list-item__secondary-text">
                {% trans "Member since: " %} {{ user.date_joined  }}
              </span>
            </span>
            <span class="mdc-list-item__meta"><i class="material-icons md-24">lock</i></span>
          </li>
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item pointer edit-identity-btn">
            <span class="mdc-list-item__graphic mdc-theme--primary"><i class="material-icons md-48">book</i></span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {% for d in object.disciplines.all %}
                {{ d.title }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              <span class="mdc-list-item__secondary-text">
                {% trans "Discipline" %}
              </span>
            </span>
            <span class="mdc-list-item__meta"><i class="material-icons md-24">settings</i></span>
          </li>
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item pointer edit-identity-btn">
            <span class="mdc-list-item__graphic mdc-theme--primary"><i class="material-icons md-48">school</i></span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {% for i in object.institutions.all %}
                {{ i.name }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
              <span class="mdc-list-item__secondary-text">
                {% trans "Institution" %}
              </span>
            </span>
            <span class="mdc-list-item__meta"><i class="material-icons md-24">settings</i></span>
          </li>
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item pointer" id="tos-modify-btn">
            {% if tos_accepted %}
              <span class="mdc-list-item__graphic mdc-theme--primary"><i class="material-icons md-48">check</i></span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
              {% trans 'Terms of service: Sharing' %}
            {% else %}
              <span class="mdc-list-item__graphic mdc-theme--primary red"><i class="material-icons md-48">clear</i></span>
              <span class="mdc-list-item__text mdc-theme--secondary bold">
              {% trans 'Terms of service: Not sharing' %}
              {% endif %}
              <span class="mdc-list-item__secondary-text">
                {% trans 'Signed: ' %}{{ tos_timestamp }}
              </span>
            </span>
            <span class="mdc-list-item__meta"><i class="material-icons md-24">settings</i></span>
          </li>
          <li role="separator" class="mdc-list-divider"></li>
          <li class="mdc-list-item pointer" id="email-modify-btn">
            <span class="mdc-list-item__graphic mdc-theme--primary"><i class="material-icons md-48">email</i></span>
            <span class="mdc-list-item__text mdc-theme--secondary bold">
              {% trans "Email settings" %}
              <span class="mdc-list-item__secondary-text">
                {% trans 'Notifications: ' %}{{ user.emailconsent_set.latest.datetime }}
              </span>
            </span>
            <span class="mdc-list-item__meta"><i class="material-icons md-24">settings</i></span>
          </li>
          <li role="separator" class="mdc-list-divider"></li>
        </ul>
      </div>
    </div>

  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script nonce="{{ request.csp_nonce }}">
  bundle.addDialog();

  // Hide all deleted questions and set global scope state variable
  var deletedQuestionsHidden = true;
  $('#hide-deleted-questions').hide();
  $('[class*=undelete-question]').hide();
  {% for q in object.deleted_questions.all %}
  $('.list-item-question-{{ q.pk }}').hide();
  $('.list-item-question-{{ q.pk }}').addClass('deleted');
  $('.undelete-question-{{ q.pk }}').show();
  $('.delete-question-{{ q.pk }}').hide();
  {% endfor %}

  bundle.handleQuestionDelete("{% url 'question-delete' %}");

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
          }
      }
  });

  function edit_user() {
    location="{% url 'password_change' %}";
  }

  function edit_identity() {
    location="{% url 'teacher-update' teacher.id %}";
  }
</script>
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    // Remember state of unfolded elements
    // All h2 require ids
    $(".foldable").each(function() {
      const container = $(this);
      if (localStorage.getItem('collapse-'+container.find("h2").attr('id')) === 'false') {
        $(this).addClass('foldable__unfolded');
      }
      container.find("h2").click(function() {
        const state = localStorage.getItem('collapse-'+$(this).attr('id'));
        localStorage.setItem('collapse-'+$(this).attr('id'), state === 'false' ? 'true' : 'false');
      })
    });

    let links = document.getElementsByClassName("group-link");
    {% for g in object.current_groups.all %}
    links[{{ forloop.counter0 }}].addEventListener("click", function() {
      window.location.href='{% url 'group-details' g.hash %}';
    });
    {% endfor %}
    links = document.getElementsByClassName("assignment-link");
    {% for a in object.assignments.all %}
    links[{{ forloop.counter0 }}].addEventListener("click", function() {
      window.location.href='{% url 'question-list' a.pk %}';
    });
    {% endfor %}
    {% for a in object.blinkassignment_set.all %}
    document.getElementById("edit-blink-{{a.pk}}").addEventListener("click", function() {
      window.location.href='{% url 'blink-waiting' username=object.user.username assignment=a.key %}';
    });
    {% endfor %}
    // document.getElementById("quality-eval-edit").addEventListener("click", function() {
    //   window.location.href='{% url 'quality:edit' %}?type=validation&teacher=true&next={{ request.path }}';
    // });
    document.getElementById("edit-user-btn").addEventListener("click", function() {
      edit_user();
    });
    [...document.getElementsByClassName("edit-identity-btn")].forEach(function(btn) {
      btn.addEventListener("click", function() {
        edit_identity();
      });
    });
    document.getElementById("tos-modify-btn").addEventListener("click", function() {
      window.location.href="{% url 'tos:tos_modify' 'teacher' %}?next={{ request.path }}";
    });
    document.getElementById("email-modify-btn").addEventListener("click", function() {
      window.location.href="{% url 'tos:email_modify' 'teacher' %}?next={{ request.path }}";
    });
  });
  [].forEach.call(document.querySelectorAll(".collection-icon"), el => {
    el.addEventListener("click", () => {
      const pk=el.getAttribute('id');
      const collectionUrl = "{% url 'collection-detail' 0 %}"
      window.location.assign(collectionUrl.replace("0", pk ));
    });
  });
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
          }
      },
  });
  [].forEach.call(document.querySelectorAll(".collection-stats"), el => {
    el.addEventListener("click", () => {
      const pk=el.getAttribute("pk");
      var posting = $.post("{% url 'collection-statistics' %}", {pk: pk});
      posting.done(function(data) {
        document.getElementById("total-answers-"+pk).innerHTML = ("{% trans 'Total Answers' %}: " +data.totalAnswers);
        document.getElementById("correct-first-answers-"+pk).innerHTML = ("{% trans 'Correct Answers on First Attempt' %}: " +data.correctFirstAnswers);
        document.getElementById("correct-second-answers-"+pk).innerHTML = ("{% trans 'Correct Answers on Second Attempt' %}: " +data.correctSecondAnswers);
        document.getElementById("switches-"+pk).innerHTML = ("{% trans 'Answers Switched' %}: " +data.switches);
    })
    });
  });
</script>
{% endblock %}
