{% load staticfiles i18n compress admin_urls tz piwik %}

{% get_current_language as LANGUAGE_CODE %}

{% timezone "Canada/Eastern" %}

<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">

<head>
  <!-- Meta -->
  <title>{% block title %}myDALITE{% endblock %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Referrer-Policy"
        content="no-referrer, strict-origin-when-cross-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="myDALITE">
  <meta name="theme-color" content="#004266">

  <!-- Polyfills for non-awesome browsers-->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,fetch,Array.prototype.includes">
  </script>

  <!-- Local resources -->
  <link href="{% static 'peerinst/img/SALTISE-logo-icon.gif' %}" rel="icon">
  <link href="{% static 'peerinst/img/SALTISE-logo-icon.gif' %}" rel="apple-touch-icon">
  {% compress css %}
  <link href="{% static 'peerinst/css/main.min.css' %}" rel="stylesheet">
  {% endcompress %}

  <!-- External resources -->
  <link href="https://unpkg.com/ionicons@4.2.4/dist/css/ionicons.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Custom settings for local instance -->
  {% include 'peerinst/custom-instance-head.html' %}

  {% block stylesheets %}{% endblock %}
</head>

<body>
  <!-- Language selection -->
  <form id="switchLanguage" action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value={{ request.path|slice:"3:"|urlencode }}>
    <input name="language" type="hidden" value={% if LANGUAGE_CODE == 'en' %}fr{% else %}en{% endif %}>
  </form>

  <svg id="corner" class="corner" width=35 height=35></svg>

  <!-- Custom header for local instance -->
  <header>
    <div id="header-left">
      {% block header-left %}{% endblock %}
      <div class="header branding">
        {% if not request.session.LTI %}
        <a href="{% url 'landing_page' %}">
          <img src="{% static 'peerinst/img/SALTISE-favicon.gif' %}"
               alt="site-logo"
               id="logo">
        </a>
        {% else %}
          <img src="{% static 'peerinst/img/SALTISE-favicon.gif' %}"
               alt="site-logo"
               id="logo">
        {% endif %}
        {% if not user.student and not request.session.LTI  %}
        <a href="{% url 'browse-database' %}">
          {% include 'peerinst/custom-instance-header.html' %}
        </a>
        {% else %}
          {% include 'peerinst/custom-instance-header.html' %}
        {% endif %}
      </div>
    </div>
    <div id="header-right">
      {% block header-right %}{% endblock %}
    </div>
  </header>

  <div class="site-content">
    {% block body %}{% endblock %}
  </div>

  {% block footer %}{% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

  {% compress js %}
  <script>
  // Fix potential CSRF token conflicts when loading multiple iframes in parallel,
  // if the user did not have a CSRF cookie set already.
  // The CSRF token in the HTML may be out of date, but the cookie value should be
  // accurate by the time we submit the form.
  $(function() {
    var getCookie = function(name) {
      var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
      if (match) { return match[2]; }
    };
    $(document).on('submit','form', function(){
      var csrf_token = getCookie('csrftoken');
      if (csrf_token) {
        $('input[name=csrfmiddlewaretoken]').each(function() {
          $(this).val(csrf_token);
        });
      }
    });
  });
  </script>
  {% endcompress %}

  <!-- JS bundle -->
  {% compress js %}
  <script src="{% static 'peerinst/js/index.min.js' %}"></script>
  <script>
  if (document.querySelector('.mdc-drawer--temporary')){
    var drawer = new bundle.drawer.MDCTemporaryDrawer(document.querySelector('.mdc-drawer--temporary'));
    document.querySelector('#menu-icon').addEventListener('click', function() {
      drawer.open = true;
    });
  }
  bundle.cornerGraphic('#corner', 'switchLanguage', {% if LANGUAGE_CODE == 'en' %}'FR'{% else %}'EN'{% endif %}, 'fill-primary');

  // IE11 HTML5 form attribute patch
  $('.submit_button').click(function() {
    event.preventDefault();
    $('#'+$(this).attr('form')).submit();
  })
  </script>
  {% endcompress %}

  {% block scripts %}{% endblock %}
  {% piwik %}
</body>

</html>

{% endtimezone %}
