{% extends 'peerinst/base.html' %}

{% load compress staticfiles add_class i18n %}

{% block body %}
<main>
<section>
  <div class="meta-container">
    <div class="container">
      <h1 class="mdc-typography--display3">{% trans 'Update Assignment' %}
        <svg class="underline" width=150 height=4></svg>
      </h1>

      <div class="admin-link">
        <a href="{% url 'teacher' teacher.id %}">{% trans 'Back to My Account' %}</a>
        <span class="admin-link--padded">|</span><a href="{% url 'teacher-assignments' teacher.id %}">{% trans 'Back to My Assignments' %}</a>
      </div>

      <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Edit assignment' %}</h2>

      <h3>{% trans 'Identifier' %}: {{object.pk}}</h3>

      <div class='field-container'>
        <div class='number-box'><span class='number'>?</span></div>
        <div class='field'>
          <p><small>
            {% blocktrans %}
            The assignment identifier cannot be changed as learning management systems (like Moodle) use the identifier to find the assignment.
            {% endblocktrans %}
          </small></p>
        </div>
      </div>

      {{form.errors}}
      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
            {{ field|add_class:"mdc-text-field__input" }}
            {{ field.label_tag|add_class:"mdc-floating-label"|cut:":" }}
            <div class="mdc-notched-outline">
              <svg>
                <path class="mdc-notched-outline__path"/>
              </svg>
            </div>
            <div class="mdc-notched-outline__idle"></div>
          </div>
          <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
            {{ field.help_text|safe }}
          </p>
          {{ field.errors }}
        {% endfor %}
        <input class="mdc-button mdc-button--raised padded-top" type="submit" value="Update" />
      </form>

</main>
</section>
{% endblock %}
