{% extends 'peerinst/base.html' %}

{% load bleach_html static compress i18n %}

{% block stylesheets %}
{{ block.super }}
{% compress css %}
<link href="{% static 'peerinst/css/search.min.css' %}" rel="stylesheet">
{% endcompress %}
{% compress js %}
<script src="{% static 'peerinst/js/ajax.min.js' %}"></script>
<script src="{% static 'peerinst/js/search.min.js' %}"></script>
{% endcompress %}
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'Update Assignment' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' teacher.id %}">{% trans 'Back to My Account' %}</a>
      <span class="links-divider">|</span><a href="{% url 'teacher-assignments' teacher.id %}">{% trans 'Back to My Assignments' %}</a>
      <span class="links-divider">|</span><a href="{% url 'question-create' %}">{% trans 'Create new question' %}</a>
    </div>

    <h2 id="assignment" class="mdc-typography--display1 mdc-theme--secondary">{{object.title}}</h2>
    <div class="admin-link">
      <a href="{% url 'assignment-edit' object.pk %}">{% trans 'Edit title' %}</a>
      <span class="links-divider">|</span><a href="{% url 'question-list' object.pk %}">{% trans 'Preview' %}</a>
    </div>

    <div class="mdc-form-field">
      <span class="mdc-theme--secondary">{% trans 'Show images' %}</span>
      <i class="mdc-icon-toggle material-icons toggle-images mdc-theme--secondary" role="button" aria-pressed="false"
      aria-label="Toggle images" tabindex="0"
      data-toggle-on='{"label": "Hide images", "content": "check_box"}'
      data-toggle-off='{"label": "Show images", "content": "check_box_outline_blank"}'>
      check_box_outline_blank
      </i>
    </div>

    <div class="mdc-form-field">
      <span class="mdc-theme--secondary">{% trans 'Show answers' %}</span>
      <i class="mdc-icon-toggle material-icons toggle-answers mdc-theme--secondary" role="button" aria-pressed="false"
      aria-label="Toggle answers" tabindex="0"
      data-toggle-on='{"label": "Hide images", "content": "check_box"}'
      data-toggle-off='{"label": "Show images", "content": "check_box_outline_blank"}'>
      check_box_outline_blank
      </i>
    </div>

    <div id="question-list">
    {% for g in object.questions.all %}
    <div class="mdc-card" id={{g.id|slugify}} matrix="{{ g.get_matrix|safe }}">
      <div class="mdc-typography--title bold">
        {{g.title|safe}}
      </div>

      <div class="mdc-typography--caption">
        #{{g.id}} {% if g.user %}{% trans 'by' %} {{ g.user.username }}{% endif %}
      </div>

      <div class="mdc-typography--body1 m-top-5">
        {{g.text|bleach_html|safe}}
      </div>

      {% if g.image %}
      <img class="question-image hidden" src="{{ g.image.url }}" alt="g.image_alt_text">
      {% endif %}

      <div class="question-answers hidden">
        <ul>
          {% for label, choice in g.get_choices %}
            <li class="dense-list">{{ label }}. {{ choice|bleach_html|safe }}
            {% for c in g.answerchoice_set.all %}
              {% if forloop.counter == forloop.parentloop.counter %}
                {% if c.correct %}
                  <i class="check material-icons">check</i>
                {% endif %}
              {% endif %}
            {% endfor %}
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="mdc-card__actions">
        <div class="mdc-card__action-buttons grey">
          <div class="mdc-typography--caption">
            <div>
              {% trans 'Discipline' %}: {{g.discipline}}
            </div>
            <div>
              {% trans 'Categories' %}:
              {% for c in g.category.all %}
              {{ c.title|safe }}{% if not forloop.last %}, {% endif %}
              {% empty %}
              {% trans 'Uncategorized' %}
              {% endfor %}
            </div>
            <div>
              {% trans 'Student answers' %}: {{g.answer_set.all.count}}
            </div>
          </div>
        </div>

        <div class="mdc-card__action-icons">

          <div id="stats-{{ g.id|safe }}" class="stats">
            <i id="activate-dialog-analytics-{{ g.id|safe }}"
            ref_id="{{ g.id|safe }}" class="material-icons md-24 analytics-tags">assessment</i>
            <span id="rating-{{ g.id|safe }}"></span>
          </div>

          {% if request.user == g.user or request.user in g.collaborators.all %}
            <a title="{% trans 'Edit' %}" id="edit-question-{{ g.pk }}" href="{% url 'question-update' g.pk %}">
              <i class="material-icons md-24 mdc-ripple-surface card-icon-list mdc-theme--primary">mode_edit</i>
            </a>
          {% else %}
            <a title="{% trans 'Copy and edit' %}" id="clone-question-{{ g.pk }}" href="{% url 'question-clone' g.pk %}">
              <i class="material-icons md-24 mdc-ripple-surface card-icon-list mdc-theme--primary">file_copy</i>
            </a>
          {% endif %}
          <form id="question-remove-{{g.pk}}" method="post">
            {% csrf_token %}
            <input type="hidden" name="q" value="{{g.pk}}" />
            <i form="question-remove-{{g.pk}}" class="material-icons mdc-theme--primary md-24 mdc-ripple-surface icon-list submit-question-remove">delete</i>
          </form>
        </div>
      </div>
    </div>
    {% empty %}
    <ul id="empty-assignment-list">
      <li><strong>{% trans 'Note:' %}</strong>{% trans 'There are currently no questions in this assignment.  You can add them from the list below.' %}</li>
    </ul>
    {% endfor %}
    </div>

    <div id="favourite-questions" class="foldable">
      <h2 id="favourite-question-section" class="foldable--title mdc-typography--display1 mdc-theme--secondary">{% trans 'My favourite questions' %}</h2>
      <br>
      <div class="foldable--body" class="m-top-20">
      {% for g in teacher.favourite_questions.all %}
      {% if g not in object.questions.all %}
      {% if g not in teacher.deleted_questions.all %}
      <div class="all-my-questions mdc-card" id="{{g.id|slugify}}"  matrix="{{ g.get_matrix|safe }}">
        <div class="mdc-typography--title bold">
          {{g.title|safe}}
        </div>

        <div class="mdc-typography--caption">
          #{{g.id}} {% if g.user %}{% trans 'by' %} {{ g.user.username }}{% endif %}
        </div>

        <div class="mdc-typography--body1 m-top-5">
          {{g.text|safe}}
        </div>

        {% if g.image %}
        <img class="question-image hidden" src="{{ g.image.url }}" alt="g.image_alt_text">
        {% endif %}

        <div class="question-answers hidden">
          <ul>
            {% for label, choice in g.get_choices %}
              <li class="dense-list">{{ label }}. {{ choice|bleach_html|safe }}
              {% for c in g.answerchoice_set.all %}
                {% if forloop.counter == forloop.parentloop.counter %}
                  {% if c.correct %}
                    <i class="check material-icons">check</i>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </li>
            {% endfor %}
          </ul>
        </div>

        <div class="mdc-card__actions">
          <div class="mdc-card__action-buttons grey">
            <div class="mdc-typography--caption">
              <div>
                {% trans 'Discipline' %}: {{g.discipline}}
              </div>
              <div>
                {% trans 'Categories' %}:
                {% for c in g.category.all %}
                {{ c.title|safe }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                {% trans 'Uncategorized' %}
                {% endfor %}
              </div>
              <div>
                {% trans 'Student answers' %}: {{g.answer_set.all.count}}
              </div>
            </div>
          </div>

          <div class="mdc-card__action-icons">

            <div id="stats-{{ g.id|safe }}" class="stats">
              <i id="activate-dialog-analytics-{{ g.id|safe }}"
              ref_id="{{ g.id|safe }}" class="material-icons md-24 analytics-tags">assessment</i>
              <span id="rating-{{ g.id|safe }}"></span>
            </div>

            {% if request.user.teacher %}
            <i class="mdc-icon-toggle material-icons mdc-theme--primary favourite-btn"
                role="button"
                data-id="{{ g.pk|safe }}"
                aria-pressed="false"
                aria-label="Add to favorites" tabindex="0"
                data-toggle-off='{"label": "Remove from favourites", "content": "favorite"}'
                data-toggle-on='{"label": "Add to favourites", "content": "favorite_border"}'>
                favorite_border
            </i>
            {% endif %}
            <form id="question-add-{{g.pk}}" class="inline" method="post" action="#{{g.id|slugify}}">
              {% csrf_token %}
              <input type="hidden" name="q" value="{{g.pk}}" />
              <i form="question-add-{{g.pk}}" class="material-icons mdc-theme--primary md-24 mdc-ripple-surface icon-list submit-question-add">add</i>
            </form>
          </div>
        </div>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
    </div>
  </div>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Search database' %}</h2>

    <div class="admin-link">
      <a href="#assignment">{% trans 'Return to top' %}</a>
    </div>

    <div class="mdc-form-field">
      <div class="mdc-checkbox">
        <input type="checkbox"
        class="mdc-checkbox__native-control"
        id="limit-search"
        checked />
        <div class="mdc-checkbox__background">
          <svg class="mdc-checkbox__checkmark"
          viewBox="0 0 24 24">
          <path class="mdc-checkbox__checkmark-path"
          fill="none"
          stroke="white"
          d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
          </svg>
          <div class="mdc-checkbox__mixedmark"></div>
        </div>
      </div>
      <label class="mdc-theme--secondary" for="limit-search">{% trans 'Limit search to questions in your discipline(s) (recommended)' %}</label>
    </div>
    <br>
    <div class="search">
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
        <label class="mdc-floating-label" for="search-bar">{% trans 'Search' %}</label>
        <input class="mdc-text-field__input" id="search-bar">
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
        {% trans 'The search engine checks question texts for each keyword as well as the complete phrase.  You can also search on username to find all content from a certain contributor.  Search results are filtered to remove questions in your list of favourites and questions already part of this assignment.' %}
      </p>
    </div>

    <div id="progressbar" role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--closed">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
      </div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
      </div>
    </div>

    <div id="filters" class="hidden">
      <h2 class='mdc-typography--display1  mdc-theme--secondary'>{% trans 'Filters' %}</h2>

      <div id="select-filters">
        <div id="discipline-filters" class="hidden"><div class="m-bot-5">{% trans 'Disciplines: ' %}</div><span id="filter-on-discipline"></span></div>

        <div id="category-filters m-top-10 hidden"><div class="m-bot-5p">{% trans 'Keywords: ' %}</div><span id="filter-on-category"></span></div>

        <button id="reset-filters" type="button" class='mdc-button mdc-button--raised padded-top' disabled=true>{% trans 'Clear' %}</button>
      </div>
    </div>

    <div id="search_results"></div>

  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/json5@2.1.1/dist/index.min.js" integrity="sha384-gRrJKgBpstjyexh9UmCoTPivgMMb7/EAtEdR5DLbVhiPYdl03QxdzMzbylHUSloD" crossorigin="anonymous"></script>
<script nonce="{{ request.csp_nonce }}">
  // Remember state of unfolded elements
  // All h2 require ids
  $(".foldable").each(function() {
    const container = $(this);
    if (localStorage.getItem('collapse-'+container.find("h2").attr('id')) === 'false') {
      $(this).addClass('foldable__unfolded');
    }
    container.find("h2").click(function() {
      const state = localStorage.getItem('collapse-'+$(this).attr('id'));
      localStorage.setItem('collapse-'+$(this).attr('id'), state === 'false' ? 'true' : 'false');
    })
  });

  bundle.toggleImages();
  bundle.toggleAnswers();
  search.initFavourites();

  const limitSearch = document.querySelector('#limit-search');
  bundle.iconToggle.MDCIconToggle.attachTo(limitSearch);

  const input = document.getElementById('search-bar');
  input.onchange = function() {
    if (input.value != "") {
      search.setupSearch();
      console.info("Searching: "+input.value);
      $('#search_results').load("{% url 'question-search' %}", "search_string="+input.value+"&type=assignment&id={{object.pk|urlencode}}&limit_search="+limitSearch.checked+"&assignment_identifier={{object.identifier|urlencode}}", function(){
         search.processResponse();
         setupAnalytics();
       });
    }
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
          }
      }
  });

  function pageNav(page) {
    search.setupSearch();
    console.info("Searching: "+input.value);
    $('#search_results').load("{% url 'question-search' %}?page="+page, "search_string="+input.value+"&type=assignment&id={{object.pk|urlencode}}&limit_search="+limitSearch.checked+"&assignment_identifier={{object.identifier|urlencode}}", function(){
         search.processResponse();
         setupAnalytics();
       });
   }

   function setupAnalytics(){
     bundle.addDialog();
     [].forEach.call(document.querySelectorAll('.analytics-tags'),
       function(el,i,list) {
         el.addEventListener('click', function() {
           showAnalytics(el.getAttribute('ref_id'));
         }, false);
       }
     );

     [].forEach.call(document.querySelectorAll('.plot-dialog'),
       function(el,i,list) {
         bundle.plot(JSON5.parse(el.getAttribute("data-get-matrix")),JSON5.parse(el.getAttribute("data-get-frequency")),+el.getAttribute("data-id"));
       }
     );

     [].forEach.call(document.querySelectorAll('.ripple-icon'),
       function(el) {
         const ripple = bundle.ripple.MDCRipple.attachTo(el);
         ripple.unbounded = true;
       }
     );

     function showAnalytics(id){
       bundle.selectAll("#first_choice-"+id).transition().duration(1000).attr("x",function(d){return bundle.select(this).attr("finalx");}).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
       bundle.selectAll("#second_choice-"+id).transition().delay(1000).duration(1000).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
       return;
     }
  }

  function toggleFavourite(pk) {
    var posting = $.post("{% url 'teacher-toggle-favourite' %}", {pk: pk});
    posting.done(function(data) {
      console.info(data);
    });
    $('#favourite-questions').find($('#'+pk).remove());
  }

  window.addEventListener("load", function() {
    $(".mdc-card").each(function(i, el) {
      bundle.difficulty(el.getAttribute("matrix").replace(/'/g, '"'), el.id);
    });
    $(".analytics-tags").css("cursor", "default");

    $(".submit-question-remove").each(function(i, el) {
      el.addEventListener("click", function() {
        $('#'+el.getAttribute("form")).submit();
      });
    });

    $(".submit-question-add").each(function(i, el) {
      el.addEventListener("click", function() {
        $('#'+el.getAttribute("form")).submit();
      });
    });

    $(".favourite-btn").each(function(i, el) {
      el.addEventListener("click", function() {
        toggleFavourite(el.getAttribute("data-id"));
      });
    });

    document.getElementById("reset-filters").addEventListener("click", () => {
      search.reset();
    });
  });
</script>

{% endblock %}
