{% extends 'peerinst/base.html' %}

{% load csp static compress i18n %}

{% block stylesheets %}
{{ block.super }}
{% compress css %}
<link href="{% static 'peerinst/css/search.min.css' %}" rel="stylesheet">
{% endcompress %}
{% compress css %}
<link href="{% static 'peerinst/css/question.min.css' %}" rel="stylesheet">
{% endcompress %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'Browse Database' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    {% if request.user.teacher %}
    <div class="admin-link">
      <a href="{% url 'teacher' request.user.teacher.id %}">{% trans 'Go to My Account' %}</a>
      <span class="links-divider">|</span><a href="{% url 'teacher-assignments' request.user.teacher.id %}">{% trans 'Create an assignment' %}</a>
    {% if user.is_staff %}
      <span class="links-divider">|</span><a href="{% url 'admin_index_wrapper' %}">{% trans 'Click here to access admin' %}</a>
    {% endif %}
    </div>
    {% endif %}

    <h2 class="mdc-typography--display1  mdc-theme--secondary">{% trans 'Search' %}</h2>

    <div class='field-container'>
      <div class='number-box'><span class='number'>?</span></div>
      <div class='field'>
        <p><small>
          {% blocktrans %}
          Explore the myDalite database using a keyword search.  You will be able to refine your search results using filters.
          {% endblocktrans %}
        </small></p>
      </div>
    </div>

    <div id="querytype-container" class='field'>
      <div id="question-toggle-button" class="toggle-button selected">
        <p id="question-toggle-text" class="toggle-text selected">
          {% trans 'Questions' %}
        </p>
      </div>
      <div id="collection-toggle-button" class="toggle-button">
        <p id="collection-toggle-text" class="toggle-text">
          {% trans 'Collections' %}
        </p>
      </div>
    </div>

    <div class='field-container'>
      <div class='number-box flush-to-textbox'><span class='number'></span></div>
      <div class='field' id='username-form-container'>
        <div id='username_form'>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
            <input type="text" id="autofill_usernames" class="mdc-text-field__input"/>

            <div class="mdc-notched-outline">
              <svg>
                <path class="mdc-notched-outline__path"/>
              </svg>
            </div>
            <div class="mdc-notched-outline__idle"></div>
          </div>
        </div>
        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
          {% trans 'Filter by Author or Collaborator.' %}
        </p>

        <div id='current_usernames' class='mdc-chip-set mdc-chip-set--input' data-mdc-auto-init='MDCChipSet'>
        </div>

        <select id='id_username' name='username' multiple='multiple' hidden='true'>
        </select>

      </div>
    </div>

    <div class='field-container'>
      <div class='number-box flush-to-textbox'><span class='number'></span></div>
      <div class='field' id='discipline-form-container'>
        <div id='discipline_form'>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
            <input type="text" id="autofill_disciplines" class="mdc-text-field__input"/>

            <div class="mdc-notched-outline">
              <svg>
                <path class="mdc-notched-outline__path"/>
              </svg>
            </div>
            <div class="mdc-notched-outline__idle"></div>
          </div>
        </div>
        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
          {% trans 'Filter by Discipline. (e.g. Physics)' %}
        </p>

        <div id='current_disciplines' class='mdc-chip-set mdc-chip-set--input' data-mdc-auto-init='MDCChipSet'>
        </div>

        <select id='id_discipline' name='discipline' multiple='multiple' hidden='true'>
        </select>

      </div>
    </div>

    <div class='field-container' id='subject-box-container'>
      <div class='number-box flush-to-textbox'><span class='number'></span></div>
      <div class='field' id='subject-form-container'>
        <div id='subject_form'>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
            <input type="text" id="autofill_subjects" class="mdc-text-field__input"/>

            <div class="mdc-notched-outline">
              <svg>
                <path class="mdc-notched-outline__path"/>
              </svg>
            </div>
            <div class="mdc-notched-outline__idle"></div>
          </div>
        </div>
        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
          {% trans 'Filter by Subject. (e.g. Mechanics)' %}
        </p>

        <div id='current_subjects' class='mdc-chip-set mdc-chip-set--input' data-mdc-auto-init='MDCChipSet'>
        </div>

        <select id='id_subject' name='subject' multiple='multiple' hidden='true'>
        </select>

      </div>
    </div>

    <div class='field-container' id='category-box-container'>
      <div class='number-box flush-to-textbox'><span class='number'></span></div>
      <div class='field' id='category-form-container'>
        <div id='category_form'>
          <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
            <input type="text" id="autofill_categories" class="mdc-text-field__input"/>

            <div class="mdc-notched-outline">
              <svg>
                <path class="mdc-notched-outline__path"/>
              </svg>
            </div>
            <div class="mdc-notched-outline__idle"></div>
          </div>
        </div>
        <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
          {% trans 'Filter by Category. (e.g. Dynamics)' %}
        </p>
        <div id='current_categories' class='mdc-chip-set mdc-chip-set--input' data-mdc-auto-init='MDCChipSet'>
        </div>

        <select id='id_category' name='category' multiple='multiple' hidden='true'>
        </select>

      </div>
    </div>

    <div class="search">
      <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
        <label class="mdc-floating-label" for="search-bar">{% trans 'Search' %}</label>
        <input class="mdc-text-field__input" id="search-bar">
        <div class="mdc-notched-outline">
          <svg>
            <path class="mdc-notched-outline__path"/>
          </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
      </div>
      <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent" aria-hidden="true">
        {% trans 'The search engine checks titles and descriptions for each term and for the complete search phrase.' %}
      </p>
    </div>

    <div id="search-button-container">
      <div id="search-button">
        <p id="search-button-text">
          {% trans 'Search' %}
        </p>
      </div>
    </div>

    <div class="mdc-form-field" id="toggle-images-field">
      <span class="mdc-theme--secondary">{% trans 'Show images' %}</span>
      <i class="mdc-icon-toggle material-icons toggle-images mdc-theme--secondary" role="button" aria-pressed="false"
      aria-label="Toggle images" tabindex="0"
      data-toggle-on='{"label": "Hide images", "content": "check_box"}'
      data-toggle-off='{"label": "Show images", "content": "check_box_outline_blank"}'>
      check_box_outline_blank
      </i>
    </div>

    <div class="mdc-form-field" id="toggle-answers-field">
      <span class="mdc-theme--secondary">{% trans 'Show answers' %}</span>
      <i class="mdc-icon-toggle material-icons toggle-answers mdc-theme--secondary" role="button" aria-pressed="false"
      id="toggle-answers"
      aria-label="Toggle answers" tabindex="0"
      data-toggle-on='{"label": "Hide images", "content": "check_box"}'
      data-toggle-off='{"label": "Show images", "content": "check_box_outline_blank"}'>
      check_box_outline_blank
      </i>
    </div>

    <div id="progressbar" role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--closed">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
      </div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
      </div>
    </div>

    <div id="filters" class="display-none">
      <h2 class='mdc-typography--display1  mdc-theme--secondary'>{% trans 'Filters' %}</h2>

      <div id="select-filters">
        <div id="discipline-filters" class="display-none"><div>{% trans 'Disciplines: ' %}</div><span id="filter-on-discipline"></span></div>

        <div id="category-filters" class="display-none"><div>{% trans 'Categories: ' %}</div><span id="filter-on-category"></span></div>

        <button id="reset-filters" type="button" class='mdc-button mdc-button--raised padded-top' disabled=true'>{% trans 'Clear' %}</button>
      </div>
    </div>

    <div id="search_results"></div>

  </section>
</main>
{% endblock %}

{% block scripts %}
{{ block.super }}
{% compress js %}
<script src="{% static 'peerinst/js/search.min.js' %}"></script>
{% endcompress %}
{% compress js %}
<script src="{% static 'peerinst/js/teacher.min.js' %}"></script>
{% endcompress %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="https://unpkg.com/json5@2.1.1/dist/index.min.js" integrity="sha384-gRrJKgBpstjyexh9UmCoTPivgMMb7/EAtEdR5DLbVhiPYdl03QxdzMzbylHUSloD" crossorigin="anonymous"></script>

<script nonce="{{ request.csp_nonce }}">
  bundle.toggleImages();
  bundle.toggleAnswers();

  bundle.bindCategoryAutofill("{% url 'search-categories' %}");
  bundle.bindUsernameAutofill("{% url 'search-usernames' %}");
  bundle.bindSubjectAutofill("{% url 'search-subjects' %}");
  bundle.bindDisciplineAutofill("{% url 'search-disciplines' %}");

  let isCollectionsSearch = false;

  function enumerate(){
    $('.number-box:visible').each(function(i) {
      $(this).children('.number')[0].innerHTML = i;
      if (i==0) $(this).children('.number')[0].innerHTML = "?";
    });
  }

  enumerate();

  function toggleCollectionQuery(){
    isCollectionsSearch = true;
    document.getElementById("question-toggle-button").classList.remove("selected");
    document.getElementById("question-toggle-text").classList.remove("selected");
    document.getElementById("collection-toggle-button").classList.add("selected");
    document.getElementById("collection-toggle-text").classList.add("selected");
    document.getElementById("category-box-container").hidden = true;
    document.getElementById("subject-box-container").hidden = true;
    document.getElementById("toggle-images-field").classList.add("hidden-mdc-component");
    document.getElementById("toggle-answers-field").classList.add("hidden-mdc-component");
    document.getElementById("filters").hidden = true;
  }

  function toggleQuestionQuery(){
    isCollectionsSearch = false;
    document.getElementById("question-toggle-button").classList.add("selected");
    document.getElementById("question-toggle-text").classList.add("selected");
    document.getElementById("collection-toggle-button").classList.remove("selected");
    document.getElementById("collection-toggle-text").classList.remove("selected");
    document.getElementById("category-box-container").hidden = false;
    document.getElementById("subject-box-container").hidden = false;
    document.getElementById("toggle-images-field").classList.remove("hidden-mdc-component");
    document.getElementById("toggle-answers-field").classList.remove("hidden-mdc-component");
    document.getElementById("filters").hidden = false;
  }

  function setupAnalytics(){
    bundle.addDialog();
    [].forEach.call(document.querySelectorAll('.analytics-tags'),
      function(el,i,list) {
        el.addEventListener('click', function() {
          showAnalytics(el.getAttribute('ref_id'));
        }, false);
      }
    );

    [].forEach.call(document.querySelectorAll('.plot-dialog'),
      function(el,i,list) {
        bundle.plot(JSON5.parse(el.getAttribute("data-get-matrix")),JSON5.parse(el.getAttribute("data-get-frequency")),+el.getAttribute("data-id"));
      }
    );

    [].forEach.call(document.querySelectorAll('.ripple-icon'),
      function(el) {
        const ripple = bundle.ripple.MDCRipple.attachTo(el);
        ripple.unbounded = true;
      }
    );

    function showAnalytics(id){
      bundle.selectAll("#first_choice-"+id).transition().duration(1000).attr("x",function(d){return bundle.select(this).attr("finalx");}).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
      bundle.selectAll("#second_choice-"+id).transition().delay(1000).duration(1000).attr("width",function(d){return bundle.select(this).attr("finalwidth");});
      return;
    }
  }

  function toggleFavourite(pk) {
    var posting = $.post("{% url 'teacher-toggle-favourite' %}", {pk: pk});
    posting.done(function(data) {
      console.info(data);
    })
  }

  const input = document.getElementById('search-bar');

  let searchedValue = null;

  function query() {
      searchedValue = input.value;
      let authors = [];
      let disciplines = [];
      let subjects = [];
      let categories = [];
      Array.from(document.getElementsByClassName("category")).forEach((item, i) => {
        categories.push(item.getAttribute("d").replace(/ /g,"%20"));
      });
      Array.from(document.getElementsByClassName("username")).forEach((item, i) => {
        authors.push(item.getAttribute("d"));
      });
      Array.from(document.getElementsByClassName("subject")).forEach((item, i) => {
        subjects.push(item.getAttribute("d").replace(/ /g,"%20"));
      });
      Array.from(document.getElementsByClassName("discipline")).forEach((item, i) => {
        disciplines.push(item.getAttribute("d").replace(/ /g,"%20"));
      });
      search.setupSearch();
      console.info("Searching: "+searchedValue);
      if (isCollectionsSearch) {
        $('#search_results').load("{% url 'collection-search' %}?author="+authors.join("&author=")+"&discipline="+disciplines.join("&discipline=")+"&subject="+subjects.join("&subject=")+"&category="+categories.join("&category="), "search_string="+searchedValue, function(response){
          processCollectionResponse();
        });
      } else {
        $('#search_results').load("{% url 'question-search' %}?author="+authors.join("&author=")+"&discipline="+disciplines.join("&discipline=")+"&subject="+subjects.join("&subject=")+"&category="+categories.join("&category="), "search_string="+searchedValue, function(response){
          setupAnalytics();
          search.processResponse(response);
          teacher.initSearchFlag("{% url 'question--flag--reasons' %}", "{% url 'question--flag--flag' %}");
          $(".favourite-btn").each(function(i, el) {
            el.addEventListener("click", function() {
              toggleFavourite(el.getAttribute("data-id"));
            });
          });
        });
      }
  }

  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", bundle.getCsrfToken());
          }
      }
  });

  function pageNav(page) {
    let authors = [];
    let disciplines = [];
    let subjects = [];
    let categories = [];
    Array.from(document.getElementsByClassName("category")).forEach((item, i) => {
      categories.push(item.getAttribute("d").replace(/ /g,"%20"));
    });
    Array.from(document.getElementsByClassName("username")).forEach((item, i) => {
      authors.push(item.getAttribute("d"));
    });
    Array.from(document.getElementsByClassName("subject")).forEach((item, i) => {
      subjects.push(item.getAttribute("d").replace(/ /g,"%20"));
    });
    Array.from(document.getElementsByClassName("discipline")).forEach((item, i) => {
      disciplines.push(item.getAttribute("d").replace(/ /g,"%20"));
    });
    search.setupSearch();
    console.info("Searching: "+searchedValue);
    if (isCollectionsSearch) {
      $('#search_results').load("{% url 'collection-search' %}?page="+page+"&author="+authors.join("&author=")+"&discipline="+disciplines.join("&discipline=")+"&subject="+subjects.join("&subject=")+"&category="+categories.join("&category="), "search_string="+searchedValue, function(response){
        processCollectionResponse();
      });
    } else {
      $('#search_results').load("{% url 'question-search' %}?page="+page+"&author="+authors.join("&author=")+"&discipline="+disciplines.join("&discipline=")+"&subject="+subjects.join("&subject=")+"&category="+categories.join("&category="), "search_string="+searchedValue, function(response){
        setupAnalytics();
        search.processResponse(response);
        teacher.initSearchFlag("{% url 'question--flag--reasons' %}", "{% url 'question--flag--flag' %}");
        $(".favourite-btn").each(function(i, el) {
          el.addEventListener("click", function() {
            toggleFavourite(el.getAttribute("data-id"));
          });
        });
      });
    }
  }

  function processCollectionResponse() {
    bundle.toggleImages();
    bundle.toggleAnswers();

    $("#search-bar").attr("disabled", false);
    $("#progressbar").addClass("mdc-linear-progress--closed");

    // Update template response
    $(".search-nav").each(function(i, el) {
      el.addEventListener("click", function() {
        pageNav(el.getAttribute("data-page"));
      });
    });

    $(".follower-btn").each(function(i, el) {
      el.addEventListener("click", function() {
        toggleFollower(el.getAttribute('pk'));
      });
    });

    [].forEach.call(document.querySelectorAll(".detail-view"), el => {
      el.addEventListener("click", () => {
        const pk=el.getAttribute('id');
        const collectionUrl = "{% url 'collection-detail' 0 %}"
        window.location.href = collectionUrl.replace("0", pk );
      });
    });

    [].forEach.call(document.querySelectorAll(".mdc-icon-toggle"), el => {
      bundle.iconToggle.MDCIconToggle.attachTo(el);
    });

    // Add filters based on search results
    $("#filter-on-discipline").empty();
    $("#filter-on-category").empty();
  }

  function toggleFollower(pk) {
    var posting = $.post("{% url 'teacher-toggle-follower' %}", {pk: pk});
    posting.done(function(data) {
      console.info(data);
      let followerValue = document.getElementById("follower-count-"+pk).innerHTML;
      followerValue = followerValue.substring(11);
      followerValue = parseInt(followerValue);
      if (data.action == "added") {
        document.getElementById("follower-count-"+pk).innerHTML = ("{% trans 'Followers' %}: " + (followerValue+1));
      } else if (data.action == "removed") {
        document.getElementById("follower-count-"+pk).innerHTML = ("{% trans 'Followers' %}: " + (followerValue-1));
      }
    })
  }

  window.addEventListener("load", function() {
    document.getElementById("question-toggle-button").addEventListener("click", () => {
        toggleQuestionQuery();
    });
    document.getElementById("collection-toggle-button").addEventListener("click", () => {
        toggleCollectionQuery();
    });
    document.getElementById("search-button").addEventListener('click', () => {
      query();
    });
    document.getElementById("reset-filters").addEventListener("click", () => {
       search.reset();
     });
  });
</script>
{% endblock %}
