{% load add_class %}

<div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
  <input type="text" id="autofill_categories" class="mdc-text-field__input"/>
  {{ form.category.label_tag|add_class:"mdc-floating-label"|cut:":" }}
  <div class="mdc-notched-outline">
    <svg>
      <path class="mdc-notched-outline__path"/>
    </svg>
  </div>
  <div class="mdc-notched-outline__idle"></div>
</div>

<i id='show_category_form' class="material-icons mdc-icon-button mdc-ripple-surface icon-list mdc-theme--primary md-24">
  add
</i>
<i class='material-icons spinning mdc-theme--primary' id='search_categories'>
  loop
</i>

<p class="form-helper-text" aria-hidden="true">
  {{ form.category.help_text|safe }}
</p>
{{ form.category.errors }}
