{% load i18n add_class %}

<div id="create_new_category" class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
  {{ form.title|add_class:"mdc-text-field__input" }}
  {{ form.title.label_tag|add_class:"mdc-floating-label"|cut:":" }}
  <div class="mdc-notched-outline">
    <svg>
      <path class="mdc-notched-outline__path"/>
    </svg>
  </div>
  <div class="mdc-notched-outline__idle"></div>
</div>
<i id="submit_category_form" class="material-icons md-24 mdc-icon-button mdc-theme--primary mdc-ripple-surface icon-list">
  check
</i>
<i id="clear_category_form" class="material-icons md-24 mdc-icon-button mdc-theme--primary mdc-ripple-surface icon-list">
  clear
</i>

<p class="form-helper-text" aria-hidden="true">
  {{ form.title.help_text|safe }}
</p>
{{ form.title.errors }}
