{% load i18n add_class %}

<form id="category_create_form" action="{% url 'category-create' %}" method="post">
  {% csrf_token %}
  {% for field in form %}
    <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--dense" data-mdc-auto-init="MDCTextField">
      {{ field|add_class:"mdc-text-field__input" }}
      {{ field.label_tag|add_class:"mdc-floating-label"|cut:":" }}
      <div class="mdc-notched-outline">
        <svg>
          <path class="mdc-notched-outline__path"/>
        </svg>
      </div>
      <div class="mdc-notched-outline__idle"></div>
    </div>
    {{ field.errors }}
  {% endfor %}
  <i id="submit_category_form" class="material-icons md-24 mdc-icon-button mdc-theme--primary mdc-ripple-surface icon-list">
    create
  </i>
  <i id="clear_category_form" class="material-icons md-24 mdc-icon-button mdc-theme--primary mdc-ripple-surface icon-list ">
    clear
  </i>
</form>

<script>
'use strict';

$( "#submit_category_form" ).click(function() {
  $( "#category_create_form" ).submit();
});

$( "#clear_category_form" ).click(function() {
  $( "#category_form" ).load("{% url 'category-form' %}", function(){
    bundle.bindAjaxTextInputForm('show_category_form', 'category_form', "{% url 'category-create' %}");
    bindCategoryAutofill();
    bundle.autoInit();
  });
});

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!bundle.csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", bundle.getCookie('csrftoken'));
        }
    }
});

// Attach a submit handler to the form
$( "#category_create_form" ).submit(function( event ) {

  // Stop form from submitting normally
  event.preventDefault();

  // Get some values from elements on the page:
  var $form = $( this );
  var title = $form.find( "input[name='title']" ).val();
  var url = $form.attr( "action" );

  // Send the data using post
  var posting = $.post( url, { title: title } );

  // Put the results in a div
  posting.done(function(data) {
    $('#category_form').empty().append(data);
    bundle.bindAjaxTextInputForm('show_category_form', 'category_form', "{% url 'category-create' %}");
    bindCategoryAutofill();
    bundle.autoInit();
  });
});
</script>
