{% extends 'peerinst/base.html' %}

{% load add_class i18n %}

{% block body %}
<main>
  <section>
  <div class="meta-container">

    <div class="container">

      {% block pretext %}{% endblock %}
      <h1 class="mdc-typography--display3" style="position:sticky;">{% trans 'Question' %}
        <svg class="underline" width=150 height=4></svg>
      </h1>

      {% if not user.student and assignment %}
      <div class="admin-link">
        <a href="{% url 'question-list' assignment_id=assignment.pk %}">{% trans 'Back to assignment' %}</a>
        {% if question.user = user or user in question.collaborators.all %}
        <span style="padding-left:0.3em;padding-right:0.5em;">|</span>
        <a href="{% url 'question-update' question.id %}">{% trans 'Edit question' %}</a>
        {% endif %}
        {% if first_choice_label and second_choice_label %}
        <span style="padding-left:0.3em;padding-right:0.5em;">|</span><a href="{% url 'reset-question' assignment_id=assignment.pk question_id=question.id %}">{% trans 'Reset answers' %}</a>
        {% endif %}
      </div>
      {% endif %}

      {% block extra_title %}{% endblock %}

      <h2 class="mdc-typography--display1 mdc-theme--secondary">{{question.title}}</h2>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}

      <div class="mdc-typography--body1">
        {{ question.text|safe }}
      </div>

      {% if question.image %}
      <img class="question-image" src="{{ question.image.url }}" height="{{ question.image.height }}"
           width="{{ question.image.width }}" alt="question.image_alt_text">
      {% endif %}

      {% if question.video_url %}
      <div id="question-video">
        <object width="640" height="390" data="{{ question.video_url }}"></object>
      </div>
      {% endif %}

      {% block answers %}{% endblock %}

      {% if form %}
      {% block form %}
      <form method="post">
        {% csrf_token %}
        {% block inner_form %}
        <!--
        <span class="mdc-typography--body1">{{ form.first_answer_choice.label }}</span>
        -->
        <ul>
        {% for choice in form.first_answer_choice %}
          <li>
            <div class="mdc-form-field">
              <div class="mdc-radio" data-mdc-auto-init="MDCRadio">
                {{ choice.tag|add_class:"mdc-radio__native-control" }}
                <div class="mdc-radio__background">
                  <div class="mdc-radio__outer-circle"></div>
                  <div class="mdc-radio__inner-circle"></div>
                </div>
              </div>
              <label class="mdc-typography--body1" for="{{ choice.id_for_label }}">{{ choice.choice_label }}</label>
            </div>
          </li>
        {% endfor %}
        </ul>
        <div class="mdc-text-field mdc-text-field--textarea mdc-theme--background" data-mdc-auto-init="MDCTextField">
          {{ form.rationale|add_class:"mdc-text-field__input" }}
          <label for="id_rationale" class="mdc-floating-label"> {{ form.rationale.label }}</label>
        </div>
        {% endblock %}
        {% if lti or not assignment_expired %}
        <div style="margin-top:20px;">
          <input class="mdc-button mdc-button--raised" type="submit" value="{% block submit_button %}{% trans 'Next' %}{% endblock %}" />
        </div>
        {% endif %}
      </form>
      {% endblock %}
      {% endif %}
    </div>

    {% block extra_content %}{% endblock %}
  </div>

  {% if not lti and assignment %}
  <div class='nav-question' style='border-top:solid;border-width:1px;border-color:LightGray;'>

    {% if not assignment_first %}
    <a class='prev-question' href="{% url 'navigate-assignment' assignment_id=assignment.pk question_id=question.id direction='prev' index='x' %}">
      <i class="inline material-icons md-60 mdc-theme--primary">
        keyboard_arrow_left
      </i>
    </a>
    {% endif %}

    <div style='position:absolute;bottom:50%;left:50%;transform:translate(-50%,50%);'>
      {% for q in group_assignment.questions %}
      <a href="{% url 'navigate-assignment' assignment_id=assignment.pk question_id=q.id direction='goto' index=forloop.counter0 %}">
        <svg height="12" width="20">
          {% if q.id == question.id %}
            <circle cx="10" cy="6" r="5" fill="#54c0db" stroke="#54c0db" style="cursor:pointer;"></circle>
          {% else %}
            <circle cx="10" cy="6" r="5" fill="white" stroke="#54c0db" style="cursor:pointer;"></circle>
          {% endif %}
        </svg>
      </a>
      {% endfor %}
    </div>

    {% if assignment_last %}
    {% if not assignment_expired %}
    <a class='next-question mdc-button mdc-button--unelevated' href="{% url 'finish-assignment' %}">
      Finish
    </a>
    {% endif %}
    {% else %}
    <a class='next-question' href="{% url 'navigate-assignment' assignment_id=assignment.pk question_id=question.id direction='next' index='x' %}">
      <i class="inline material-icons md-60  mdc-theme--primary">
        keyboard_arrow_right
      </i>
    </a>
    {% endif %}

  </div>
  {% endif %}

</section>
</main>
{% endblock %}
