{% extends 'peerinst/base.html' %}

{% load i18n %}
{% load get_value %}
{% block body %}

<main>

    <section>
    <h1>Report</h1>
    

        <span>
            <h2>Question-level Gradebook</h2>
            <table>
                <tr>
                    <td>Question</td>
                    {% for label in gradebook_keys %}
                    <td>{{ label }}</td>
                    {% endfor %}
                </tr>
                {% for question in gradebook_question %}
                <tr>
                    <td>{{question.question.title}}</td>

                        {% for label in gradebook_keys %}
                            <td>{{ question|get_value:label }}</td>
                        {% endfor %}
                </tr>
                {% endfor %}               
            </table>
        </span>

        <span>
            <h2>Student-level gradebook</h2>
            <table>
                <tr>
                    <td>Student</td>
                        {% for label in gradebook_keys %}
                            <td>{{ label }}</td>
                        {% endfor %}
                        {% for question in question_list %}
                            <td> {{ question.title }} </td>                        
                        {% endfor %}
                </tr>
            {% for student in gradebook_student %}
                <tr>
                    <td>{{student.student}}</td><td>{{student.N}}</td><td>{{student.RR}}</td><td>{{student.RW}}</td><td>{{student.WR}}</td><td>{{student.WW}}</td>

                    {% for question in question_list %}
                        <td> {{ student|get_value:question }}</td>
                    {% endfor %}

                </tr>
            {% endfor %}               
            </table>
        </span>
        
        <ul>
            {% for assignment in data %}
            <li>
                <span>
                <h2>{{ assignment.assignment }}</h2>

                <span>
                    <h3>Overall Student Transitions</h3>
                    <ul>
                    {% for transition in assignment.transitions %}
                        <li>{{ transition.transition_type }} : {{ transition.count }}</li>
                    {% endfor %}
                    </ul>
                </span>

                {% for question in assignment.questions %} 
                    {% if question.show %}               
                    <ul>
                        <li>
                            <span>
                                <h3>Question : {{ question.title }}</h3>
                                {{ question.text|striptags }}
                                {% if question.question_image %}
                                    <div>
                                      <img style="display:block;margin:auto;
                                      padding-top:10pt;
                                      padding-bottom:10pt;"  src="{{ question.question_image.url }}"
                                           alt="g.question.image_alt_text">
                                    </div>
                                {% endif %}
                            </span>

                            <span>
                            <h3>Summary</h3>
                                Total Number Responses: {{ question.num_responses}} 
                                {% for distribution in question.answer_distributions %}
                                <h4>{{ distribution.label }}</h4>
                                <h5>Count:Answer Choice</h5>
                                    <ul>
                                    {% for answer_choice in distribution.data %}
                                        <li> {{ answer_choice.count }} : {{ answer_choice.answer_choice }}
                                            {% if answer_choice.answer_choice_correct %}
                                            <em>(Correct)</em>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}

                                 
                                {% for transition in question.transitions %}
                                <!-- <h4>{{ distribution.label }}</h4> -->
                                <h5>Count: Transition Type</h5>
                                    <ul>
                                    {% for answer_choice in transition.data %}
                                        <li> {{ answer_choice.count }} : {{ answer_choice.transition_type }}</li>
                                    {% endfor %}
                                    </ul>
                                {% endfor %}



                            </span>

                            <span>
                            <h4>Confusion Matrix</h4>
                            <table>
                                {% for first_ans in question.confusion_matrix %}
                                <tr>
                                    {% for second_ans in first_ans.second_answer_choice %}
                                    <td>{{second_ans.N}}</td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}                                
                            </table>
                            </span>

                            <span>
                            <h3>Student Responses</h3>
                                <ul>
                                {% for student_response in question.student_responses %}
                                    
                                    <ul>
                                        <em><li>Student: {{ student_response.student }}</li></em>
                                        <li>First Answer: {{ student_response.first_answer_choice }}</li>
                                        <li>Rationale: {{ student_response.rationale }}</li>
                                        <li>Second Answer: {{ student_response.second_answer_choice }}</li>
                                        <li>Chosen Rationale: {{ student_response.chosen_rationale }}</li>
                                    </ul>
                                    
                                {% endfor %}
                                </ul>
                            </span>
                        </li>
                    </ul>
                    {% endif %}
                {% endfor %}
                </span>
            </li>

            {% endfor %}
        
        </ul>                        

    </section>

</main>
{% endblock %}