{% extends 'peerinst/base.html' %}

{% load compress i18n %}
{% block body %}

<main>
  <section>

    <h1 class="mdc-typography--display3" style="position:sticky;">{% trans 'Custom Reports' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' teacher_id %}">{% trans 'Back to My Account' %}</a>
    </div>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Parameters' %}</h2>

    <div class='field-container'>
      <div class='number-box'><span class='number'>?</span></div>
      <div class='field'>
        <p><small>
          {% blocktrans %}
          This report generator will present results for the intersection between selected groups and selected assignments.
          {% endblocktrans %}
        </small></p>
      </div>
    </div>

    <form action="{% url 'report-custom' %}" method='get'>
        {{ report_select_form.as_p }}
        <div style="margin-top:20px;">
          <input class="mdc-button mdc-button--raised" type="submit" value="{% block submit_button %}{% trans 'Generate Report' %}{% endblock %}" />
        </div>
    </form>
    
  </section>
</main>

{% endblock %}
