{% extends 'peerinst/base.html' %}

{% load i18n get_value %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<style>
ul {
  padding-left:0px;
}
</style>
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3" style="position:sticky;">{% trans 'Report' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' pk=teacher.pk %}">{% trans 'Back to My Account' %}</a>
      <span style="padding-left:0.3em;padding-right:0.5em;">|</span><a href="{% url 'report_selector' %}">{% trans 'Back to Custom Reports' %}</a>
    </div>

    <h2 id='question_gradebook' class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Question-level gradebook' %}</h2>

    <table id='question_gradebook_table' class="display">
        <thead>
          <tr>
            <th>Question</th>
            {% for label in gradebook_keys %}
            <th>{{ label }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
      {% for question in gradebook_question %}
      <tr>
        <th class="mdc-ripple-surface"><a href="#{{question.question.title}}">{{question.question.title}}</a></th>
        {% for label in gradebook_keys %}
        <td>{{ question|get_value:label }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <h2 id="student_gradebook" class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Student-level gradebook' %}</h2>

    <table id='student_gradebook_table' class='display'>
      <thead>
        <tr>
          <th>Student</th>
          {% for label in gradebook_keys %}
          <th>{{ label }}</th>
          {% endfor %}
          {% for question in question_list %}
          <th> {{ question.title }} </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for student in gradebook_student %}
        <tr>
          <th id="{{ student.student }}">{{student.student}}</th>
          <td>{{student.N}}</td>
          <td>{{student.RR}}</td>
          <td>{{student.RW}}</td>
          <td>{{student.WR}}</td>
          <td>{{student.WW}}</td>
          {% for question in question_list %}
          {% if student|get_value:question != '-' %}
          <td class="mdc-ripple-surface">  <a href="#{{ student.student }}{{ question.title }}">{{ student|get_value:question }}</a></td>
          {% else %}
          <td>{{ student|get_value:question }}</td>
          {% endif %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2 class="mdc-typography--display1 mdc-theme--secondary">{% trans 'Details by Assignment' %}</h2>

    <ul>
    {% for assignment in data %}
      <li>
        <span>
        <h3>{{ forloop.counter }}. {{ assignment.assignment }}</h3>

        <span>
            <h4>Overall Student Transitions</h4>
            <ul>
            {% for transition in assignment.transitions %}
                <li>{{ transition.transition_type }} : {{ transition.count }}</li>
            {% endfor %}
            </ul>
        </span>

        {% for question in assignment.questions %}
            {% if question.show %}
            <ul>
                <li>
                    <span>
                        <h4 id="{{ question.title }}">Question : {{ question.title }}</h4>
                        <div class="admin-link">
                            <a href="#question_gradebook">Back to top</a>
                        </div>
                        {{ question.text|safe }}
                        {% if question.question_image %}
                            <div>
                              <img style="display:block;margin:auto;padding-top:10pt;padding-bottom:10pt;"  src="{{ question.question_image.url }}" alt="g.question.image_alt_text">
                            </div>
                        {% endif %}
                        <ol type='A'>
                        {% for a in question.answer_choices %}
                        <li>{{ a.text | safe}}
                            {% if a.correct %}
                              <em>(Correct)</em>
                            {% endif %}
                        </li>
                        {% endfor %}
                        </ol>
                    </span>

                    <span>
                    <h4>Summary</h4>
                        Total Number Responses: {{ question.num_responses}}
                        {% for distribution in question.answer_distributions %}
                        <div>
                        <h5>{{ distribution.label }}</h5>
                        <h6>Count:Answer Choice</h6>
                            <ul>
                            {% for answer_choice in distribution.data %}
                                <li> {{ answer_choice.count }} : {{ answer_choice.answer_choice }}
                                    {% if answer_choice.answer_choice_correct %}
                                    <em>(Correct)</em>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                        {% endfor %}

                         <div>
                        {% for transition in question.transitions %}
                        <!-- <h4>{{ distribution.label }}</h4> -->
                        <h6>Count: Transition Type</h6>
                            <ul>
                            {% for answer_choice in transition.data %}
                                <li> {{ answer_choice.count }} : {{ answer_choice.transition_type }}</li>
                            {% endfor %}
                            </ul>
                        {% endfor %}
                        </div>


                    </span>

                    <span>
                    <h4>Confusion Matrix</h4>
                    <table>
                        {% for first_ans in question.confusion_matrix %}
                        <tr>
                            {% for second_ans in first_ans.second_answer_choice %}
                            <td>{{second_ans.N}}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </table>
                    </span>

                    <span>
                    <h4>Student Responses</h4>
                      <div class="admin-link">
                        <a href="#student_gradebook">Back to top</a></div>

                        <table id="student_responses_table" class="display">
                            <thead>
                            <tr>
                                <th>Student</th>
                                <th>First Answer</th>
                                <th>Rationale</th>
                                <th>Second Answer</th>
                                <th>Chosen Rationale</th>
                                <th>Submitted</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for student_response in question.student_responses %}

                            <tr>
                                <th id="{{student_response.student}}{{ question.title }}" class="mdc-ripple-surface">
                                    <a href="#{{ student_response.student }}">{{ student_response.student }}</a></th>
                                <td>{{ student_response.first_answer_choice }}</td>
                                <td>{{ student_response.rationale }}</td>
                                <td>{{ student_response.second_answer_choice }}</td>
                                <td>{{ student_response.chosen_rationale }}</td>
                                <td>{{ student_response.submitted }}</td>
                            </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </span>

                </li>
            </ul>
            {% endif %}
        {% endfor %}
        </span>
          </li>

          {% endfor %}

      </ul>

  </section>
</main>
{% endblock %}

{% block scripts %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

<script>
$(document).ready( function () {
  $('table.display').DataTable(
    );
});

// var json = {{ json|safe }}

// $(document).ready( function () {
//   $('#question_gradebook_table').DataTable();
// });

// $(document).ready( function () {
//   $('#student_gradebook_table').DataTable({
//         "scrollX": true
//     }
//     );
// });

// $(document).ready( function () {
//   $('#student_responses_table').DataTable();
// });

</script>
{% endblock %}
