{% extends 'peerinst/base.html' %}

{% load i18n %}

{% block stylesheets %}
<style>
.progress-chart {
  display: block;
  margin: 40px auto;
  overflow: visible;
}
</style>
{% endblock %}

{% block body %}
<main>
  <section>
    <h1 class="mdc-typography--display3">{% trans 'Student Activity' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <div class="admin-link">
      <a href="{% url 'teacher' user.teacher.id %}">{% trans 'Back to My Account' %}</a>
    </div>

    {% for group, dataset in data.items %}
    {% for assignment, answers in dataset.items %}

    {% if answers.answers|length > 0 %}
    <h3 class="mdc-typography--headline mdc-theme--secondary">
      {{ group.title }}
      <i class="material-icons" style="vertical-align:middle;">keyboard_arrow_right</i>
      <a href="{% url 'group-assignment' assignment.hash %}">{{ assignment.assignment }}</a>
    </h3>

    <ul style='font-size:9pt;'>
      <li>Distributed: {{assignment.distribution_date}}</li>
      <li>Due: {{assignment.due_date}}</li>
      <li>Answers submitted: {{ answers.answers|length }}</li>
      <li>New answers since last login: {{ answers.new|length }} </li>
      <li>Percent complete: {{ answers.percent_complete }}%</li>
    </ul>

    <svg class="progress-chart" group="{{group.name}}" assignment="{{assignment.assignment}}" width=600 height=70></svg>

    {% endif %}
    {% endfor %}

    <!--Group stats
    Time of day histogram
    Day of week histogram
    -->
    {% endfor %}

  </section>
</main>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
let data = {{ json|safe }};

$('.progress-chart').each(function() {
  let dataset = data[$(this).attr('group')][$(this).attr('assignment')];
  plotTimeSeries(this, dataset);
});

function plotTimeSeries(el, d) {
  svg = d3.select(el);
  let width = +svg.attr('width');
  let height = +svg.attr('height');

  let x = d3.scaleUtc().domain([new Date(d3.utcParse(d.distribution_date)), new Date( d3.utcParse(d.due_date))]).range([0, width]);
  let y = d3.scaleLinear().domain([0, d.total]).range([height, 0]);

  let xAxis = d3.axisBottom(x);
  let xAxisTop = d3.axisTop(x).ticks('');
  let yAxis = d3.axisLeft(y);

  let g = svg.append('g');

  g.append('g').attr('transform', 'translate(0,'+height+')').call(xAxis);
  g.append('g').call(xAxisTop);

  var f = d3.line()
  .x(function(d){return x(new Date(d3.utcParse(d)));})
  .y(function(d,i) { return y(i+1); })
  .curve(d3.curveStepAfter);

  g.append('g')
  .selectAll('path')
  .data([d.answers])
  .enter().append('path')
  .attr('stroke', '#004266')
  .attr('stroke-width', '1px')
  .attr('stroke-linecap', 'round')
  .attr('fill', 'none')
  .attr('d', f);

  g.append('path')
  .attr('stroke', 'black')
  .attr('fill', 'none')
  .attr('d', function() {
    var path = d3.path();
    let _x = x(new Date(d3.utcParse(d.last_login)));
    path.moveTo(_x, y(0));
    path.lineTo(_x, y(d.total));
    return path;
  });

  g.append('rect')
  .attr('stroke', 'none')
  .attr('fill', 'gray')
  .style('opacity', 0.1)
  .attr('x', function() { return x(new Date(d3.utcParse(d.last_login))); })
  .attr('y', function() { return 0; })
  .attr('width', function() { return x(new Date(d3.utcParse(d.now))) - x(new Date(d3.utcParse(d.last_login))); })
  .attr('height', height);

  g.append('path')
  .attr('class', 'slider')
  .attr('stroke', 'gray')
  .attr('stroke-width', '0.5px')
  .attr('d', function() {
    let path = d3.path();
    path.moveTo(0, height+30);
    path.lineTo(0, -6);
    return path;
  });

  g.append('text')
  .attr('class', 'slider-label-bottom')
  .attr('x', 0)
  .attr('dx', 5)
  .attr('y', height+30)
  .attr('dy', 5)
  .attr('text-anchor', 'start')
  .style('font-size', '10px')
  .style('font-family', 'sans-serif')
  .text();

  g.append('text')
  .attr('class', 'slider-label-top')
  .attr('x', 0)
  .attr('y', 0)
  .attr('dy', -10)
  .attr('text-anchor', 'middle')
  .style('font-size', '10px')
  .style('font-family', 'sans-serif')
  .text();

  svg.on('mousemove', function() {
    g.select('.slider').attr('d', function() {
      let path = d3.path();
      path.moveTo(d3.mouse(this)[0], height+30);
      path.lineTo(d3.mouse(this)[0], -6);
      return path
    })
    g.select('.slider-label-bottom').attr('x', d3.mouse(this)[0]).text(x.invert(d3.mouse(this)[0]));
    g.select('.slider-label-top').attr('x', d3.mouse(this)[0]).text(d3.bisectLeft(d.answers.map(x => new Date(d3.utcParse(x))),x.invert(d3.mouse(this)[0])));
  })

}
</script>
{% endblock %}
