{% load compress i18n static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Meta -->
  <title>{% trans 'Error' %}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="myDALITE">

  <link href="{% static 'peerinst/img/SALTISE-logo-icon.gif' %}" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  {% compress css file errors %}
  <link href="{% static 'peerinst/css/error.min.css' %}" rel="stylesheet">
  {% endcompress %}
</head>

<body>
  {% block body %}{% endblock %}

  <p>
    {% autoescape off %}
    {{ message }}
    {% endautoescape %}
  </p>

  <div class="corner_graphic" id="outer"></div>
  <div class="corner_graphic" id="mid"></div>
  <div class="corner_graphic" id="inner"></div>
  <div class="corner_graphic" id="corner"></div>
</body>
</html>
