@import '../../peerinst/css/variables';

#student-login {
  & h1 {
    position: sticky;
  }

  & form {
    margin-top: 44px;
    display: flex;
    flex-direction: column;
    width: 275px;

    & > * {
      margin-bottom: 30px;
    }
  }

  & a {
    color: $mdc-theme-primary !important;
  }
}
