bleach
celery[redis]
django-celery-beat
django-analytical
django-compressor>=2.3
django-cookie-law
django-grappelli
django-htmlmin
django<3.0.0
mysqlclient
pillow
pyjwt
# pymysql
python-memcached==1.59
pytz
requests
django-security-headers>=0.3
packaging
djangorestframework
pandas

-e git+https://github.com/SALTISES4/django-lti-tool-provider@dev#egg=django_lti_tool_provider
-e git+https://github.com/edx/opaque-keys#egg=opaque-keys
-e git+https://github.com/SALTISES4/pinax-forums@dev#egg=pinax_forums
-e git+https://github.com/SALTISES4/django-cookies-samesite#egg=django_cookies_samesite
-e git+https://github.com/SALTISES4/CourseFlow#egg=CourseFlow
-e git+https://github.com/aahilgert/UserFeedback@master#egg=user_feedback
