@import "../../peerinst/css/variables";

#CookielawBanner {
  background-color: $mdc-theme-secondary;
  bottom: 10px;
  color: white;
  left: 50%;
  max-width: 400px;
  position: fixed;
  transform: translateX(-50%);
  width: 100%;
  z-index: 2;

  & p {
    margin: 0px;
    padding: 20px;
  }

	& a {
    background-color: white;
    color: $mdc-theme-secondary !important  ;
		display: block;
		margin: auto;
    margin-bottom: 20px;
		width: max-content;
	}
}
