{% extends 'peerinst/base.html' %}

{% load static i18n %}

{% block stylesheets %}
<link href="{% static 'peerinst/css/student.min.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
  <section id="student-assignment-complete">

    {% if has_expired %}

    <h1 class="mdc-typography--display3">
      {% trans 'Assignment expired' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <p>
      {% blocktrans %}
      Unfortunately, this assignment has expired. You may look at your answers,
      but may not answer any new questions.
      {% endblocktrans %}
    </p>

    {% else %}

    <h1 class="mdc-typography--display3">
      {% trans 'Assignment Complete' %}
      <svg class="underline" width=150 height=4></svg>
    </h1>

    <p>
      {% blocktrans %}
      You've finished this assignment. You may go back and look at your
      answers.
      {% endblocktrans %}
    </p>

    {% endif %}

    <a href="{% url 'question' assignment_id question_id %}" class="mdc-button mdc-button--raised">
      Go back to assignment
    </a>

  </section>
</main>
{% endblock %}
