{% extends 'peerinst/_base.html' %}

{% load compress staticfiles i18n %}

{% block stylesheets %}
{% compress css %}
<link href="{% static 'peerinst/css/student.min.css' %}" rel="stylesheet">
<link href="{% static 'peerinst/css/layout.min.css' %}" rel="stylesheet">
{% endcompress %}
{% endblock %}

{% block scripts %}
{% compress js %}
<script src="{% static 'peerinst/js/student.min.js' %}"></script>
<script nonce="{{ request.csp_nonce }}">
  window.addEventListener("load", function() {
    student.initStudentHeader(
      "{% url 'student-get-notifications' %}"
    )
  });
</script>
{% endcompress %}
{% endblock %}

{% block logged_in_layout_class %}
class="logged-in-layout"
{% endblock %}

{% block header-left %}
<div class="header">
    {% include 'peerinst/student/header/menu.html' %}
</div>
{% endblock %}

{% block header-right %}
{% if not request.session.LTI %}
<div class="header">
  {% include 'peerinst/student/header/notifications.html' %}
</div>
{% endif %}
{% endblock %}
