@import "../variables";

.notifications {
  color: $mdc-theme-secondary;
  position: relative;

  & .notifications__icon {
    background: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background 300ms, border-radius 200ms;
    z-index: 2;

    &:hover {
      background: rgba(255, 255, 255, 0.25);

      & i:hover {
        background: none;
      }
    }

    & i {
      color: #ffffff;
      padding: 5px;
      transition: color 300ms;
    }

    & .notifications__icon__badge {
      align-items: center;
      background: #b30000;
      border-radius: 11px;
      color: #ffffff;
      display: none;
      font-size: 17px;
      height: 22px;
      justify-content: center;
      position: absolute;
      right: 2px;
      top: 2px;
      width: 22px;
      z-index: 3;
    }
  }

  & .notifications__list {
    align-items: center;
    background: #ffffff;
    border-radius: 20px 0 20px 20px;
    display: grid;
    font-size: 1.1rem;
    grid-template-columns: minmax(300px, 600px);
    grid-template-rows: max-content minmax(50px, max-content);
    position: absolute;
    right: 21px;
    text-align: center;
    top: 21px;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 300ms, top 300ms, right 300ms;

    & .notifications__notifications {
      border-radius: 20px 0 0 0;
      display: grid;
      grid-auto-rows: max-content;
      height: auto;
      height: 100%;
      max-height: 70vh;
      overflow-y: auto;

      & .notifications__no-new {
        padding-top: 20px;
      }
    }

    & .notification {
      align-items: center;
      border-bottom: 1px solid rgba($mdc-theme-primary, 0.25);
      border-top: none;
      cursor: pointer;
      display: flex;
      // height: 100%;
      justify-content: center;
      padding: 10px 20px;
      text-align: start;

      &:hover {
        background: rgba($mdc-theme-primary, 0.25);
        transition: background 300ms;
      }

      &:active {
        background: rgba($mdc-theme-primary, 0.5);
        transition: background 300ms;
      }

      &:first-child {
        border-top: 1px solid rgba($mdc-theme-primary, 0.25);
      }
    }

    & .notifications__read-all-btn {
      align-self: center;
      cursor: pointer;
      font-size: 0.8rem;
      justify-self: center;
      text-align: center;
      text-decoration: underline;
    }
  }

  &[open] {
    & .notifications__icon {
      background: #ffffff;
      border-radius: 20px 20px 0 0;

      &:hover {
        background: #ffffff;
      }

      & i {
        color: $mdc-theme-primary;
      }
    }

    & .notifications__list {
      box-shadow: 0 1px 1px #bdbdbd;
      right: 0;
      top: 40px;
      transform: scale(1);
      z-index: 2;
    }
  }
}

.logout {
  visibility: hidden;
}

@media only screen and (max-width: 400px) {
  .notifications {
    position: static;
    & .notifications__list {
      border-radius: 0;
      grid-template-columns: 100vw;
      height: calc(100vh - 50px);
      left: 0;
      right: 0;
      top: 50px;
      transform: scaleY(0);
      transform-origin: top center;
      & .notifications__notifications {
        max-height: calc(100vh - 50px - 50px);
      }
    }

    &.notifications--open {
      & .notifications__list {
        left: 0;
        right: 0;
        top: 50px;
        transform: scaleY(1);
      }
    }
  }
}
