@import "../variables";

i {
  vertical-align: middle;
}

#student-page ul {
  padding-top: 0;
}

.course-flow-button {
  cursor: pointer;
  transform: translate(-5px, 4px);
}

#student-add-group {
  & .admin-link {
    color: #a9a9a9;
    cursor: pointer;
  }

  & #student-add-group--box {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    cursor: auto;
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    & div {
      background: #ffffff;
      border: 1px solid $mdc-theme-secondary;
      border-radius: 5px;
      color: $mdc-theme-secondary;
      max-width: 85%;
      padding: 15px;
      text-align: center;
      width: 500px;

      & p {
        text-align: start;
      }

      & #student-add-group__error {
        color: $error;
        display: block;
        font-style: italic;
        // height: 25px;
        margin: 0;
        margin-top: 10px;
        text-align: center;

        &[hidden] {
          opacity: 0;
        }
      }

      & input {
        border: 1px solid lightgray;
        border-radius: 5px;
        display: block;
        margin: 25px auto 0 auto;
        max-width: 100%;
        padding: 5px 10px;
        width: 180px;

        &:focus-within,
        &:focus {
          border: 2px solid rgba(darken($mdc-theme-primary, 25%), 0.5);
        }

        &.input--error {
          border: 2px solid rgba($error, 0.5);
        }
      }

      & select {
        background: darken($mdc-theme-primary, 10%);
        border: none;
        border-radius: 3px;
        color: #ffffff;
        font-family: inherit;
        font-size: 16px;
        font-weight: bold;
        margin: 25px 100px 0 100px;
        padding: 5px 10px;
        width: 200px;

        &:disabled {
          opacity: 0.6;
        }
      }

      & button {
        margin-top: 25px;
        width: 100px;
      }

      & button:first-of-type {
        --mdc-theme-primary: #339966;
        margin-right: 50px;
      }

      & button:nth-of-type(2) {
        --mdc-theme-primary: #339966;
        border: 1px solid var(--mdc-theme-primary);
        color: var(--mdc-theme-primary) !important;
      }
    }
  }
}

#student-groups {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 25px;

  & .student-group {
    font-family: $mdc-typography-font-family;
    margin-bottom: 25px;
    width: 100%;

    & a {
      color: inherit;
    }

    & .student-group--title {
      align-items: center;
      background: $mdc-theme-primary;
      border-radius: 5px 5px 0 0;
      color: #ffffff;
      display: grid;
      grid-template-columns: 200px minmax(min-content, 1fr) 200px;
      padding: 10px 5px;

      & .student-group--id {
        align-items: center;
        display: grid;
        grid-column: 1;
        grid-gap: 5px;
        grid-template-columns: 34px min-content 33px 33px;
        position: relative;

        & i {
          border-radius: 15px;
          color: white;
          cursor: pointer;
          padding: 4px;
          transition: background 300ms;

          &:hover {
            background: rgba(255, 255, 255, 0.25);
          }

          &:active {
            background: rgba(255, 255, 255, 0.5);
          }
        }

        & .student-group--id__copy {
          grid-column: 1;
          visibility: hidden;
        }

        & .student-group--id__id {
          border: 1px solid rgba(255, 255, 255, 0.75);
          border-radius: 3px;
          cursor: pointer;
          font-weight: bold;
          grid-column: 2;
          padding: 2px 5px;
        }

        & .student-group--id__input {
          border: 1px solid darken($mdc-theme-primary, 10%);
          border-radius: 20px;
          grid-column: 1 / span 2;
          padding: 2px 10px;
          width: 100px;
        }

        & .student-group--id__edit {
          grid-column: 3;
        }

        & .student-group--id__confirm {
          grid-column: 3;
        }

        & .student-group--id__cancel {
          grid-column: 4;
        }

        & .student-group--id__alert {
          background: #ffffff;
          border: 1px solid $mdc-theme-primary;
          border-radius: 5px;
          color: $mdc-theme-secondary;
          font-size: 0.9rem;
          height: 60px;
          padding: 10px;
          position: absolute;
          right: -110px;
          text-align: justify;
          top: -20px;
          white-space: normal;
          width: 200px;
        }
      }

      & h3 {
        display: flex;
        font-weight: bold;
        grid-column: 2;
        height: min-content;
        justify-content: center;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & .student-group--icons {
        display: flex;
        flex-direction: row;
        grid-column: 3;
        justify-content: space-evenly;
        justify-self: end;
        width: 100px;

        & .student-group--notifications {
          & i {
            border-radius: 15px;
            color: white;
            cursor: pointer;
            padding: 4px;
            transition: background 300ms;

            &:hover {
              background: rgba(255, 255, 255, 0.25);
            }

            &:active {
              background: rgba(255, 255, 255, 0.5);
            }
          }
          & .student-group--notifications__disabled {
            color: darken($mdc-theme-primary, 20%);
          }
        }

        & .student-group--remove {
          border-radius: 15px;

          & i {
            border-radius: 15px;
            color: white;
            cursor: pointer;
            padding: 4px;
            transition: background 300ms;

            &:hover {
              background: rgba(255, 255, 255, 0.25);
            }

            &:active {
              background: rgba(255, 255, 255, 0.5);
            }

            & ~ .student-group--remove-confirmation-box {
              align-items: center;
              background: rgba(0, 0, 0, 0.5);
              cursor: auto;
              height: 100%;
              justify-content: center;
              left: 0;
              position: fixed;
              top: 0;
              width: 100%;
              z-index: 2;

              & div {
                background: #ffffff;
                border: 1px solid $mdc-theme-primary;
                border-radius: 5px;
                box-shadow: 0 1px 1px 1px darken($mdc-theme-primary, 30%);
                color: #000000;
                padding: 25px 50px;
                text-align: center;
                width: 500px;

                & p:first-of-type {
                  text-align: start;
                }

                & button {
                  margin-top: 25px;
                  width: 100px;
                }

                & button:first-of-type {
                  --mdc-theme-primary: #cc0000;
                  margin-right: 50px;
                }

                & button:nth-of-type(2) {
                  --mdc-theme-primary: #cc0000;
                  border: 1px solid var(--mdc-theme-primary);
                  color: var(--mdc-theme-primary) !important;
                }
              }
            }
          }
        }
      }
    }

    & .student-group--assignments {
      background: lighten($mdc-theme-primary, 25%);
      border-radius: 0 0 5px 5px;
      min-height: 200px;
      padding: 10px 5px;

      & ul {
        padding: 0;
      }

      & .student-group--assignment {
        align-items: center;
        color: inherit;
        cursor: pointer;
        display: grid;
        grid-template-columns: 50px 50px 1fr max-content;
        height: 32px;
        justify-items: center;

        & .student-group--assignment-icon {
          text-align: center;

          & i {
            padding: 4px;
          }
        }

        & .student-group--assignment-questions {
          align-items: center;
          display: flex;
          font-size: 13px;
          justify-content: center;
          justify-items: center;

          & span {
            padding: 0 2px;
          }
        }

        & .student-group--assignment-title {
          font-size: 18px;
          justify-self: start;
          overflow: hidden;
          padding-left: 20px;
          text-overflow: ellipsis;
          white-space: nowrap;
          width: calc(100% - 50px);
        }

        & .student-group--assignment-date {
          font-size: 13px;
          opacity: 0.9;
          padding-right: 20px;
          text-align: end;

          & i {
            margin-right: 10px;
          }
        }
      }

      & .student-group--assignment-complete {
        opacity: 0.7;
      }

      & .student-group--no-assignments {
        display: block;
        font-size: 18px;
        margin-top: 16px;
        text-align: center;
      }
    }
  }
}

#student-old-groups {
  display: none;
}

.blinking {
  animation: 1s ease-in-out infinite alternate blink;
}

.bubble {
  animation: 600ms ease-in-out bubble-show;
  background: rgba(50, 50, 50, 0.5);
  border-radius: 10px;
  color: #ffffff;
  font-size: 14px;
  left: 10px;
  padding: 3px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 100px;
}

@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes bubble-show {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 450px) {
  .mdc-list-item__text {
    max-width: 100%;
  }
  .mdc-list-item__meta {
    visibility: hidden;
  }
}
