@import "../../variables.scss";


.mdc-typography--display3 {
  font-size: 2.5rem;
}

.mdc-button.delete {
  background-color: $mdc-theme-secondary !important;
}

.progress-chart {
  margin-bottom: 40px;
}

@media (max-height: 650px) {
  .mdc-card__action-buttons {
    display: none;
  }
}

@media (max-width: 450px) {
  .mdc-typography--display3 {
    font-size: 2.0rem;
  }
}
